<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="keywords" content="HTML, CSS, JS, JavaScript, Jquery, bootstrap, Python, Django，博客">
    <meta name="author" content="tony">
    <link rel="icon" href="/static/images/favicon.ico">

    <title>LOVEITERS | 重置密码</title>
    {% include "header.html" %}
    <link href="/static/css/account/reset-password.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="header-logo">
        <a href="http://www.loveiters.com">
            <img src="/static/images/logo.png" class="logo"/>
        </a>
    </div>
    <form class="form-reset-password" id="form_reset_password">
        <h3 class="form-reset-password-heading text-center">重置密码</h3>
        <div class="input-group">
            <input type="text" id="email" name="email" class="form-control" placeholder="请输入邮箱">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button" id="send-email">获取验证码</button>
            </span>
        </div>
        <input type="text" id="verification_code" name="verification_code" class="form-control"
               placeholder="请输入验证码">
        <input type="password" id="password" name="password" class="form-control" minlength="3" maxlength="32"
               placeholder="请输入6-32位密码">
        <input type="password" id="confirm_password" name="confirm_password" class="form-control" minlength="3"
               maxlength="32" placeholder="请确认密码">
        <button class="btn btn-lg btn-primary btn-block" id="btn_reset_password" type="button" disabled>确定</button>
        <div class="meta">
            <a class="pull-right"  href="{% url 'index' %}">返回主页</a>
        </div>
        <div class="alert alert-warning fade" id="warning_msg" style="margin-top: 10px;">

        </div>
    </form>

</div> <!-- /container -->
<script>
    var reset_password_url = '{% url 'account:reset_password' %}'
</script>
<script>
    $(function () {
        var COUNTDOWN_SECOND = 60;
        var btn_reset_password = $("#btn_reset_password");
        var reset_password_form_input = $("#form_reset_password :input");
        bind_auto_submit(reset_password_form_input, btn_reset_password);
        bind_dismiss_msg_container($("#warning_msg"));

        btn_reset_password.click(function (e) {
            var form = $(this).parent('form');
            var email = form.find('[name="email"]').val();
            var verification_code = form.find('[name="verification_code"]').val();
            var password = form.find('[name="password"]').val();
            var confirm_password = form.find('[name="confirm_password"]').val();

            var reg_verification_code = /^[\d]{6}$/;
            var reg_email = /^([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;
            var reg_password = /^[\.\w@_-]{6,32}$/;
            var warning_div = $("#warning_msg");

            if (email == '') {
                var msg = '请输入邮箱';
                show_msg(warning_div, msg);
                return false
            }
            else if (!reg_email.test(email)) {
                var msg = '邮箱格式有误，请重新输入';
                show_msg(warning_div, msg);
                return false
            }
            else if (verification_code == '') {
                var msg = '请输入验证码';
                show_msg(warning_div, msg);
                return false
            }
            else if (!reg_verification_code.test(verification_code)) {
                var msg = '验证码为6位数字，请重新输入';
                show_msg(warning_div, msg);
                return false
            }
            else if (password == '' || confirm_password == '') {
                var msg = '请输入密码';
                show_msg(warning_div, msg);
                return false
            }
            else if (!reg_password.test(password)) {
                var msg = '密码格式有误，请重新输入';
                show_msg(warning_div, msg);
                return false
            }
            else if (password != confirm_password) {
                var msg = '密码输入不一致';
                show_msg(warning_div, msg);
                return false
            }

            $.post(
                    reset_password_url,
                    {
                        "email": email,
                        "verification_code": verification_code,
                        "password": password,
                        "confirm_password": confirm_password
                    },
                    function (data) {
                        if (data.code == 200) {
                            layer.alert(data.msg, function () {
                                window.location.href = data.redirect_url;
                            });
                        }
                        else {
                            show_msg(warning_div, data.msg);
                            return false
                        }
                    }
            );
        });

        //倒计时按钮
        function count_down_clock(btn) {
            if (COUNTDOWN_SECOND == 0) {
                $(btn).attr("disabled", false);
                $(btn).html("获取验证码");
                COUNTDOWN_SECOND = 60;
            } else {
                $(btn).attr("disabled", true);
                $(btn).html("重新发送(" + COUNTDOWN_SECOND + ")");
                COUNTDOWN_SECOND--;
                setTimeout(function () {
                            count_down_clock(btn)
                        },
                        1000);
            }
        }

        $("#send-email").click(function (e) {
            var $this = $(this);
            var reg_email = /^([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;
            var form = $(this).parent('span').parent('div').parent('form');
            var email = form.find('[name="email"]').val();

            var warning_div = $("#warning_msg");
            if (email == '') {
                var msg = '请先输入邮箱';
                layer.msg(msg, {time: 1000});
                return false
            }
            else if (!reg_email.test(email)) {
                var msg = '邮箱格式有误，请重新输入';
                layer.msg(msg, {time: 1000});
                return false
            }
            var index = layer.msg('邮件发送中...', {
                icon: 16,
                shade: 0.01,
                time: 0
            });
            $.post(
                    '{% url 'account:send_email_to_reset_password' %}',
                    {
                        "email": email
                    },
                    function (data) {
                        layer.close(index);
                        layer.alert(data.msg);
                        if (data.code == 200) {
                            $("#btn_reset_password").attr("disabled", false);
                            count_down_clock($this);
                        }
                        return false
                    }
            );

        })
    });
</script>
</body>
