<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="LOVEITERS是一个分享社区，在这里，你可以分享技术干货，分享读书心得，分享生活的点点滴滴，社区因你而不同。">
    <meta name="keywords" content="HTML, CSS, JS, JavaScript, Jquery, bootstrap, Python, Django，博客">
    <meta name="author" content="tony">
    <link rel="icon" href="/static/images/favicon.ico">

    <title>{{ site_name }} | 注册</title>
    {% include "header.html" %}
    <link href="/static/css/account/register_and_login.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="header-logo">
        <a href="http://www.loveiters.com">
            <img src="/static/images/logo.png" class="logo"/>
        </a>
    </div>
    <form class="form" id="form_register">
        <div class="form-group has-feedback">
            <span class="iconfont icon-1USER form-control-feedback"></span>
            <input type="text" id="username" name="username" class="form-control" placeholder="请输入昵称(2-32位中英文字符)" minlength="2" maxlength="32" autofocus>
        </div>
        <div class="form-group has-feedback">
            <span class="iconfont icon-icon form-control-feedback"></span>
            <input type="text" id="email" name="email" class="form-control" placeholder="请输入邮箱">
        </div>
        <div class="form-group has-feedback">
            <span class="iconfont icon-lock form-control-feedback"></span>
            <input type="password" id="password" name="password" class="form-control form-control-right" minlength="3" maxlength="32" placeholder="请输入6-32位密码">
            <span class="iconfont icon-eye-close form-control-feedback-right"></span>
        </div>
        <div class="form-group has-feedback">
            <span class="iconfont icon-lock form-control-feedback"></span>
            <input type="password" id="confirm_password" name="confirm_password" class="form-control form-control-right" minlength="3" maxlength="32" placeholder="请确认密码">
            <span class="iconfont icon-eye-close form-control-feedback-right"></span>
        </div>
        <button class="btn btn-primary btn-block" id="btn_register" data-next="{{ next }}" type="button">注册</button>
        <div class="meta">
            <a class="pull-right" id="btn_login" href="javascript:void(0)" data-next="{{ next }}">已有账号？点我登录</a>
        </div>
        <div class="alert alert-warning fade" id="warning_msg"></div>
    </form>

</div> <!-- /container -->
<script>
    var register_url = '{% url 'account:register' %}';
    var register_api_url = '{% url 'api:register' %}';
    var login_url = '{% url 'account:login' %}';
    var login_api_url = '{% url 'api:login' %}';
</script>
<script type="text/javascript">
    $(function () {
        var password_eye = $('.form-control-feedback-right');
        password_eye.off('click').on('click', function () {
            var $this = $(this);
            var password_input = $this.siblings('input');
            if ($this.hasClass('icon-eye-close')) {
                $this.removeClass('icon-eye-close').addClass('icon-eye-open');
                password_input.prop('type', 'text');
            } else {
                $this.removeClass('icon-eye-open').addClass('icon-eye-close');
                password_input.prop('type', 'password');
            }
        });
    })
</script>
<script src="/static/js/account/register.js"></script>
</body>
