{% extends "base.html" %}
{% block title %}<title>{{ site_name }} | 个人中心</title>{% endblock %}
{% block extra_header %}
    <link href="/static/cropper/cropper.min.css" rel="stylesheet">
    <link href="/static/css/account/user_info.css" rel="stylesheet">
    <script src="/static/cropper/cropper.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div id="crop-avatar">
                        <div class="avatar-view" title="更新头像">
                            <img src="{{ user.profile.avatar.url }}"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <form class="form-horizontal form-user-info" id="form_update_user_info" role="form" action=""
                              method="post">
                            <div class="form-group">
                                <label for="username" class="col-sm-2 control-label">昵称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="username" name="username"
                                           value="{{ user.username }}" placeholder="昵称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="gender" class="col-sm-2 control-label">性别</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline">
                                        <input type="radio" value="m" name="gender"
                                               {% ifequal user.profile.gender 'm' %}checked{% endifequal %}>男
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="f" name="gender"
                                               {% ifequal user.profile.gender 'f' %}checked{% endifequal %}>女
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="bio" class="col-sm-2 control-label">简介</label>
                                <div class="col-sm-10">
                                    <textarea id="bio" name="bio" class="form-control" rows="5" maxlength="120"
                                              placeholder="简介">{{ user.profile.bio }}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">邮箱</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">{{ email_display }}</p>
                                    {% if user.email %}
                                        <button type="button" id="change_email" class="btn btn-info pull-right"
                                                data-toggle="modal" data-target="#bind_or_change_email">修改邮箱
                                        </button>
                                    {% else %}
                                        <button type="button" id="bind_email" class="btn btn-success pull-right"
                                                data-toggle="modal" data-target="#bind_or_change_email">绑定邮箱
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" class="btn btn-primary" id="btn_update_user_info">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-sm-offset-2">
                <div class="sidebar-box">
                    <div class="list-group">
                        {% if user.email %}
                            <a class="list-group-item" data-toggle="modal" data-target="#update_password">
                                <i class="iconfont icon-reset_password"></i>更新密码
                            </a>
                        {% endif %}
                        <a class="list-group-item" href="{% url 'account:user_message_comments' %}"><i
                                class="iconfont icon-message"></i>我的消息</a>
                        {% if user.is_staff %}
                            <a class="list-group-item" href="{% url "article:user_articles" user.id %}"><i
                                    class="iconfont icon-article"></i>我的文章</a>
                            <a class="list-group-item" href="{% url "article:user_drafts" %}"><i
                                    class="iconfont icon-drafts"></i>草稿箱</a>
                            <a class="list-group-item" href="{% url "article:create_article" %}"><i
                                    class="iconfont icon-552ce439609c3"></i>写文章</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="avatar-form">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                        <h4 class="modal-title text-center" id="avatar-modal-label">更新头像</h4>
                    </div>
                    <div class="modal-body">
                        <div class="avatar-body">
                            <div class="avatar-upload">
                                <input class="avatar-src" name="avatar_src" type="hidden">
                                <input class="avatar-data" name="avatar_data" type="hidden">
                                <label for="avatarInput" style="line-height: 35px;">图片上传</label>
                                <button class="btn btn-primary" type="button" style="height: 35px;"
                                        onclick="$('input[id=avatarInput]').click();">请选择图片
                                </button>
                                <span id="avatar-name"></span>
                                <input class="avatar-input hide" id="avatarInput" name="avatar_file" type="file"></div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="avatar-wrapper"></div>
                                </div>
                                <div class="col-md-3">
                                    <div class="avatar-preview preview-lg" id="imageHead"></div>
                                    <div class="avatar-preview preview-md"></div>
                                    <div class="avatar-preview preview-sm"></div>
                                </div>
                            </div>
                            <div class="row avatar-btns">
                                <div class="col-md-4" style="margin-top: 5px">
                                    <div class="btn-group">
                                        <button class="btn btn-info fa fa-undo" data-method="rotate" data-option="-90"
                                                type="button" title="Rotate -90 degrees"> 向左旋转
                                        </button>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-info fa fa-repeat" data-method="rotate"
                                                data-option="90" type="button" title="Rotate 90 degrees"> 向右旋转
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-5" style="text-align: right;margin-top: 5px;">
                                    <button class="btn btn-info fa fa-arrows" data-method="setDragMode"
                                            data-option="move" type="button" title="移动">
							            <span class="docs-tooltip" data-toggle="tooltip" title=""
                                              data-original-title="$().cropper(&quot;setDragMode&quot;, &quot;move&quot;)">
							            </span>
                                    </button>
                                    <button type="button" class="btn btn-info fa fa-search-plus" data-method="zoom"
                                            data-option="0.1" title="放大图片">
							            <span class="docs-tooltip" data-toggle="tooltip" title=""
                                              data-original-title="$().cropper(&quot;zoom&quot;, 0.1)">
							              <!--<span class="fa fa-search-plus"></span>-->
							            </span>
                                    </button>
                                    <button type="button" class="btn btn-info fa fa-search-minus" data-method="zoom"
                                            data-option="-0.1" title="缩小图片">
							            <span class="docs-tooltip" data-toggle="tooltip" title=""
                                              data-original-title="$().cropper(&quot;zoom&quot;, -0.1)">
							              <!--<span class="fa fa-search-minus"></span>-->
							            </span>
                                    </button>
                                    <button type="button" class="btn btn-info fa fa-refresh" data-method="reset"
                                            title="重置图片">
								            <span class="docs-tooltip" data-toggle="tooltip" title=""
                                                  data-original-title="$().cropper(&quot;reset&quot;)"
                                                  aria-describedby="tooltip866214">
                                            </span>
                                    </button>
                                </div>
                                <div class="col-md-3" style="margin-top: 5px;">
                                    <button class="btn btn-primary btn-block avatar-save fa fa-save" type="button"
                                            data-dismiss="modal"> 保存修改
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>

    <div id="update_password" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4 class="modal-title text-center">更新密码</h4>
                </div>
                <div class="modal-body">
                    <form class="form-update-password" id="form_update_password">
                        <div class="form-group has-feedback">
                            <input type="password" id="password" name="password" class="form-control" minlength="6"
                                   maxlength="32" placeholder="请输入原密码">
                            <span class="iconfont icon-eye-close form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" id="new_password" name="new_password" class="form-control"
                                   minlength="6"
                                   maxlength="32" placeholder="请输入新密码(6-32位字母或数字组合)">
                            <span class="iconfont icon-eye-close form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" id="confirm_password" name="confirm_password" class="form-control"
                                   minlength="6" maxlength="32" placeholder="请确认新密码">
                            <span class="iconfont icon-eye-close form-control-feedback"></span>
                        </div>
                        <button class="btn btn-primary btn-block" id="btn_update_password" type="button">确认</button>
                        <div class="alert alert-warning fade" id="warning_msg"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="bind_or_change_email" class="modal show-bind-email fade" aria-hidden="true" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4 class="modal-title text-center">绑定/修改邮箱</h4>
                </div>
                <div class="modal-body">
                    <div class="step-1">
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="请输入邮箱">
                        </div>
                        <button class="btn btn-primary btn-block" data-loading-text="邮箱验证中..." id="check_email" type="button" data-bind_email="">
                            下一步
                        </button>
                    </div>

                    <div class="step-2 hide">
                        <div class="form-group has-feedback">
                            <input type="text" name="verification_code" class="form-control verification-code"
                                   placeholder="请输入验证码">
                            <a class="send-verification-code" href="javascript:void(0)">重新获取</a>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" name="password" class="form-control" minlength="6" maxlength="32"
                                   placeholder="请输入6-32位密码">
                            <span class="iconfont icon-eye-close form-control-feedback"></span>
                        </div>
                        <button class="btn btn-primary btn-block" id="bind_email_btn" type="button">确定</button>
                        <p class="show-msg"></p>
                    </div>

                    <div class="step-3 hide">
                        <div class="form-group has-feedback">
                            <input type="text" name="verification_code" class="form-control verification-code"
                                   placeholder="请输入验证码">
                            <a class="send-verification-code" href="javascript:void(0)">重新获取</a>
                        </div>
                        <button class="btn btn-primary btn-block" id="change_email_btn" type="button">确定</button>
                        <p class="show-msg"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="/static/cropper/html2canvas.min.js"></script>
    <script src="/static/js/account/user_info.js"></script>

    <script type="text/javascript">
        $(function () {
            var password_eye = $('.form-control-feedback');
            password_eye.off('click').on('click', function () {
                var $this = $(this);
                var password_input = $this.siblings('input');
                if ($this.hasClass('icon-eye-close')) {
                    $this.removeClass('icon-eye-close').addClass('icon-eye-open');
                    password_input.prop('type', 'text');
                } else {
                    $this.removeClass('icon-eye-open').addClass('icon-eye-close');
                    password_input.prop('type', 'password');
                }
            });
        })
    </script>

    <script type="text/javascript">

        function getBlobBydataURI(dataURI, type) {
            var binary = atob(dataURI);
            var array = [];
            for (var i = 0; i < binary.length; i++) {
                array.push(binary.charCodeAt(i));
            }
            return new Blob([new Uint8Array(array)], {type: type});
        }

        function imagesAjax(formData) {
            //var data = {};
            //data.img = img_data;
            $.ajax({
                type: "PUT",
                url: "{% url 'api:update_user_avatar' %}",
                data: formData,
                processData: false,
                contentType: false,
                success: function (re) {
                    if (re.code == 200) {
                        $('.avatar-view img').attr('src', re.src);
                        $('.navbar-avatar').attr('src', re.src);
                    }
                    else {
                        layer.alert(re.msg)
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var response_json = XMLHttpRequest.responseJSON;
                    layer.alert(response_json.msg);
                }
            });
        }

        $(function () {
            //做个下简易的验证  大小 格式
            $('#avatarInput').on('change', function (e) {
                var filemaxsize = 1024 * 5;//5M
                var target = $(e.target);
                var Size = target[0].files[0].size / 1024;
                if (!this.files[0].type.match(/image.*/)) {
                    layer.alert('请选择正确的图片!');
                    return false
                }
                if (Size > filemaxsize) {
                    layer.alert('图片过大，请重新选择!');
                    $(".avatar-wrapper").children().remove();
                    return false;
                }
                else {
                    var filename = document.querySelector("#avatar-name");
                    var texts = document.querySelector("#avatarInput").value;
                    var teststr = texts; //你这里的路径写错了
                    var testend = teststr.match(/[^\\]+\.[^\(]+/i); //直接完整文件名的
                    filename.innerHTML = testend;
                }

            });

            $(".avatar-save").on("click", function () {
                var img_lg = document.getElementById('imageHead');
                // 截图小的显示框内的内容
                html2canvas(img_lg, {
                    allowTaint: true,
                    taintTest: false,
                    onrendered: function (canvas) {
                        canvas.id = "mycanvas";
                        //生成base64图片数据
                        var img_data = canvas.toDataURL().split(',')[1];
                        //var newImg = document.createElement("img");
                        //newImg.src = dataUrl;
                        var $Blob = getBlobBydataURI(img_data, 'image/jpeg');
                        var formData = new FormData();
                        formData.append("avatar", $Blob);
                        imagesAjax(formData)
                    }
                });
            });

            var btn_update_password = $("#btn_update_password");
            var update_password_form_input = $("#form_update_password :input");
            bind_auto_submit(update_password_form_input, btn_update_password);
            bind_dismiss_msg_container($("#warning_msg"));

            btn_update_password.click(function (e) {
                var form = $(this).parent('form');
                var password = form.find('[name="password"]').val();
                var new_password = form.find('[name="new_password"]').val();
                var confirm_password = form.find('[name="confirm_password"]').val();
                var redirect_url = "{% url 'account:login' %}";

                var reg_password = /^[\w!@#$%^&*?,.;_]{6,30}$/;

                var msg = '';
                var warning_div = $("#warning_msg");
                if ((password == '') || (new_password == '') || (confirm_password == '')) {
                    msg = '请先完善表单';
                    show_msg(warning_div, msg);
                    return false
                }
                else if (!reg_password.test(new_password)) {
                    msg = '新密码格式有误，请重新输入';
                    show_msg(warning_div, msg);
                    return false
                }
                else if (new_password != confirm_password) {
                    msg = '密码不一致，请重新输入';
                    show_msg(warning_div, msg);
                    return false
                }

                $.ajax({
                    url: '{% url 'api:update_user_password' %}',
                    type: 'PUT',
                    data: {
                        "password": password,
                        "new_password": new_password,
                        "confirm_password": confirm_password
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.code == 200) {
                            layer.alert(data.msg, function () {
                                location.href = redirect_url;
                            });
                        }
                        else {
                            show_msg(warning_div, data.msg);
                            return false
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var response_json = XMLHttpRequest.responseJSON;
                        show_msg(warning_div, response_json.msg);
                        return false
                    }
                });
            });

            var btn_update_user_info = $("#btn_update_user_info");
            var update_user_info_form_input = $("#form_update_user_info :input");
            bind_auto_submit(update_user_info_form_input, btn_update_user_info);
            btn_update_user_info.click(function (e) {
                var form = $(this).parent('div').parent('div').parent('form');
                var username = form.find('[name="username"]').val();
                var gender = form.find('[name="gender"]:checked').val();
                var bio = form.find('[name="bio"]').val();

                var reg_username = /^[\w.@_\u4e00-\u9fa5]{2,32}$/;

                var msg = '';
                if (!reg_username.test(username)) {
                    msg = "昵称格式有误，仅支持2-32位中英文、数字、字符'_.@'的组合。";
                    layer.alert(msg);
                    return false
                }

                $.ajax({
                    url: "{% url 'api:update_user_info' %}",
                    type: "PUT",
                    data: {
                        "username": username,
                        "gender": gender,
                        "bio": bio
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.code == 200) {
                            layer.msg(data.msg);
                            window.location.reload()
                        }
                        else {
                            layer.alert(data.msg);
                            return false
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var response_json = XMLHttpRequest.responseJSON;
                        layer.alert(response_json.msg);
                        return false
                    }
                });
            });

        });
    </script>

    <script>
        $(function () {
            var COUNTDOWN_SECOND = 60;

            function moveTo(step_index) {
                var step_1 = $("#bind_or_change_email .step-1");
                var step_2 = $("#bind_or_change_email .step-2");
                var step_3 = $("#bind_or_change_email .step-3");
                if (step_index == 1) {
                    step_1.removeClass('hide');
                    step_2.addClass('hide');
                    step_3.addClass('hide');
                }
                else if (step_index == 2) {
                    step_2.removeClass('hide');
                    step_1.addClass('hide');
                    step_3.addClass('hide');
                }
                else if (step_index == 3) {
                    step_3.removeClass('hide');
                    step_1.addClass('hide');
                    step_2.addClass('hide');
                }
                else {
                    console.log('step_index 取值只能为1,2,3')
                }
            }

            function count_down_clock(btn) {
                if (COUNTDOWN_SECOND == 0) {
                    $(btn).css('pointer-events', 'auto');
                    $(btn).html("重新获取");
                    COUNTDOWN_SECOND = 60;
                } else {
                    $(btn).css('pointer-events', 'none');
                    $(btn).html("重新获取(" + COUNTDOWN_SECOND + "s)");
                    COUNTDOWN_SECOND--;
                    setTimeout(function () {
                                count_down_clock(btn)
                            },
                            1000);
                }
            }

            $("#bind_email").click(function (e) {
                $("#bind_or_change_email .modal-title").html('绑定邮箱');
                $("#bind_or_change_email input").val('');
                $("#check_email")[0].dataset.bind_email = 1;
                moveTo(1)
            });

            $("#change_email").click(function (e) {
                $("#bind_or_change_email .modal-title").html('修改邮箱');
                $("#bind_or_change_email input").val('');
                $("#check_email")[0].dataset.bind_email = 0;
                moveTo(1)
            });

            $("#check_email").click(function (e) {
                var $this = $(this);
                var reg_email = /^[\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+$/;
                var email = $(this).parent('div').find('[name="email"]').val();
                var bind_or_change_email = parseInt(this.dataset.bind_email);
                if (email == '') {
                    layer.msg('请先输入邮箱', {time: 1000});
                    return false
                }
                else if (!reg_email.test(email)) {
                    layer.msg('邮箱格式有误，请重新输入', {time: 1000});
                    return false
                }
                $this.button('loading');
                $.ajax({
                        type: 'POST',
                        url: '{% url 'api:check_email_is_bind' %}',
                        data: {"email": email},
                        dataType: 'json',
                        success: function (data) {
                            if (data.code == 200) {
                                $.ajax({
                                    type: 'POST',
                                    url: '{% url 'api:send_verification_to_bind_or_change_email' %}',
                                    data: {"email": email},
                                    dataType: 'json',
                                    success: function (json) {
                                        $this.button('reset');
                                        if (json.code == 200) {
                                            $(".step-1").addClass('hide');
                                            if (bind_or_change_email == 1) {
                                                $(".step-2 .show-msg").html(json.msg);
                                                $(".step-2 #bind_email_btn")[0].dataset.email = email;
                                                $(".step-2 .send-verification-code")[0].dataset.email = email;
                                                moveTo(2);
                                            }
                                            else {
                                                $(".step-3 .show-msg").html(json.msg);
                                                $(".step-3 .send-verification-code")[0].dataset.email = email;
                                                $(".step-3 #change_email_btn")[0].dataset.email = email;
                                                moveTo(3);
                                            }
                                        }
                                        else {
                                            layer.msg(json.msg, {time: 1000});
                                            return false
                                        }
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        $this.button('reset');
                                        var response_json = XMLHttpRequest.responseJSON;
                                        layer.msg(response_json.msg, {time: 1000});
                                        return false
                                    }
                                });
                            }
                            else {
                                $this.button('reset');
                                layer.msg(data.msg, {time: 1000});
                                return false
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $this.button('reset');
                            var response_json = XMLHttpRequest.responseJSON;
                            layer.msg(response_json.msg, {time: 1000});
                            return false
                        }
                });
            });

            $(".send-verification-code").click(function (e) {
                var $this = $(this);
                var reg_email = /^[\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+$/;
                var email = this.dataset.email;

                if (typeof(email) == 'undefined' || email == '') {
                    layer.msg('参数缺失，请重试。', {time: 1000});
                    $("#bind_or_change_email input").val('');
                    moveTo(1);
                    return false
                }
                else if (!reg_email.test(email)) {
                    var msg = '邮箱格式有误，请重新输入';
                    layer.msg(msg, {time: 1000});
                    return false
                }
                var index = layer.msg('邮件发送中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                });
                $.ajax({
                        type: 'POST',
                        url: '{% url 'api:send_verification_to_bind_or_change_email' %}',
                        data: {"email": email},
                        dataType: 'json',
                        success: function (data) {
                            layer.close(index);
                            layer.msg(data.msg, {time: 1000});
                            if (data.code == 200) {
                                count_down_clock($this);
                            }
                            return false
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            layer.close(index);
                            var response_json = XMLHttpRequest.responseJSON;
                            layer.msg(response_json.msg, {time: 1000});
                            return false
                        }
                });
            });

            $("#bind_email_btn").click(function (e) {
                var parent_div = $(this).parent('div');
                var email = this.dataset.email;
                var verification_code = parent_div.find('[name="verification_code"]').val();
                var password = parent_div.find('[name="password"]').val();

                var reg_verification_code = /^[\d]{6}$/;
                var reg_password = /^[\w!@#$%^&*?,.;_]{6,32}$/;

                if (typeof(email) == 'undefined' || email == '') {
                    layer.msg('参数缺失，请重试。', {time: 1000});
                    $("#bind_or_change_email input").val('');
                    moveTo(1);
                    return false
                }
                else if (verification_code == '') {
                    layer.msg('请输入验证码', {time: 1000});
                    return false
                }
                else if (!reg_verification_code.test(verification_code)) {
                    layer.msg('验证码为6位数字，请重新输入', {time: 1000});
                    return false
                }
                else if (password == '') {
                    layer.msg('请输入密码', {time: 1000});
                    return false
                }
                else if (!reg_password.test(password)) {
                    layer.msg('密码格式有误，请重新输入', {time: 1000});
                    return false
                }

                $.ajax({
                    url: '{% url 'api:bind_email' %}',
                    type: "PUT",
                    data: {
                        "email": email,
                        "verification_code": verification_code,
                        "password": password
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 200) {
                            layer.alert(data.msg, function () {
                                window.location.reload()
                            });
                        }
                        else {
                            layer.msg(data.msg, {time: 1500});
                            return false
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var response_json = XMLHttpRequest.responseJSON;
                        layer.msg(response_json.msg, {time: 1500});
                        return false
                    }
                });
            });

            $("#change_email_btn").click(function (e) {
                var parent_div = $(this).parent('div');
                var email = this.dataset.email;
                var verification_code = parent_div.find('[name="verification_code"]').val();

                var reg_verification_code = /^[\d]{6}$/;

                if (typeof(email) == 'undefined' || email == '') {
                    layer.msg('参数缺失，请重试。', {time: 1000});
                    $("#bind_or_change_email input").val('');
                    moveTo(1);
                    return false
                }
                else if (verification_code == '') {
                    layer.msg('请输入验证码', {time: 1000});
                    return false
                }
                else if (!reg_verification_code.test(verification_code)) {
                    layer.msg('验证码为6位数字，请重新输入', {time: 1000});
                    return false
                }
                $.ajax({
                    url: '{% url 'api:change_email' %}',
                    type: "PUT",
                    data: {
                        "email": email,
                        "verification_code": verification_code
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 200) {
                            layer.alert(data.msg, function () {
                                window.location.reload()
                            });
                        }
                        else {
                            layer.msg(data.msg, {time: 1500});
                            return false
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var response_json = XMLHttpRequest.responseJSON;
                        layer.msg(response_json.msg, {time: 1500});
                        return false
                    }
                });
            })
        })
    </script>
{% endblock %}
