{% extends "base.html" %}
{% block title %}<title>LOVEITERS | 编辑文章</title>{% endblock %}
{% block extra_header %}
    <link rel="stylesheet" type="text/css" href="/static/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css">
    <!--<link rel="stylesheet" type="text/css" href="/static/searchable-select/jquery.searchableSelect.css">-->
    <script type="text/javascript" src="/static/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>
    <!--<script type="text/javascript" src="/static/searchable-select/jquery.searchableSelect.js"></script>-->
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-sm-10">
                <form class="form-horizontal" id="form_create_article" role="form" action="" method="post">
                    <div class="form-group">
                        <label for="type" class="col-sm-2 control-label">类别</label>
                        <div class="col-sm-3">
                            <select class="form-control" id="type" name="type">
                                {% for value, name in type_choices %}
                                    <option value="{{ value }}" {% ifequal article.type value %}selected{% endifequal %}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" name="title" value="{{ article.title }}" placeholder="标题(32个字以内)">
                        </div>
                    </div>

                    <!--
                    <div class="form-group">
                        <label for="cover_photo" class="col-sm-2 control-label">封面(可选)</label>
                        <div class="col-sm-10">
                            <input id="cover_photo" class="file" type="file" name="cover_photo" multiple>
                        </div>
                    </div>
                    -->

                    <div class="form-group">
                        <label for="content_html" class="col-sm-2 control-label">内容</label>
                        <div class="col-sm-10">
                            <input type="hidden" id="content_html" name="content_html" value="{{ article.content_html }}">
                            <script id="editor" type="text/plain"></script>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="hidden" id="article_id" name="article_id" value="{{ article_id }}">
                            <button type="button" class="btn btn-info save_article" id="save_as_draft" data-is_released="0"><i class="iconfont icon-drafts"></i>存为草稿</button>
                            <button type="button" class="btn btn-success save_article" id="release_article" data-is_released="1"><i class="iconfont icon-send"></i>立即发布</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-sm-2">
                <div class="sidebar-box">
                    <div class="list-group">
                        <a class="list-group-item" href="{% url "article:user_articles" user.id %}" title="我的文章"><i class="iconfont icon-article"></i>我的文章</a>
                        <a class="list-group-item" href="{% url "article:user_drafts" %}" title="草稿箱"><i class="iconfont icon-drafts"></i>草稿箱</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block extra_js %}
    <!--
    <script>
        $("#cover_photo").fileinput({
            showUpload: false,
            allowedFileExtensions: ['jpg', 'png', 'gif', 'bmp'],
            overwriteInitial: true,
            maxFileSize: 1024 * 10,
            maxFilesNum: 1,
            allowedFileTypes: ['image'],
            initialPreview: [
                '<img src="/media/article/cover/cnicg.jpg" class="file-preview-image" alt="test" title="test">'
            ]
        });
    </script>
    -->
    <script type="text/javascript">
        var ue = UE.getEditor('editor');
        SyntaxHighlighter.all();
        var article_content = $("#content_html").val();
        ue.ready(function(){
            ue.setContent(article_content);
        });
    </script>

    <script>
        function searchableSelect(){
            $("select").each(function (index, element) {
                if (!$(element).hasClass("has_changed")) {
                    $(element).searchableSelect();
                    $(element).addClass("has_changed");
                }
            });
        }
    </script>

    <script>
        $(function () {
            $(".save_article").click(function (e) {
                var form = $(this).parent('div').parent('div').parent('form');
                var article_id = $("#article_id").val();
                var title = form.find('[name="title"]').val();
                var article_type = form.find('[name="type"]').val();
                var content_html = ue.getContent();
                var content_txt = ue.getContentTxt();
                var is_released = this.dataset.is_released;

                if (title == '') {
                    layer.msg('请输入标题', {time: 1000});
                    return false
                }
                if (article_type == '') {
                    layer.msg('请先选择一个类别', {time: 1000});
                    return false
                }
                if (content_html == '') {
                    layer.msg('请先编辑内容', {time: 1000});
                    return false
                }

                article_id = parseInt(article_id);
                if (article_id == 0) {
                    var url = "{% url 'api:create_article' %}";
                    var type = "POST"
                }
                else {
                    var url = "{% url 'api:update_article' %}";
                    var type = "PUT"
                }
                var data = {
                    'article_id': article_id,
                    'title': title,
                    'type': parseInt(article_type),
                    'content_html': content_html,
                    'content_txt': content_txt,
                    'is_released': is_released
                };
                $.ajax({
                    url: url,
                    type: type,
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 200) {
                            layer.alert(data.msg, function (index) {
                                window.location.href = data.redirect_url;
                            })
                        }
                        else {
                            layer.alert(data.msg);
                            return false
                        }
                    }
                });
            })
        })
    </script>
{% endblock %}
