{% extends "base.html" %}
{% block title %}<title>{{ article_details.title }}</title>{% endblock %}
{% block extra_header %}
    <link rel="stylesheet" href="/static/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css">
    <link rel="stylesheet" href="/static/css/article/article_details.css">
    <script src="/static/js/jquery.flexText.js"></script>
    <script src="/static/js/time_desc.js"></script>
    <script src="/static/js/qrcode.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-3">
                <div class="article">
                    <h1 class="title text-center">{{ article_details.title }}</h1>
                    <div class="author">
                        <div class="avatar">
                            <img src="{{ article_details.author.avatar }}" alt="{{ article_details.author.username }}">
                        </div>
                        <div class="info">
                            <span class="name"><a href="">{{ article_details.author.username }}</a></span>
                            <div class="meta">
                                <span class="release-time" data-toggle="tooltip" data-placement="bottom"
                                      data-original-title="最后编辑于 {{ article_details.update_time }}">{{ article_details.release_time }}</span>
                                <span class="page-views">阅读 {{ article_details.page_views }}</span>
                                <span class="comment-times">评论 {{ article_details.comment_times }}</span>
                                <span class="praise-times">点赞 {{ article_details.praise_times }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="show-content">
                        <div class="content-html" data-content='{{ article_details.content_html }}'>

                        </div>
                    </div>

                    <div class="social">
                        <div class="praise_box">
                            <button class="btn btn-default btn-lg" id="btn-praise-article" style="outline: none;" data-parent_id="{{ article_details.article_id }}" data-praise_type="1">赞<i class="iconfont icon-communityiconpraise4"></i><span class="praise_times">{{ article_details.praise_times }}</span></button>
                        </div>
                        <div class="share-buttons">
                            <a class="circle-link" data-toggle="tooltip" href="javascript:void(0)" target="_blank" data-original-title="分享到微博" onclick="openShareWeibo();">
                                <i class="iconfont icon-weibo"></i>
                            </a>
                            <a class="circle-link" data-toggle="tooltip" href="javascript:void(0)" target="_blank" data-original-title="分享到QQ空间" onclick="openShareQQSpace();">
                                <i class="iconfont icon-qqkongjian"></i>
                            </a>
                            <a class="circle-link" data-toggle="tooltip" href="javascript:void(0)" target="_blank" data-original-title="分享到微信" onclick="showQrcode();">
                                <i class="iconfont icon-wechat"></i>
                            </a>
                        </div>
                    </div>
                    {% if not user.is_authenticated %}
                    <div class="comment-box">
                        <div id="comment_form">
                            <div class="guest_link">
                                <span class="log_ico"><a href="javascript:void(0)" onclick="clickLogin(this)"><i class="fa fa-user-circle fa-3x"></i></a></span><span class="txt">目前您尚未登录，请 <a href="javascript:void(0)" onclick="clickLogin(this)">登录</a> 或 <a href="javascript:void(0)" onclick="clickRegister(this)">注册</a> 后进行评论</span>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="commentAll" id="comments">
                        <!--评论区域 begin-->
                        <div class="reviewArea clearfix">
                            <textarea class="content comment-input" placeholder="來说点什么吧&hellip;"
                                      onkeyup="keyUP(this)"></textarea>
                            <a href="javascript:;" class="plBtn"
                               data-article_id="{{ article_details.article_id }}">评论</a>
                        </div>
                        <hr>
                        <!--评论区域 end-->
                        <!--回复区域 begin-->
                        <div class="comment-show">
                            {% for comment in  article_details.comments %}
                                <div class="comment-show-con clearfix" id="comment-{{ comment.comment_id }}">
                                    <div class="comment-show-con-img">
                                        <img src="{{ comment.commentator.avatar }}" alt="{{ comment.commentator.username }}">
                                    </div>
                                    <div class="pl-text clearfix">
                                        <a href="javascript:void(0)" class="comment-size-name" data-commentator_id="{{ comment.commentator.user_id }}">{{ comment.commentator.username }}</a>
                                        <span class="comment-time" data-comment_at="{{ comment.comment_at }}"></span>
                                    </div>
                                    <div class="comment-show-con-list clearfix">
                                        <div class="date-dz">
                                            <p class="date-dz-left my-pl-con">{{ comment.content }}</p>
                                            <div class="date-dz-right pull-right comment-pl-block">
                                                {% if user.is_authenticated %}
                                                    {% ifequal comment.commentator.user_id user.id %}
                                                        <a href="javascript:;" class="removeBlock"
                                                           data-comment_id="{{ comment.comment_id }}">删除</a>
                                                    {% endifequal %}
                                                {% endif %}
                                                <a href="javascript:;" class="date-dz-pl pl-hf hf-con-block"
                                                   data-comment_id="{{ comment.comment_id }}"
                                                   data-receiver_id="{{ comment.commentator.user_id }}" data-receiver_name="{{ comment.commentator.username }}">回复</a>
                                                <span class="date-dz-line">|</span>
                                                <a href="javascript:;" class="date-dz-z"
                                                   data-parent_id="{{ comment.comment_id }}" data-praise_type="2"><i
                                                        class="iconfont icon-communityiconpraise4"></i><span
                                                        class="z-num">{{ comment.praise_times }}</span></a>
                                            </div>
                                        </div>
                                        <div class="hf-list-con">
                                            {% for reply in comment.comment_replies %}
                                                <div class="all-pl-con" id="comment-reply-{{ reply.comment_reply_id }}">
                                                    <div class="pl-text hfpl-text clearfix">
                                                        <a href="javascript:void(0)" class="comment-size-name">{{ reply.replier.username }}</a>
                                                        <span class="comment-time" data-comment_at="{{ reply.reply_at }}"></span>
                                                    </div>
                                                    <div class="date-dz">
                                                        <p class="date-dz-left my-pl-con">回复@{{ reply.receiver.username }}:{{ reply.content }}</p>
                                                        <div class="date-dz-right pull-right comment-pl-block">
                                                            {% if user.is_authenticated %}
                                                                {% ifequal reply.replier.user_id user.id %}
                                                                    <a href="javascript:;" class="removeBlock"
                                                                       data-comment_reply_id="{{ reply.comment_reply_id }}">删除</a>
                                                                {% endifequal %}
                                                            {% endif %}
                                                            <a href="javascript:;"
                                                               class="date-dz-pl pl-hf hf-con-block"
                                                               data-comment_id="{{ reply.comment_id }}"
                                                               data-receiver_id="{{ reply.replier.user_id }}" data-receiver_name="{{ reply.replier.username }}">回复</a>
                                                            <span class="date-dz-line">|</span>
                                                            <a href="javascript:;" class="date-dz-z"
                                                               data-parent_id="{{ reply.comment_reply_id }}"
                                                               data-praise_type="3"><i class="iconfont icon-communityiconpraise4"></i><span class="z-num">{{ reply.praise_times }}</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!--回复区域 end-->
                        {% if article_details.comment_times > 0 %}
                        <div class="more-comment text-center">
                            <input type="hidden" value="{{article_details.article_id }}" id="article_id">
                            <input type="hidden" value="{{ page_size }}" id="page_size">
                            <ul class="pager">
                                <li><a class="btn btn-info prev-page disabled" href="javascript:void(0)">上一页</a></li>
                                <li><a class="btn btn-success next-page{% if article_details.comment_times <= page_size %} disabled{% endif %}" href="javascript:void(0)">下一页</a></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="modal show-qrcode fade" id="show_qrcode" aria-hidden="true" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" class="close">&times;</button>
                    <h4 class="modal-title text-center">分享到微信</h4>
                </div>
                <div class="modal-body">
                    <h5>使用微信“扫一扫”打开网页后，点击右上角按钮进行分享</h5>
                    <div id="qrcode">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        var is_authenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
        var login_user_id = {% if user.is_authenticated %}{{ user.id }}{% else %}0{% endif %};
    </script>

    <!--评论时间描述-->
    <script>
        function timeDesc() {
            $("span.comment-time").each(function () {
                var time_str = this.dataset.comment_at;
                var time_desc = getDateDiff(time_str);
                $(this).text(time_desc)
            })
        }
        $(function () {
            timeDesc()
        });
    </script>
    <!--textarea高度自适应-->
    <script type="text/javascript">
        $(function () {
            $('.content').flexText();
        });
    </script>

    <script language="JavaScript">
		var article_title = document.title;
		var article_link = location.href;

        function get_first_img_src() {
            var first_img_src = $(".show-content img:first").attr('src') || '';
            if (first_img_src != '') {
                if (first_img_src.search("http") == -1) {
                    first_img_src = document.location.protocol + '//' + window.location.host + first_img_src;
                }
            }
            return first_img_src
        }

		function getSocialLink(s){
			switch(s){
				case "weibo":
                    var context = {
                        'appkey': '4164482519',
                        'ralateUid': '2728305845',
                        'url': article_link,
                        'title': article_title,
                        'pic': get_first_img_src()
                    };
                    var query_params = [];
                    for(var i in context){
                        query_params.push(i + '=' + encodeURIComponent(context[i]||''));
                    }
				    return ["http://service.weibo.com/share/share.php?", query_params.join('&')].join('');
                case "qq":
                    var context = {
                        'url': article_link,
                        'title': article_title,
                        'pics': get_first_img_src()
                    };
                    var query_params = [];
                    for(var i in context){
                        query_params.push(i + '=' + encodeURIComponent(context[i]||''));
                    }
				    return ["http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?", query_params.join('&')].join('');
			}
		}

        function openWindom(url) {
            var name = '';                             //网页名称，可为空;
            var iWidth = 500;                          //弹出窗口的宽度;
            var iHeight = 500;                         //弹出窗口的高度;
            //获得窗口的垂直位置
            var iTop = (window.screen.availHeight - iHeight) / 2;
            //获得窗口的水平位置
            var iLeft = (window.screen.availWidth - iWidth) / 2;
            window.open(url, name, 'height=' + iHeight + ',innerHeight=' + iHeight + ',width=' + iWidth + ',innerWidth=' + iWidth + ',top=' + iTop + ',left=' + iLeft + ',status=no,toolbar=no,menubar=no,location=no,resizable=no,scrollbars=0,titlebar=no');
        }

        function openShareWeibo() {
            var url = getSocialLink("weibo");
            openWindom(url)
       }

        function openShareQQSpace() {
            var url = getSocialLink("qq");
            openWindom(url)
       }
	</script>

    <script type="text/javascript">
        var qrcode = new QRCode(document.getElementById("qrcode"), {
	        width : 160,
	        height : 160
        });

        function showQrcode() {
	        qrcode.makeCode(article_link);
            $('#show_qrcode').modal('show')
        }

    </script>

    <!--textarea限制字数-->
    <script type="text/javascript">
        function keyUP(t) {
            var len = $(t).val().length;
            if (len > 140) {
                $(t).val($(t).val().substring(0, 140));
            }
        }
    </script>

    <script>
        function redirect_to_login() {
            var next = window.location.href;
            var login_url = "{% url 'account:login' %}";
            window.location.href = login_url + '?next=' + next;
        }
        function clickLogin(link) {
            redirect_to_login()
        }

        function clickRegister(link) {
            var next = window.location.href;
            var register_url = "{% url 'account:register' %}";
            window.location.href = register_url + '?next=' + next;
        }
    </script>
    <!--点击评论创建评论条-->
    <script type="text/javascript">
        $('.commentAll').on('click', '.plBtn', function () {
            if (!is_authenticated) {
                redirect_to_login();
                return false;
            }
            var $this = $(this);
            //获取输入内容
            var comment_content = $this.siblings('.flex-text-wrap').find('.comment-input').val();
            comment_content = comment_content.replace(/(^\s*)|(\s*$)/g, "");

            //动态创建评论模块
            if (comment_content != '') {
                var article_id = this.dataset.article_id;
                $.post(
                        "{% url 'article:save_comment' %}",
                        {
                            "article_id": article_id,
                            "comment_content": comment_content
                        },
                        function (json) {
                            if (json.code == 200) {
                                var avatar = json.data.commentator.avatar;
                                var username = json.data.commentator.username;
                                var user_id = json.data.commentator.user_id.toString();
                                var content = json.data.content;
                                var comment_id = json.data.comment_id.toString();
                                var comment_at = json.data.comment_at;
                                var praise_times = json.data.praise_times.toString();
                                var comment_html = '<div class="comment-show-con clearfix" id="comment-' + comment_id + '">' +
                                        '<div class="comment-show-con-img">' +
                                        '<img src="' + avatar + '" alt="' + username + '">' +
                                        '</div> ' +
                                        '<div class="pl-text clearfix">' +
                                        '<a href="javascript:void(0)" class="comment-size-name" data-commentator_id="' + user_id +
                                        '">' + username + '</a>' +
                                        '<span class="comment-time" data-comment_at="' + comment_at +
                                        '">' + '</span>' +
                                        '</div>' +
                                        '<div class="comment-show-con-list clearfix">' +
                                        '<div class="date-dz">' +
                                        '<p class="date-dz-left my-pl-con">' + content + '</p>' +
                                        '<div class="date-dz-right pull-right comment-pl-block">';

                                if (login_user_id.toString() == user_id) {
                                    comment_html += '<a href="javascript:;" class="removeBlock" data-comment_id="' + comment_id +
                                            '">删除</a>';
                                }

                                comment_html += '<a href="javascript:;" class="date-dz-pl pl-hf hf-con-block" data-comment_id="' + comment_id +
                                        '" data-receiver_id="' + user_id + '" data-receiver_name="' + username +
                                        '">回复</a>' +
                                        '<span class="date-dz-line">|</span>' +
                                        '<a href="javascript:;" class="date-dz-z" data-parent_id="' + comment_id + '" data-praise_type="2">' +
                                        '<i class="iconfont icon-communityiconpraise4"></i><span class="z-num">' + praise_times + '</span></a>' +
                                        '</div>' +
                                        '</div>' +
                                        '<div class="hf-list-con"></div>' +
                                        '</div>' +
                                        '</div>';
                                $this.parents('.reviewArea ').siblings('.comment-show').prepend(comment_html);
                                $this.siblings('.flex-text-wrap').find('.comment-input').prop('value', '').siblings('pre').find('span').text('');
                                timeDesc();
                                layer.msg(json.msg, {time: 1000});
                            }
                            else {
                                layer.msg(json.msg, {time: 1000});
                                return false
                            }
                        }
                );
            }
            else {
                layer.msg('请先填写评论', {time: 1000});
                return false
            }
        });
    </script>
    <!--点击回复动态创建回复块-->
    <script type="text/javascript">
        $('.comment-show').on('click', '.pl-hf', function () {
            if (!is_authenticated) {
                redirect_to_login();
                return false;
            }
            var receiver_id = this.dataset.receiver_id;
            var comment_id = this.dataset.comment_id;
            var receiver_name = this.dataset.receiver_name;

            var fhN = '回复@' + receiver_name + ':';
            //var oInput = $(this).parents('.date-dz-right').parents('.date-dz').siblings('.hf-con');
            var fhHtml = '<div class="hf-con pull-left"> <textarea class="content comment-input hf-input" placeholder="' + fhN +
                    '" onkeyup="keyUP(this)"></textarea> ' +
                    '<a href="javascript:;" class="hf-pl" data-receiver_id="' + receiver_id +
                    '" data-comment_id="' + comment_id + '" data-receiver_name="' + receiver_name +
                    '">回复</a><a href="javascript:;" class="hf-cancel">取消</a></div>';
            //显示回复
            if ($(this).is('.hf-con-block')) {
                $(this).parents('.date-dz-right').parents('.date-dz').append(fhHtml);
                $(this).removeClass('hf-con-block');
                $('.content').flexText();
                $(this).parents('.date-dz-right').siblings('.hf-con').find('.pre').css('padding', '6px 15px');
                //console.log($(this).parents('.date-dz-right').siblings('.hf-con').find('.pre'))
                //input框自动聚焦
                //$(this).parents('.date-dz-right').siblings('.hf-con').find('.hf-input').val('').focus().val(fhN);
                $(this).parents('.date-dz-right').siblings('.hf-con').find('.hf-input').val('').focus().val();
            } else {
                $(this).addClass('hf-con-block');
                $(this).parents('.date-dz-right').siblings('.hf-con').remove();
            }
        });
    </script>
    <!--评论回复块创建-->
    <script type="text/javascript">
        $('.comment-show').on('click', '.hf-pl', function () {
            if (!is_authenticated) {
                redirect_to_login();
                return false;
            }
            var oThis = $(this);
            //获取输入内容
            var oHfVal = $(this).siblings('.flex-text-wrap').find('.hf-input').val();
            var receiver_id = this.dataset.receiver_id;
            var comment_id = this.dataset.comment_id;
            //var oHfName = $(this).parents('.hf-con').parents('.date-dz').siblings('.pl-text').find('.comment-size-name').html();
            var content = oHfVal.replace(/(^\s*)|(\s*$)/g, "");
            if (content == '') {
                layer.msg('请先填写回复内容', {time: 1000});
                return false
            }
            $.post(
                    "{% url 'article:save_comment_reply' %}",
                    {
                        "comment_id": comment_id,
                        "receiver_id": receiver_id,
                        "content": content
                    },
                    function (json) {
                        if (json.code == 200) {
                            var comment_reply_id = json.data.comment_reply_id.toString();
                            var comment_id = json.data.comment_id.toString();
                            var replier_username = json.data.replier.username;
                            var receiver_username = json.data.receiver.username;
                            var replier_id = json.data.replier.user_id.toString();
                            var reply_at = json.data.reply_at;
                            var reply_content = json.data.content;
                            var praise_times = json.data.praise_times.toString();
                            var oAllVal = '回复@' + receiver_username + ':';
                            var oHtml = '<div class="all-pl-con" id="comment-reply-' + comment_reply_id + '">' +
                                    '<div class="pl-text hfpl-text clearfix">' +
                                    '<a href="javascript:void(0)" class="comment-size-name">' + replier_username + '</a>' +
                                    '<span class="comment-time" data-comment_at="' + reply_at +
                                    '">' + '</span>' +
                                    '</div>' +
                                    '<div class="date-dz">' +
                                    '<p class="date-dz-left my-pl-con">' + oAllVal + reply_content  + '</p>' +
                                    '<div class="date-dz-right pull-right comment-pl-block">';
                            if (login_user_id.toString() == replier_id) {
                                oHtml += '<a href="javascript:;" class="removeBlock" data-comment_reply_id="' + comment_reply_id +
                                        '">删除</a>';
                            }
                            oHtml += '<a href="javascript:;" class="date-dz-pl pl-hf hf-con-block" data-comment_id="' + comment_id + '" data-receiver_id="' + replier_id + '" data-receiver_name="' + replier_username +
                                    '">回复</a>' +
                                    '<span class="date-dz-line">|</span> <a href="javascript:;" class="date-dz-z" data-parent_id="' + comment_reply_id + '" data-praise_type="3">' +
                                    '<i class="iconfont icon-communityiconpraise4"></i><span class="z-num">' + praise_times + '</span></a> ' +
                                    '</div> ' +
                                    '</div>' +
                                    '</div>';
                            oThis.parents('.hf-con').parents('.comment-show-con-list').find('.hf-list-con').css('display', 'block').prepend(oHtml);
                            oThis.parents('.hf-con').siblings('.date-dz-right').find('.pl-hf').addClass('hf-con-block');
                            oThis.parents('.hf-con').remove();
                            timeDesc();
                            layer.msg(json.msg, {time: 1000});
                        }
                        else {
                            layer.msg(json.msg, {time: 1000});
                            return false
                        }
                    }
            );
        });
    </script>

    <!--评论回复块取消-->
    <script type="text/javascript">
        $('.comment-show').on('click', '.hf-cancel', function () {
            $(this).parents('.hf-con').siblings('.date-dz-right').find('.pl-hf').addClass('hf-con-block');
            $(this).parents('.hf-con').remove()
        })
    </script>

    <!--删除评论块-->
    <script type="text/javascript">
        $('.commentAll').on('click', '.removeBlock', function () {
            if (!is_authenticated) {
                redirect_to_login();
                return false;
            }
            var $this = $(this);
            if (this.dataset.comment_id != undefined) {
                var comment_id = this.dataset.comment_id;
                var url = "{% url 'article:delete_comment' %}";
                var post_data = {
                    "comment_id": comment_id
                };
            }
            else if (this.dataset.comment_reply_id != undefined) {
                var comment_reply_id = this.dataset.comment_reply_id;
                var url = "{% url 'article:delete_comment_reply' %}";
                var post_data = {
                    "comment_reply_id": comment_reply_id
                };
            }
            else {
                layer.msg('参数有误，请联系管理员', {time: 1000});
                return false;
            }
            $.post(
                    url,
                    post_data,
                    function (json) {
                        if (json.code == 200) {
                            var oT = $this.parents('.date-dz-right').parents('.date-dz').parents('.all-pl-con');
                            if (oT.siblings('.all-pl-con').length >= 1) {
                                oT.remove();
                            } else {
                                $this.parents('.date-dz-right').parents('.date-dz').parents('.all-pl-con').parents('.hf-list-con').css('display', 'none');
                                oT.remove();
                            }
                            $this.parents('.date-dz-right').parents('.date-dz').parents('.comment-show-con-list').parents('.comment-show-con').remove();
                            layer.msg(json.msg, {time: 1000});
                        }
                        else {
                            layer.msg(json.msg, {time: 1000});
                            return false
                        }
                    }
            );
        })
    </script>
    <!--点赞-->
    <script type="text/javascript">
        $('.comment-show').on('click', '.date-dz-z', function () {
            if (!is_authenticated) {
                redirect_to_login();
                return false;
            }
            var $this = $(this);
            var like_icon = $this.find('i');
            var parent_id = this.dataset.parent_id;
            var praise_type = this.dataset.praise_type;
            if (parent_id == undefined || praise_type == undefined) {
                layer.msg('参数错误，请联系管理员', {time: 1000});
                return false;
            }
            var zNum = $this.find('.z-num').html();
            if (like_icon.hasClass('icon-communityiconpraisesel')) {
                var url = "{% url 'article:cancel_praise' %}";
                var post_data = {
                    "parent_id": parent_id,
                    "praise_type": praise_type
                };
                $.post(
                        url,
                        post_data,
                        function (json) {
                            if (json.code == 200) {
                                zNum--;
                                like_icon.removeClass('icon-communityiconpraisesel');
                                like_icon.addClass('icon-communityiconpraise4');
                                $this.find('.z-num').html(zNum);
                            }
                            else {
                                layer.msg(json.msg, {time: 1000});
                                return false
                            }
                        }
                );
            } else {
                var url = "{% url 'article:save_praise' %}";
                var post_data = {
                    "parent_id": parent_id,
                    "praise_type": praise_type
                };
                $.post(
                        url,
                        post_data,
                        function (json) {
                            if (json.code == 200) {
                                zNum++;
                                like_icon.removeClass('icon-communityiconpraise4');
                                like_icon.addClass('icon-communityiconpraisesel');
                                $this.find('.z-num').html(zNum);
                            }
                            else {
                                layer.msg(json.msg, {time: 1000});
                                return false
                            }
                        }
                );
            }
        })
    </script>
    <script>
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
            $(".content-html").html($('.content-html')[0].dataset.content);
        });
    </script>

    <script>
        $("#btn-praise-article").click(function () {
            if (!is_authenticated) {
                redirect_to_login();
                return false;
            }
            var $this = $(this);
            var like_icon = $this.find('i');
            var parent_id = this.dataset.parent_id;
            var praise_type = this.dataset.praise_type;
            var praise_times = $this.find('.praise_times').html();

            if (like_icon.hasClass('icon-communityiconpraisesel')) {
                var url = "{% url 'article:cancel_praise' %}";
                var post_data = {
                    "parent_id": parent_id,
                    "praise_type": praise_type
                };
                $.post(
                        url,
                        post_data,
                        function (json) {
                            if (json.code == 200) {
                                praise_times--;
                                like_icon.removeClass('icon-communityiconpraisesel');
                                like_icon.addClass('icon-communityiconpraise4');
                                $this.removeClass('btn-success');
                                $this.addClass('btn-default');
                                $this.find('.praise_times').html(praise_times);
                            }
                            else {
                                layer.msg(json.msg, {time: 1000});
                                return false
                            }
                        }
                );
            } else {
                var url = "{% url 'article:save_praise' %}";
                var post_data = {
                    "parent_id": parent_id,
                    "praise_type": praise_type
                };
                $.post(
                        url,
                        post_data,
                        function (json) {
                            if (json.code == 200) {
                                praise_times++;
                                like_icon.removeClass('icon-communityiconpraise4');
                                like_icon.addClass('icon-communityiconpraisesel');
                                $this.removeClass('btn-default');
                                $this.addClass('btn-success');
                                $this.find('.praise_times').html(praise_times);
                            }
                            else {
                                layer.msg(json.msg, {time: 1000});
                                return false
                            }
                        }
                );
            }

        })
    </script>

    <script type="text/javascript">
            function ajaxGetComment(article_id, page_index) {
                $.getJSON("{% url 'article:comments' %}",
                            {
                                'page_index': page_index,
                                'article_id': article_id
                            }, function(json) {
                            if (json.data.length > 0) {
                                $(".comment-show").html('');
                                $.each(json.data, function(index, array) {
                                    var article_id = array['article_id'];
                                    var comment_id = array['comment_id'];
                                    //var commentator = array['commentator'];
                                    var avatar = array['commentator']['avatar'];
                                    var username = array['commentator']['username'];
                                    var user_id = array['commentator']['user_id'];
                                    var comment_at = array['comment_at'];
                                    var content = array['content'];
                                    var praise_times = array['praise_times'];
                                    var comment_replies = array['comment_replies'];
                                    var comment_html = '<div class="comment-show-con clearfix" id="comment-' + comment_id + '">' +
                                        '<div class="comment-show-con-img">' +
                                        '<img src="' + avatar + '" alt="' + username + '">' +
                                        '</div> ' +
                                        '<div class="pl-text clearfix">' +
                                        '<a href="javascript:void(0)" class="comment-size-name" data-commentator_id="' + user_id +
                                        '">' + username + '</a>' +
                                        '<span class="comment-time" data-comment_at="' + comment_at +
                                        '">' + '</span>' +
                                        '</div>' +
                                        '<div class="comment-show-con-list clearfix">' +
                                        '<div class="date-dz">' +
                                        '<p class="date-dz-left my-pl-con">' + content + '</p>' +
                                        '<div class="date-dz-right pull-right comment-pl-block">';

                                    if (login_user_id.toString() == user_id) {
                                        comment_html += '<a href="javascript:;" class="removeBlock" data-comment_id="' + comment_id + '">删除</a>';
                                    }

                                    comment_html += '<a href="javascript:;" class="date-dz-pl pl-hf hf-con-block" data-comment_id="' + comment_id +
                                        '" data-receiver_id="' + user_id + '" data-receiver_name="' + username +
                                        '">回复</a>' +
                                        '<span class="date-dz-line">|</span>' +
                                        '<a href="javascript:;" class="date-dz-z" data-parent_id="' + comment_id + '" data-praise_type="2">' +
                                        '<i class="iconfont icon-communityiconpraise4"></i><span class="z-num">' + praise_times + '</span></a>' +
                                        '</div>' +
                                        '</div>' +
                                        '<div class="hf-list-con">';

                                    $.each(comment_replies, function(index, reply) {
                                        var comment_reply_id = reply['comment_reply_id'].toString();
                                        var comment_id = reply['comment_id'].toString();
                                        var replier_username = reply['replier']['username'];
                                        var receiver_username = reply['receiver']['username'];
                                        var replier_id = reply['replier']['user_id'].toString();
                                        var reply_at = reply['reply_at'];
                                        var reply_content = reply['content'];
                                        var praise_times = reply['praise_times'].toString();
                                        var oAllVal = '回复@' + receiver_username + ':';
                                        var reply_html = '<div class="all-pl-con" id="comment-reply-' + comment_reply_id + '">' +
                                            '<div class="pl-text hfpl-text clearfix">' +
                                            '<a href="javascript:void(0)" class="comment-size-name">' + replier_username + '</a>' +
                                            '<span class="comment-time" data-comment_at="' + reply_at +
                                            '">' + '</span>' +
                                            '</div>' +
                                            '<div class="date-dz">' +
                                            '<p class="date-dz-left my-pl-con">' + oAllVal + reply_content  + '</p>' +
                                            '<div class="date-dz-right pull-right comment-pl-block">';
                                        if (login_user_id.toString() == replier_id) {
                                            reply_html += '<a href="javascript:;" class="removeBlock" data-comment_reply_id="' + comment_reply_id +
                                                '">删除</a>';
                                        }
                                        reply_html += '<a href="javascript:;" class="date-dz-pl pl-hf hf-con-block" data-comment_id="' + comment_id + '" data-receiver_id="' + replier_id + '" data-receiver_name="' + replier_username +
                                            '">回复</a>' +
                                            '<span class="date-dz-line">|</span> <a href="javascript:;" class="date-dz-z" data-parent_id="' + comment_reply_id + '" data-praise_type="3">' +
                                            '<i class="iconfont icon-communityiconpraise4"></i><span class="z-num">' + praise_times + '</span></a> ' +
                                            '</div> ' +
                                            '</div>' +
                                            '</div>';
                                        comment_html += reply_html;
                                    });

                                    comment_html +=  '</div>' + '</div>' + '</div>';
                                    $(".comment-show").append(comment_html);
                                });
                                timeDesc();
                                if (!json.has_next) {
                                    $(".next-page").addClass("disabled");
                                }
                                else {
                                    $(".next-page").removeClass("disabled");
                                }
                                if (page_index == 1) {
                                    $(".prev-page").addClass("disabled");
                                }
                                else {
                                    $(".prev-page").removeClass("disabled");
                                }
                            }
                            else {
                                $(".next-page").addClass("disabled");
                                return false
                            }
                        });
            }
            $(function() {
                var page_index = 1;
                var page_size = $("#page_size").val();
                var article_id = $("#article_id").val();
                $(".next-page").click(function() {
                    page_index ++;
                    ajaxGetComment(article_id, page_index);
                    location.href = "#comments";
                    //$("html,body").animate({scrollTop: $(".comment-show").offset().top}, 500);
                });

                $(".prev-page").click(function() {
                    page_index --;
                    ajaxGetComment(article_id, page_index);
                    location.href = "#comments";
                    //$("html,body").animate({scrollTop: $(".comment-show").offset().top}, 500);
                });
            });
    </script>

{% endblock %}
