{% extends "base.html" %}
{% block title %}<title>{{ author_data.username }}</title>{% endblock %}
{% block extra_header %}
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/article/author_info.css" rel="stylesheet">
    <script src="/static/js/time_desc.js"></script>
{% endblock %}
{% block content %}
    <div class="container index">
        <div class="row">
            <div class="col-sm-3">
                <div class="user-summation">
                    <div class="background"></div>
                    <div class="content">
                        <a href="javascript:void(0)">
                            <img class="user-avatar" src="{{ author_data.avatar }}" alt="{{ author_data.username }}">
                        </a>
                        <p class="user-name">{{ author_data.username }}</p>
                        <p class="user-bio">{{ author_data.bio }}</p>
                        <ul class="meta">
                            <li class="list-item">
                                <a href="javascript:void(0)" class="link">
                                    文章
                                    <p class="number">{{ article_count }}</p>
                                </a>
                            </li>

                            <li class="list-item">
                                <a href="javascript:void(0)" class="link">
                                    赞
                                    <p class="number">{{ praises_count }}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 main">
                <div id="list-container">
                    <ul class="note-list" id="note_list">
                    </ul>
                    <div class="read-more text-center">
                        <input type="hidden" value="{{ author_data.user_id }}" id="author_id">
                        <button class="btn btn-info" id="btn_read_more">查看更多</button>
                        <p class="text-center not-more-content">没有更多文章...</p>
                    </div>
                </div>
            </div>

            {% if user.is_authenticated and user.id == author_data.user_id %}
                <div class="col-sm-3">
                    <ul class="menu">
                        <li class="menu-item active">
                            <a href="{% url "article:user_articles" user.id %}"><i class="iconfont icon-article"></i>我的文章</a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url "article:user_drafts" %}"><i class="iconfont icon-drafts"></i>草稿箱</a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url "article:create_article" %}" target="_blank"><i class="iconfont icon-552ce439609c3"></i>写文章</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div><!--/row-->
    </div><!--/.container-->
{% endblock %}

{% block extra_js %}
    <script src="/static/js/jquery.lazyload.js"></script>
    <script>
        var is_authenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
        var login_user_id = {% if user.is_authenticated %}{{ user.id }}{% else %}0{% endif %};
    </script>

    <!--删除博文-->
    <script>
        function remove(obj) {
            var article_id = obj.dataset.article_id;
            layer.confirm('确定删除这篇文章吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                $.ajax({
                    url: "/api/v1/article/" + article_id,
                    type: "DELETE",
                    data: {
                        'article_id': article_id
                    },
                    dataType: "json",
                    success: function (json) {
                        if (json.code == 200) {
                            var article = $(obj).parent('li').parent('ul').parent('div').parent('div').parent('div').parent('li');
                            article.remove();
                            layer.msg(json.msg, {time: 1500});
                            window.location.reload()
                        }
                        else {
                            layer.msg(json.msg, {time: 1500});
                            return false
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var response_json = XMLHttpRequest.responseJSON;
                        layer.msg(response_json.msg, {time: 1500});
                        return false
                    }
                });
            }, function (index) {
                layer.close(index);
            });
        }
    </script>

    <script type="text/javascript">
        var author_id = $("#author_id").val();
        var note_list = document.getElementById('note_list');
        function ajax_get_article() {
            var earliest_time = note_list.dataset.earliest_time;
            var last_time = note_list.dataset.last_time;
            var data = {
                'author_id': author_id,
                'is_released': 1
            };
            if (typeof earliest_time != 'undefined') {
                data['earliest_time'] = earliest_time
            }
            if (typeof last_time != 'undefined') {
                data['last_time'] = last_time
            }
            $.getJSON("{% url 'api:articles' %}",
                    data, function (json) {
                        if (json.hasOwnProperty('results') && json.results.length > 0) {
                            var str = "";
                            $.each(json.results, function (index, array) {
                                var earliest_time = note_list.dataset.earliest_time;
                                var last_time = note_list.dataset.last_time;
                                var article_id = array['article_id'];
                                var title = array['title'];
                                var type = array['type'];
                                var cover_photo = array['cover_photo'];
                                var abstract = array['abstract'];
                                var comment_times = array['comment_times'];
                                var praise_times = array['praise_times'];
                                var release_time = array['release_time'];
                                var release_time_desc = getDateDiff(release_time);
                                var page_views = array['page_views'];
                                var author = array['author'];
                                if ((typeof earliest_time == 'undefined') || (new Date(release_time.replace(/-/g, "/")) > new Date(earliest_time.replace(/-/g, "/")))) {
                                    note_list.dataset.earliest_time = release_time
                                }
                                if ((typeof last_time == 'undefined') || (new Date(release_time.replace(/-/g, "/")) < new Date(last_time.replace(/-/g, "/")))) {
                                    note_list.dataset.last_time = release_time
                                }
                                var str = '<li id="article-' + article_id + '" data-article_id="' + article_id + '" class="note">';
                                str += '<div class="author">' +
                                        '<a class="avatar" target="_blank" href="/article/author/' + author['user_id'] + '">' +
                                        '<img src="' + author['avatar'] + '" alt="' + author['username'] + '"/>' +
                                        '</a>' +
                                        '<div class="info">' +
                                        '<a class="nickname" target="_blank" href="/article/author/' + author['user_id'] + '">' + author['username'] + '</a>' +
                                        '<span class="time">' + release_time_desc + '</span>' +
                                        '</div>';

                                if (is_authenticated && login_user_id == author_id) {
                                    str += '<div class="dropdown">' +
                                            '<a href="#" class="dropdown-toggle" data-toggle="dropdown">' +
                                            '<span class="caret"></span>' +
                                            '</a>' +
                                            '<ul class="dropdown-menu dropdown-menu-right">' +
                                            '<li>' +
                                            '<a href="javascript:void(0);" onclick="remove(this)" data-article_id="' + article_id + '">' +
                                            '<i class="iconfont icon-shanchu"></i> 删除' +
                                            '</a>' +
                                            '</li>' +
                                            '<li>' +
                                            '<a target="_blank" href="/article/details/' + article_id + '">' +
                                            '<i class="iconfont icon-chakan"></i> 查看' +
                                            '</a>' +
                                            '</li>' +
                                            '</ul>' +
                                            '</div>';
                                }
                                str += '</div>' + '<div class="article-info';
                                if (cover_photo) {
                                    str += ' with-img'
                                }
                                str += '">';
                                if (cover_photo) {
                                    str += '<a class="wrap-img" href="/article/details/' + article_id + '" target="_blank">' +
                                            '<img class="img-blur lazy" data-original="' + cover_photo + '" alt="' + title + '"/>' +
                                            '</a>'
                                }
                                str += '<a class="title" target="_blank" href="/article/details/' + article_id + '">' + title + '</a>' +
                                        '<p class="abstract">' + abstract + '</p>' +
                                        '<div class="meta">' +
                                        '<a class="collection-tag" target="_blank" href="/article/category/' + type['value'] +
                                        '">' + type['display_name'] + '</a>' +
                                        '<a target="_blank" href="/article/details/' + article_id + '">' +
                                        '<i class="iconfont icon-view"></i>' + page_views +
                                        '</a>' +
                                        '<a target="_blank" href="/article/details/' + article_id + '#comments">' +
                                        '<i class="iconfont icon-message"></i>' + comment_times +
                                        '</a>' +
                                        '<span><i class="iconfont icon-like"></i>' + praise_times + '</span>' +
                                        '</div>' +
                                        '</div>' +
                                        '</li>';
                                $(".note-list").append(str);
                            });
                            $("img.lazy").lazyload({
                                effect: "fadeIn"
                            });
                            if (!json.has_more) {
                                $("#btn_read_more").hide();
                                $(".read-more .not-more-content").show();
                                return false;
                            }
                        } else {
                            $("#btn_read_more").hide();
                            $(".read-more .not-more-content").show();
                            return false;
                        }
                    });
        }
        $(function () {
            $('.background').css("backgroundImage", "url({{ author_data.background }})");
            ajax_get_article();
            $("#btn_read_more").click(function () {
                ajax_get_article()
            });
        });
    </script>
{% endblock %}