{% extends "base.html" %}
{% block title %}<title>{{ author_data.username }}</title>{% endblock %}
{% block extra_header %}
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/article/author_info.css" rel="stylesheet">
    <script src="/static/js/time_desc.js"></script>
{% endblock %}
{% block content %}
    <div class="container index">
        <div class="row">
            <div class="col-sm-3">
                <div class="user-summation">
                    <div class="background"></div>
                    <div class="content">
                        <a href="javascript:void(0)">
                            <img class="user-avatar" src="{{ author_data.avatar }}" alt="{{ author_data.username }}">
                        </a>
                        <h5 class="user-name">
                            <a class="link" href="javascript:void(0)">{{ author_data.username }}</a>
                        </h5>
                        <p class="user-bio">{{ author_data.bio }}</p>
                        <ul class="meta">
                            <li class="list-item">
                                <a href="javascript:void(0)" class="link">
                                文章
                                <p class="number">{{ article_count }}</p>
                                </a>
                            </li>

                            <li class="list-item">
                                <a href="javascript:void(0)" class="link">
                                赞
                                <p class="number">{{ praises_count }}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 main">
                <div id="list-container">
                    <ul class="note-list">
                        {% for article in articles_info %}
                                <li id="article-{{ article.article_id }}" data-article_id="{{ article.article_id }}" class="note">
                                    <div class="content">
                                        <div class="author">
                                            <a class="avatar" target="_blank" href="{% url 'article:user_articles' article.author.user_id %}">
                                                <img src="{{ article.author.avatar }}" alt="{{ article.author.username }}"/>
                                            </a>
                                            <div class="info">
                                                <a class="nickname" target="_blank" href="{% url 'article:user_articles' article.author.user_id %}">{{ article.author.username }}</a>
                                                <span class="time" data-release_at="{{ article.release_time }}"></span>
                                            </div>
                                            {% if user.is_authenticated and user.id == author_data.user_id %}
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="javascript:void(0);" onclick="remove(this)" data-article_id="{{ article.article_id }}">
                                                            <i class="iconfont icon-shanchu"></i> 删除
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a target="_blank" href="{% url 'article:details' article.article_id %}">
                                                            <i class="iconfont icon-chakan"></i> 查看
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div{% if article.cover_photo %} class="with-img"{% endif %}>
                                            {% if article.cover_photo %}
                                            <a class="wrap-img" href="{% url 'article:details' article.article_id %}" target="_blank">
                                                <img class="img-blur" src="{{ article.cover_photo }}" alt="{{ article.title }}"/>
                                            </a>
                                            {% endif %}
                                            <a class="title" target="_blank" href="{% url 'article:details' article.article_id %}">{{ article.title }}</a>
                                            <p class="abstract">{{ article.abstract }}</p>
                                        </div>
                                        <div class="meta">
                                            <a class="collection-tag" target="_blank" href="{% url 'article:article_category' article.type.value %}">{{ article.type.display_name }}</a>
                                            <a target="_blank" href="{% url 'article:details' article.article_id %}">
                                                <i class="iconfont icon-view"></i> {{ article.page_views }}
                                            </a>
                                            <a target="_blank" href="{% url 'article:details' article.article_id %}#comments">
                                                <i class="iconfont icon-message"></i> {{ article.comment_times }}
                                            </a>
                                            <span><i class="iconfont icon-like"></i> {{ article.praise_times }}</span>
                                        </div>
                                    </div>
                                </li>
                        {% endfor %}
                    </ul>
                    <div class="read-more text-center">
                        <input type="hidden" value="{{ page_size }}" id="page_size">
                        <input type="hidden" value="{{ author_data.user_id }}" id="author_id">
                        <input type="hidden" value="{{ has_next }}" id="has_next">
                        <button class="btn btn-default btn-info" id="btn_read_more" style="outline: none;">查看更多</button>
                        <p class="text-center not-more-content">没有更多文章...</p>
                    </div>
                </div>
            </div>

            {% if user.is_authenticated and user.id == author_data.user_id %}
            <div class="col-sm-3">
                <div class="sidebar-box">
                    <div class="list-group">
                        <a class="list-group-item active" href="{% url "article:user_articles" user.id %}" title="我的文章"><i class="iconfont icon-article"></i>我的文章</a>
                        <a class="list-group-item" href="{% url "article:user_drafts" %}" title="草稿箱"><i class="iconfont icon-drafts"></i>草稿箱</a>
                        <a class="list-group-item" href="{% url "article:create_article" %}" title="写文章" target="_blank"><i class="iconfont icon-552ce439609c3"></i>写文章</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div><!--/row-->
    </div><!--/.container-->
{% endblock %}

{% block extra_js %}

    <script>
        var is_authenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
        var login_user_id = {% if user.is_authenticated %}{{ user.id }}{% else %}0{% endif %};
    </script>
    <!--发布时间描述-->
    <script>
        function timeDesc() {
            $("span.time").each(function () {
                var time_str = this.dataset.release_at;
                var time_desc = getDateDiff(time_str);
                $(this).text(time_desc)
            })
        }
        $(function () {
            timeDesc()
        });
    </script>

    <script>
        $(function () {
            var has_next = parseInt($("#has_next").val());
            if (!has_next) {
                $("#btn_read_more").hide();
                $(".read-more .not-more-content").show();
            }
        });
    </script>

    <!--删除博文-->
    <script>
        function remove(obj) {
            var article_id = obj.dataset.article_id;
            layer.confirm('确定删除这篇文章吗？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.post(
                    "{% url 'article:delete_article' %}",
                    {
                        'article_id': article_id
                    },
                    function (json) {
                        if (json.code == 200) {
                            var article = $(obj).parent('li').parent('ul').parent('div').parent('div').parent('div').parent('li');
                            article.remove();
                            layer.msg(json.msg, {time: 1500})
                        }
                        else {
                            layer.msg(json.msg, {time: 1500});
                            return false
                        }
                    }
                );
            }, function(index){
                layer.close(index);
            });
        }
    </script>

    <script type="text/javascript">
            $(function() {
                var page_index = 2;
                var page_size = $("#page_size").val();
                var author_id = $("#author_id").val();
                $("#btn_read_more").click(function() {
                    $.getJSON("{% url 'article:articles' %}",
                            {
                                'page_index': page_index,
                                'author_id': author_id,
                                'is_released': 1
                            }, function(json) {
                            if (json.data.length > 0) {
                                var str = "";
                                $.each(json.data, function(index, array) {
                                    var article_id = array['article_id'];
                                    var title = array['title'];
                                    var type = array['type'];
                                    var cover_photo = array['cover_photo'];
                                    var abstract = array['abstract'];
                                    var comment_times = array['comment_times'];
                                    var praise_times = array['praise_times'];
                                    var release_time = array['release_time'];
                                    var page_views = array['page_views'];
                                    var author = array['author'];
                                    var str = '<li id="article-' + article_id + '" data-article_id="' + article_id + '" class="note">';
                                    str += '<div class="content">' +
                                        '<div class="author">' +
                                            '<a class="avatar" target="_blank" href="/article/author/' + author['user_id'] + '">' +
                                                '<img src="' + author['avatar'] + '" alt="' + author['username'] + '"/>' +
                                            '</a>' +
                                            '<div class="info">' +
                                                '<a class="nickname" target="_blank" href="/article/author/' + author['user_id'] + '">' + author['username'] + '</a>' +
                                                '<span class="time" data-release_at="' + release_time + '">' + '</span>' +
                                            '</div>';

                                    if (is_authenticated && login_user_id == author_id) {
                                        str += '<div class="dropdown">' +
                                                '<a href="#" class="dropdown-toggle" data-toggle="dropdown">' +
                                                    '<span class="caret"></span>' +
                                                '</a>' +
                                                '<ul class="dropdown-menu dropdown-menu-right">' +
                                                    '<li>' +
                                                        '<a href="javascript:void(0);" onclick="remove(this)" data-article_id="' + article_id  + '">' +
                                                            '<i class="iconfont icon-shanchu"></i> 删除' +
                                                        '</a>' +
                                                    '</li>' +
                                                    '<li>' +
                                                        '<a target="_blank" href="/article/details/' + article_id  + '">' +
                                                            '<i class="iconfont icon-chakan"></i> 查看' +
                                                        '</a>' +
                                                    '</li>' +
                                                '</ul>' +
                                            '</div>';
                                    }
                                    str += '</div>' + '<div';
                                    if (cover_photo) {
                                        str += ' class="with-img">'
                                    }
                                    else {
                                        str += '>'
                                    }
                                    if (cover_photo) {
                                        str += '<a class="wrap-img" href="/article/details/' + article_id + '" target="_blank">' +
                                         '<img class="img-blur" src="' + cover_photo + '" alt="' + title + '"/>' +
                                         '</a>'
                                    }
                                    str +=  '<a class="title" target="_blank" href="/article/details/' + article_id  + '">' + title + '</a>' +
                                        '<p class="abstract">' + abstract + '</p>' +
                                        '</div>' +
                                        '<div class="meta">' +
                                            '<a class="collection-tag" target="_blank" href="/article/category/' + type['value'] +
                                            '">' + type['display_name'] + '</a>' +
                                            '<a target="_blank" href="/article/details/' + article_id + '">' +
                                                '<i class="iconfont icon-view"></i>' + page_views +
                                            '</a>' +
                                            '<a target="_blank" href="/article/details/' + article_id  + '#comments">' +
                                                '<i class="iconfont icon-message"></i>' + comment_times +
                                            '</a>' +
                                            '<span><i class="iconfont icon-like"></i>' + praise_times + '</span>' +
                                        '</div>' +
                                        '</div>' +
                                        '</li>';
                                    $(".note-list").append(str);
                                });
                                timeDesc();
                                if (!json.has_next) {
                                    $("#btn_read_more").hide();
                                    $(".read-more .not-more-content").show();
                                    return false;
                                }
                                page_index++;
                            } else {
                                $("#btn_read_more").hide();
                                $(".read-more .not-more-content").show();
                                return false;
                            }
                        });
                });
            });
    </script>
{% endblock %}