{% extends "base.html" %}
{% block title %}<title>LOVEITERS | 草稿箱</title>{% endblock %}
{% block extra_header %}
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/article/author_info.css" rel="stylesheet">
    <script src="/static/js/time_desc.js"></script>
{% endblock %}
{% block content %}
    <div class="container index">
        <div class="row">
            <div class="col-sm-3">
                <div class="user-summation">
                    <div class="background"></div>
                    <div class="content">
                        <a href="javascript:void(0)">
                            <img class="user-avatar" src="{{ user_data.avatar }}" alt="{{ user_data.username }}">
                        </a>
                        <h5 class="user-name">
                            <a class="link" href="javascript:void(0)">{{ user_data.username }}</a>
                        </h5>
                        <p class="user-bio">{{ user_data.bio }}</p>
                        <ul class="meta">
                            <li class="list-item">
                                <a href="javascript:void(0)" class="link">
                                草稿
                                <p class="number">{{ drafts_count }}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 main">
                <div id="list-container">
                    <ul class="note-list">
                        {% for draft in drafts_info%}
                                <li id="article-{{ draft.article_id }}" data-article_id="{{ draft.article_id }}">
                                    <div class="content">
                                        <div class="author">
                                            <a class="avatar" target="_blank" href="{% url 'article:user_articles' draft.author.user_id %}">
                                                <img src="{{ draft.author.avatar }}" alt="{{ draft.author.username }}"/>
                                            </a>
                                            <div class="info">
                                                <a class="nickname" target="_blank" href="{% url 'article:user_articles' draft.author.user_id %}">{{ draft.author.username }}</a>
                                                <span class="time" data-update_at="{{ draft.update_time }}"></span>
                                            </div>
                                        </div>
                                        <div{% if draft.cover_photo %} class="with-img"{% endif %}>
                                            {% if draft.cover_photo %}
                                            <a class="wrap-img" href="{% url 'article:details' draft.article_id %}" target="_blank">
                                            <img class="img-blur" src="{{ draft.cover_photo }}" alt="{{ draft.title }}"/>
                                            </a>
                                            {% endif %}
                                            <a class="title" target="_blank" href="{% url 'article:edit_article' draft.article_id %}">{{ draft.title }}</a>
                                            <p class="abstract">{{ draft.abstract }}</p>
                                        </div>
                                        <div class="meta">
                                            <a href="javascript:void(0);" onclick="release(this)" data-article_id="{{ draft.article_id }}">
                                                <i class="iconfont icon-send"></i> 发布
                                            </a>
                                            <a href="javascript:void(0);" onclick="remove(this)" data-article_id="{{ draft.article_id }}">
                                                <i class="iconfont icon-shanchu"></i> 删除
                                            </a>
                                            <a href="{% url 'article:edit_article' draft.article_id %}" target="_blank">
                                                <i class="iconfont icon-edit"></i> 编辑
                                            </a>
                                        </div>
                                    </div>
                                </li>
                        {% endfor %}
                    </ul>
                    <div class="read-more text-center">
                        <input type="hidden" value="{{ has_next }}" id="has_next">
                        <button class="btn btn-default btn-info" id="btn_read_more" style="outline: none;">查看更多</button>
                        <p class="text-center not-more-content">没有更多草稿...</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="sidebar-box">
                    <div class="list-group">
                        <a class="list-group-item" href="{% url "article:user_articles" user.id %}" title="我的文章"><i class="iconfont icon-article"></i>我的文章</a>
                        <a class="list-group-item active" href="{% url "article:user_drafts" %}" title="草稿箱"><i class="iconfont icon-drafts"></i>草稿箱</a>
                        <a class="list-group-item" href="{% url "article:create_article" %}" title="写文章" target="_blank"><i class="iconfont icon-552ce439609c3"></i>写文章</a>
                    </div>
                </div>
            </div>
        </div><!--/row-->
    </div><!--/.container-->
{% endblock %}

{% block extra_js %}

    <!--发布时间描述-->
    <script>
        function timeDesc() {
            $("span.time").each(function () {
                var time_str = this.dataset.update_at;
                var time_desc = getDateDiff(time_str);
                $(this).text(time_desc)
            })
        }
        $(function () {
            timeDesc()
        });
    </script>

    <script>
        $(function () {
            var has_next = parseInt($("#has_next").val());
            if (!has_next) {
                $("#btn_read_more").hide();
                $(".read-more .not-more-content").show();
            }
        });
    </script>

    <!--博文操作(删除，发布)-->
    <script>
        function remove(obj) {
            var article_id = obj.dataset.article_id;
            layer.confirm('确定删除这篇文章吗？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.ajax({
                    url: "{% url 'api:delete_article' %}",
                    type: "DELETE",
                    data: {
                        'article_id': article_id
                    },
                    dataType: "json",
                    success: function (json) {
                        if (json.code == 200) {
                            var article = $(obj).parent('div').parent('div').parent('li');
                            article.remove();
                            layer.msg(json.msg, {time: 1500});
                            window.location.reload()
                        }
                        else {
                            layer.msg(json.msg, {time: 1500});
                            return false
                        }
                    }
                });
            }, function(index){
                layer.close(index);
            });
        }

        function release(obj) {
            var article_id = obj.dataset.article_id;
            $.ajax({
                url: "{% url 'api:update_article_release_status' %}",
                type: "PUT",
                data: {
                    'article_id': article_id
                },
                dataType: "json",
                success: function (json) {
                    if (json.code == 200) {
                        var article = $(obj).parent('div').parent('div').parent('li');
                        article.remove();
                        layer.alert(json.msg, function () {
                            var detail_url = '/article/details/' + article_id;
                            window.location.href = detail_url
                        })
                    }
                    else {
                        layer.msg(json.msg, {time: 1500});
                        return false
                    }
                }
            });
        }
    </script>

    <script type="text/javascript">
            $(function() {
                var page_index = 2;
                var user_info_span = $(".user-info")[0];
                var user_id = user_info_span.dataset.user_id;
                $("#btn_read_more").click(function() {
                    $.getJSON("{% url 'api:articles' %}",
                            {
                                'page': page_index,
                                'author_id': user_id,
                                'is_released': 0
                            }, function(json) {
                            if (json.results.length > 0) {
                                var str = "";
                                $.each(json.results, function(index, array) {
                                    var article_id = array['article_id'];
                                    var title = array['title'];
                                    var type = array['type'];
                                    var cover_photo = array['cover_photo'];
                                    var abstract = array['abstract'];
                                    var author = array['author'];
                                    var update_time = array['update_time'];
                                    var str = '<li id="article-' + article_id + '" data-article_id="' + article_id + '">';
                                    str += '<div class="content">' +
                                        '<div class="author">' +
                                            '<a class="avatar" target="_blank" href="/article/author/' + author['user_id'] + '">' +
                                                '<img src="' + author['avatar'] + '" alt="' + author['username'] + '"/>' +
                                            '</a>' +
                                            '<div class="info">' +
                                                '<a class="nickname" target="_blank" href="/article/author/' + author['user_id'] + '">' + author['username'] + '</a>' +
                                                '<span class="time" data-update_at="' + update_time + '">' + '</span>' +
                                            '</div>' +
                                        '</div>' +
                                        '<div';
                                    if (cover_photo) {
                                        str += ' class="with-img">'
                                    }
                                    else {
                                        str += '>'
                                    }
                                    if (cover_photo) {
                                        str += 'class="with-img">' +
                                         '<a class="wrap-img" href="/article/details/' + article_id + '" target="_blank">' +
                                         '<img class="img-blur" src="' + cover_photo + '" alt="' + title + '"/>' +
                                         '</a>';
                                    }
                                    str +=  '<a class="title" target="_blank" href="/article/edit/' + article_id  + '">' + title + '</a>' +
                                        '<p class="abstract">' + abstract + '</p>' +
                                        '</div>' +
                                        '<div class="meta">' +
                                            '<a href="javascript:void(0);" onclick="release(this)" data-article_id="' + article_id + '">' +
                                                '<i class="iconfont icon-send"></i> 发布' +
                                            '</a>' +
                                            '<a href="javascript:void(0);" onclick="remove(this)" data-article_id="' + article_id + '">' +
                                                '<i class="iconfont icon-shanchu"></i> 删除' +
                                            '</a>' +
                                            '<a href="/article/edit/' + article_id + '" target="_blank">' +
                                                '<i class="iconfont icon-edit"></i> 编辑' +
                                            '</a>' +
                                        '</div>' +
                                        '</div>' +
                                        '</li>';
                                    $(".note-list").append(str);
                                });
                                timeDesc();
                                if (!json.next) {
                                    $("#btn_read_more").hide();
                                    $(".read-more .not-more-content").show();
                                    return false;
                                }
                                page_index++;
                            } else {
                                $("#btn_read_more").hide();
                                $(".read-more .not-more-content").show();
                                return false;
                            }
                        });
                });
            });
    </script>
{% endblock %}