{% extends "base.html" %}
{% block title %}<title>头像预览</title>{% endblock %}
{% block extra_header %}
    <link rel="stylesheet" href="/static/css/account/meta.css">
    <link rel="stylesheet" href="/static/cropper/cropper.min.css">
{% endblock %}

{% block content %}
    <div id="app" class="mui-views">
        <div class="mui-view">
            <div class="mui-navbar">
            </div>
            <div class="mui-pages">
            </div>
        </div>
    </div>
    <div id="avatar_preview" class="mui-page">
        <div class="mui-navbar-inner mui-bar mui-bar-nav">
            <button type="button" class="action-back mui-left mui-btn mui-btn-link mui-btn-nav mui-pull-left">
                <span class="mui-icon mui-icon-left-nav"></span>
            </button>
            <h1 class="mui-title">个人头像</h1>
            <a href="#select_avatar" class="mui-icon mui-icon-more mui-pull-right"></a>
        </div>

        <div class="mui-page-content">
            <div class="mui-zoom-scroller">
                <img src="{{ user.profile.avatar.url }}" class="mui-zoom">
            </div>
        </div>

        <div id="select_avatar" class="mui-popover mui-popover-action mui-popover-bottom">
            <ul class="mui-table-view ul-select" style="margin: 0;border-radius: 0">
                <li class="mui-table-view-cell">
                    <span>更换头像</span>
                </li>
                <li class="mui-table-view-cell mui-hidden">
                    <a href="#">拍照</a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="#" id="select_avatar_btn">选择图片</a>
                </li>
            </ul>
            <ul class="mui-table-view" style="margin:10px 0 0;border-radius: 0;">
                <li class="mui-table-view-cell">
                    <a href="#select_avatar" style="color: #000;">取消</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="upload_avatar" class="mui-page">
        <div class="mui-navbar-inner mui-bar mui-bar-nav">
            <button type="button" class="mui-action-back mui-left mui-btn mui-btn-link mui-btn-nav mui-pull-left">
                <span class="mui-icon mui-icon-left-nav"></span>
            </button>
            <h1 class="mui-title">个人头像</h1>
        </div>
        <div class="mui-page-content">
            <div class="img-container">
                <img id="image" src="" class="cropper-hidden">
            </div>
            <input type="file" class="mui-hidden" id="inputImage" name="file">
        </div>
        <nav class="mui-bar mui-bar-tab">
            <a class="cancel-upload mui-tab-item" href="#">
                <span class="mui-tab-label">取消</span>
            </a>
            <a class="mui-tab-item cropper-action" href="#" data-method="rotate" data-option="-90">
                <span class="mui-tab-label">旋转</span>
            </a>
            <a class="mui-tab-item cropper-action" href="#" data-method="reset">
                <span class="mui-tab-label">重设</span>
            </a>
            <a class="mui-tab-item cropper-action" href="#" data-method="getCroppedCanvas"
               data-option="{ 'width': 180, 'height': 180 }">
                <span class="mui-tab-label">确定</span>
            </a>
        </nav>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="/static/mui/js/mui.view.js"></script>
    <script src="/static/cropper/cropper.min.js"></script>

    <script>
        mui.init({
            swipeBack: false
        });

        //初始化单页view
        var viewApi = mui('#app').view({
            defaultPage: '#avatar_preview'
        });
        //初始化单页的区域滚动
        mui('.mui-scroll-wrapper').scroll();
        var view = viewApi.view;
        (function ($) {
            //处理view的后退与webview后退
            var oldBack = $.back;
            $.back = function () {
                if (viewApi.canBack()) { //如果view可以后退，则执行view的后退
                    viewApi.back();
                } else { //执行webview后退
                    oldBack();
                }
            };
            //监听页面切换事件方案1,通过view元素监听所有页面切换事件，目前提供pageBeforeShow|pageShow|pageBeforeBack|pageBack四种事件(before事件为动画开始前触发)
            //第一个参数为事件名称，第二个参数为事件回调，其中e.detail.page为当前页面的html对象
            view.addEventListener('pageBeforeShow', function (e) {
                console.log(e.detail.page.id + ' beforeShow');
            });
            view.addEventListener('pageShow', function (e) {
                console.log(e.detail.page.id + ' show');
            });
            view.addEventListener('pageBeforeBack', function (e) {
                console.log(e.detail.page.id + ' beforeBack');
            });
            view.addEventListener('pageBack', function (e) {
                console.log(e.detail.page.id + ' back');
            });
        })(mui);

        mui('body').on('tap', '.action-back', function () {
            history.go(-1)
        });

        mui('body').on('tap', '.cancel-upload', function () {
            viewApi.go('#avatar_preview');
        });


        mui('#select_avatar').on('tap', '#select_avatar_btn', function () {
            $('#inputImage').click()
        });

        var toast_option = {
            duration: 1000
        };

        function getBlobBydataURI(dataURI, type) {
            var binary = atob(dataURI);
            var array = [];
            for (var i = 0; i < binary.length; i++) {
                array.push(binary.charCodeAt(i));
            }
            return new Blob([new Uint8Array(array)], {type: type});
        }

        function AjaxUploadAvatar(formData) {
            mui.showLoading("正在上传头像...", "div");
            $.ajax({
                type: "PUT",
                url: "{% url 'api:update_user_avatar' %}",
                data: formData,
                processData: false,
                contentType: false,
                success: function (re) {
                    mui.hideLoading();
                    if (re.code == 200) {
                        location.href = "{% url 'account:user_center' %}";
                    }
                    else {
                        mui.toast(re.msg, toast_option);
                        return false
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    mui.hideLoading();
                    var response_json = XMLHttpRequest.responseJSON;
                    mui.toast(response_json.msg, toast_option);
                }
            });
        }

        $(function () {
            var console = window.console || {
                        log: function () {
                        }
                    };
            var URL = window.URL || window.webkitURL;
            var $image = $('#image');
            var $download = $('#download');
            var options = {
                aspectRatio: 1,
                preview: '.img-preview',
                viewMode: 1
            };
            var originalImageURL = $image.attr('src');
            var uploadedImageName = 'cropped.jpg';
            var uploadedImageType = 'image/jpeg';
            var uploadedImageURL;

            // Cropper
            $image.on({
                ready: function (e) {
                    console.log(e.type);
                },
                cropstart: function (e) {
                    console.log(e.type, e.detail.action);
                },
                cropmove: function (e) {
                    console.log(e.type, e.detail.action);
                },
                cropend: function (e) {
                    console.log(e.type, e.detail.action);
                },
                crop: function (e) {
                    console.log(e.type);
                },
                zoom: function (e) {
                    console.log(e.type, e.detail.ratio);
                }
            }).cropper(options);

            // Methods

            mui('body').on('tap', '.cropper-action', function () {
                var $this = $(this);
                var data = $this.data();
                var cropper = $image.data('cropper');
                var cropped;
                var $target;
                var result;

                if ($this.prop('disabled') || $this.hasClass('disabled')) {
                    return;
                }

                if (cropper && data.method) {
                    data = $.extend({}, data); // Clone a new one

                    if (typeof data.target !== 'undefined') {
                        $target = $(data.target);

                        if (typeof data.option === 'undefined') {
                            try {
                                data.option = JSON.parse($target.val());
                            } catch (e) {
                                console.log(e.message);
                            }
                        }
                    }

                    cropped = cropper.cropped;

                    switch (data.method) {
                        case 'rotate':
                            if (cropped && options.viewMode > 0) {
                                $image.cropper('clear');
                            }

                            break;

                        case 'getCroppedCanvas':
                            if (uploadedImageType === 'image/jpeg') {
                                if (!data.option) {
                                    data.option = {};
                                }

                                data.option.fillColor = '#fff';
                            }

                            break;
                    }

                    result = $image.cropper(data.method, data.option);

                    switch (data.method) {
                        case 'rotate':
                            if (cropped && options.viewMode > 0) {
                                $image.cropper('crop');
                            }

                            break;

                        case 'scaleX':
                        case 'scaleY':
                            $(this).data('option', -data.option);
                            break;

                        case 'getCroppedCanvas':
                            if (result) {
                                var img_data = result.toDataURL(uploadedImageType).split(',')[1];
                                var $Blob = getBlobBydataURI(img_data, 'image/jpeg');
                                var formData = new FormData();
                                formData.append("avatar", $Blob);
                                AjaxUploadAvatar(formData)
                            }

                            break;

                        case 'destroy':
                            if (uploadedImageURL) {
                                URL.revokeObjectURL(uploadedImageURL);
                                uploadedImageURL = '';
                                $image.attr('src', originalImageURL);
                            }

                            break;
                    }

                    if ($.isPlainObject(result) && $target) {
                        try {
                            $target.val(JSON.stringify(result));
                        } catch (e) {
                            console.log(e.message);
                        }
                    }

                }
            });

            // Keyboard
            $(document.body).on('keydown', function (e) {

                if (!$image.data('cropper') || this.scrollTop > 300) {
                    return;
                }

                switch (e.which) {
                    case 37:
                        e.preventDefault();
                        $image.cropper('move', -1, 0);
                        break;

                    case 38:
                        e.preventDefault();
                        $image.cropper('move', 0, -1);
                        break;

                    case 39:
                        e.preventDefault();
                        $image.cropper('move', 1, 0);
                        break;

                    case 40:
                        e.preventDefault();
                        $image.cropper('move', 0, 1);
                        break;
                }

            });
            // Import image
            var $inputImage = $('#inputImage');

            if (URL) {
                $inputImage.change(function () {
                    mui('#select_avatar').popover('hide');
                    viewApi.go('#upload_avatar');

                    var files = this.files;
                    var file;

                    if (!$image.data('cropper')) {
                        return;
                    }

                    if (files && files.length) {
                        file = files[0];

                        if (/^image\/\w+$/.test(file.type)) {
                            var maxSize = 1024 * 10;  //10M
                            var size = file.size / 1024;
                            if (size > maxSize) {
                                mui.toast('图片最大为10M!', toast_option);
                                return false;
                            }

                            uploadedImageName = file.name;
                            uploadedImageType = file.type;

                            if (uploadedImageURL) {
                                URL.revokeObjectURL(uploadedImageURL);
                            }

                            uploadedImageURL = URL.createObjectURL(file);
                            $image.cropper('destroy').attr('src', uploadedImageURL).cropper(options);
                            $inputImage.val('');
                        } else {
                            mui.toast('请选择正确的图片!', toast_option);
                        }
                    }
                });
            } else {
                $inputImage.prop('disabled', true).parent().addClass('disabled');
            }
        })
    </script>
{% endblock %}

