{% extends "base.html" %}
{% block title %}<title>忘记密码</title>{% endblock %}
{% block extra_header %}
    <link rel="stylesheet" href="/static/css/account/meta.css">
{% endblock %}
{% block content %}
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">忘记密码</h1>
    </header>
    <div class="mui-content">

        <form id='check_account_form' class="mui-input-group">
            <div class="mui-input-row">
                <label>邮箱</label>
                <input name="email" type="email" class="mui-input-clear mui-input"
                       placeholder="请输入邮箱">
            </div>
            <div class="mui-content-padded">
                <button id='btn_check_account' type="button" class="mui-btn mui-btn-block mui-btn-primary">
                    下一步
                </button>
            </div>
        </form>

        <form id="reset_password_form" class="mui-input-group mui-hidden">
            <div class="mui-input-row">
                <label>验证码</label>
                <input name="verification_code" type="text" maxlength="6" class="mui-input mui-input-verification"
                       placeholder="请输入验证码">
                <a class="resend-verification-link">重新发送</a>
            </div>
            <div class="mui-input-row">
                <label>密码</label>
                <input name="password" type="password" class="mui-input-password"
                       placeholder="请设置密码">
            </div>
            <div class="mui-input-row">
                <label>确认</label>
                <input name="confirm_password" type="password" class="mui-input-password"
                       placeholder="请确认密码">
            </div>
            <div class="mui-content-padded">
                <button id='btn_reset_password' type="button" class="mui-btn mui-btn-block mui-btn-primary">确定
                </button>
            </div>
            <p class="tips" style="margin: 20px 10px 10px">验证码已发送至邮箱，注意查收，若邮件未出现在收件箱，请留意垃圾箱。</p>
            <input type="hidden" name="email">
        </form>
    </div>

{% endblock %}
{% block extra_js %}
    <script src="/static/mui/js/mui.enterfocus.js"></script>
    <script>
        var toast_option = {
            duration: 1000
        };
        var check_account_form = document.getElementById('check_account_form');
        var reset_password_form = document.getElementById('reset_password_form');
        var reg_verification_code = /^[\d]{6}$/;
        var reg_email = /^[\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+$/;
        var reg_password = /^[\w!@#$%^&*?,.;_]{6,32}$/;

        var COUNTDOWN_SECOND = 60;
        function count_down_clock(btn) {
            if (COUNTDOWN_SECOND == 0) {
                $(btn).css('pointer-events', 'auto');
                $(btn).html("重新获取");
                COUNTDOWN_SECOND = 60;
            } else {
                $(btn).css('pointer-events', 'none');
                $(btn).html("重新获取(" + COUNTDOWN_SECOND + "s)");
                COUNTDOWN_SECOND--;
                setTimeout(function () {
                    count_down_clock(btn)
                }, 1000);
            }
        }

        mui('#check_account_form').on('tap', '#btn_check_account', function () {
            var email = check_account_form.querySelector('input[name="email"]').value;
            var self = this;
            var reg_email = /^[\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+$/;
            if (email == '') {
                mui.toast('请先输入邮箱', toast_option);
                return false
            }
            else if (!reg_email.test(email)) {
                mui.toast('邮箱格式有误，请重新输入', toast_option);
                return false
            }
            mui.showLoading("正在验证邮箱..", "div");
            $.ajax({
                type: 'POST',
                url: '{% url 'api:check_account_is_exists' %}',
                data: {"email": email},
                dataType: 'json',
                success: function (data) {
                    if (data.code == 200) {
                        $.ajax({
                            type: 'POST',
                            url: '{% url 'api:send_email_to_reset_password' %}',
                            data: {"email": email},
                            dataType: 'json',
                            success: function (json) {
                                mui.hideLoading();
                                if (json.code == 200) {
                                    reset_password_form.querySelector('input[name="email"]').value = email;
                                    $(check_account_form).addClass('mui-hidden');
                                    $(reset_password_form).removeClass('mui-hidden');
                                }
                                else {
                                    mui.toast(json.msg, toast_option);
                                    return false
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                mui.hideLoading();
                                var response_json = XMLHttpRequest.responseJSON;
                                mui.toast(response_json.msg, toast_option);
                                return false
                            }
                        });
                    }
                    else {
                        mui.toast(data.msg, toast_option);
                        return false
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    mui.hideLoading();
                    var response_json = XMLHttpRequest.responseJSON;
                    mui.toast(response_json.msg, toast_option);
                    return false
                }
            });
        });

        function init_form() {
            $("form input").val('');
            $('#reset_password_form').addClass('mui-hidden');
            $('#check_account_form').removeClass('mui-hidden');
        }

        mui('#reset_password_form').on('tap', '#btn_reset_password', function () {
            var self = this;
            var email = reset_password_form.querySelector('input[name="email"]').value;
            var verification_code = reset_password_form.querySelector('input[name="verification_code"]').value;
            var password = reset_password_form.querySelector('input[name="password"]').value;
            var confirm_password = reset_password_form.querySelector('input[name="confirm_password"]').value;

            if (email == '') {
                mui.toast('参数缺失，请重试。', toast_option);
                init_form();
                return false
            }
            else if (verification_code == '') {
                mui.toast('请输入验证码', toast_option);
                return false
            }
            else if (!reg_verification_code.test(verification_code)) {
                mui.toast('验证码为6位数字，请重新输入', toast_option);
                return false
            }
            else if (password == '' || confirm_password == '') {
                mui.toast('请输入密码', toast_option);
                return false
            }
            else if (!reg_password.test(password)) {
                mui.toast('密码格式有误，请重新输入', toast_option);
                return false
            }
            else if (password != confirm_password) {
                mui.toast('密码输入不一致', toast_option);
                return false
            }
            mui.showLoading("正在重置密码..", "div");
            $.ajax({
                url: '{% url 'api:reset_user_password' %}',
                type: "PUT",
                data: {
                    "email": email,
                    "verification_code": verification_code,
                    "password": password,
                    "confirm_password": confirm_password
                },
                dataType: 'json',
                success: function (data) {
                    mui.hideLoading();
                    if (data.code == 200) {
                        mui.alert(data.msg, '系统消息', function () {
                            window.location.href = data.redirect_url;
                        });
                    }
                    else {
                        mui.toast(data.msg, toast_option);
                        return false
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    mui.hideLoading();
                    var response_json = XMLHttpRequest.responseJSON;
                    mui.toast(response_json.msg, toast_option);
                    return false
                }
            });
        });

        mui('#reset_password_form').on('tap', '.resend-verification-link', function () {
            var self = this;
            $(self).css('pointer-events', 'none');
            var parent_form = $(this).parents('form');
            var email = parent_form.find('input[name="email"]').val();

            if (email == '') {
                mui.toast('参数缺失，请重试。', toast_option);
                init_form();
                return false
            }

            $.ajax({
                type: 'POST',
                url: '{% url 'api:send_email_to_reset_password' %}',
                data: {"email": email},
                dataType: 'json',
                success: function (data) {
                    mui.toast(data.msg, toast_option);
                    if (data.code == 200) {
                        count_down_clock(self);
                    }
                    return false
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var response_json = XMLHttpRequest.responseJSON;
                    mui.toast(response_json.msg, toast_option);
                    $(self).css('pointer-events', 'auto');
                    return false
                }
            });
        });

    </script>
{% endblock %}