{% extends "base.html" %}
{% block title %}<title>消息</title>{% endblock %}
{% block extra_header %}
    <link rel="stylesheet" href="/static/css/article/meta.css">
{% endblock %}
{% block content %}
    <header class="mui-bar mui-bar-nav">
        <h1 class="mui-title">
            消息
        </h1>
    </header>
    <div class="mui-content">
        <div id="slider" class="mui-slider mui-fullscreen">
            <div id="sliderSegmentedControl"
                 class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted background-white">
                <div class="mui-scroll" style="width: 100%">
                    <a href="#comments" class="mui-control-item mui-active" style="width: 33.3%">
                        评论
                    </a>
                    <a href="#praises" class="mui-control-item" style="width: 33.3%">
                        赞
                    </a>
                    <!--
                    <a href="#tab2" class="mui-control-item" style="width: 33.3%">
                        通知
                    </a>
                    -->
                </div>
            </div>
            <div class="mui-slider-group">
                <div id="comments" class="mui-slider-item mui-slider-item-no-border mui-control-content mui-active">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="comments-container">
                                <div class="switch-buttons">
                                    <button class="mui-inline active" id="switch_comments_type_0" data-comment_type="0">
                                        收到的评论
                                    </button>
                                    <button class="mui-inline" id="switch_comments_type_1" data-comment_type="1">发出的评论
                                    </button>
                                </div>
                                <ul class="comments-list selected" id="comments_list_0" data-comment_type="0"
                                    data-page_index="1">
                                </ul>
                                <ul class="comments-list" id="comments_list_1" data-comment_type="1"
                                    data-page_index="1">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="praises" class="mui-slider-item mui-slider-item-no-border mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="praises-container">
                                <ul class="praises-list" data-page_index="1">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div id="tab2" class="mui-slider-item mui-slider-item-no-border mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="comments-container">
                                <ul class="notice-list">

                                </ul>
                                <input type="hidden" value="1" name="page_index">
                            </div>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>

    <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item" href="{% url 'index' %}">
            <span class="mui-icon mui-icon-home"></span>
        </a>
        <a class="mui-tab-item mui-active" href="{% url 'account:user_messages' %}">
            <span class="mui-icon-extra mui-icon-extra-notice">
                <!--<span class="mui-badge">9</span>-->
            </span>
        </a>
        <a class="mui-tab-item" href="{% url 'account:user_center' %}">
            <span class="mui-icon-extra mui-icon-extra-people"></span>
        </a>
    </nav>
    <!-- off-canvas backdrop -->
    <div class="mui-off-canvas-backdrop"></div>

    <div id="operation" class="mui-popover mui-popover-action mui-popover-bottom">
        <ul class="mui-table-view ul-select" style="margin: 0;border-radius: 0">
            <li class="mui-table-view-cell">
                <a id="reply_link" href="#">回复</a>
            </li>
            <li class="mui-table-view-cell">
                <a id="check_details_link" href="#">查看详情</a>
            </li>
            <li class="mui-table-view-cell">
                <a id="delete_link" href="#">删除</a>
            </li>
        </ul>
        <ul class="mui-table-view" style="margin:10px 0 0;border-radius: 0;">
            <li class="mui-table-view-cell">
                <a href="#operation" style="color: #000;">取消</a>
            </li>
        </ul>
    </div>

    <div id="reply-popover" class="mui-popover mui-popover-action mui-popover-bottom">
        <p class="reply-tips" id="tips"></p>
        <div class="comment-box">
            <textarea id="textarea" placeholder="写回复···" onchange="this.value=this.value.substring(0, 72)"
                      onkeydown="this.value=this.value.substring(0, 72)"
                      onkeyup="this.value=this.value.substring(0, 72)"></textarea>
            <a id="send-text" class="mui-icon mui-icon-paperplane"></a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="/static/mui/js/mui.pullToRefresh.js"></script>
    <script src="/static/mui/js/mui.pullToRefresh.material.js"></script>
    <script>
        var praiseType = {
            1: '文章',
            2: '评论',
            3: '回复'
        };

        var login_user_id = "{{ user.id }}";
        var toast_option = {
            duration: 1000
        };

        var tips = document.getElementById('tips');
        var textarea = document.getElementById('textarea');
        var send_text_link = document.getElementById('send-text');

        mui.init();

        function create_comments(json) {
            var fragment = document.createDocumentFragment();
            var li;
            $.each(json.data, function (index, array) {
                var article_id = array['article_info']['article_id'];
                var title = array['article_info']['title'];
                var cover_photo = array['article_info']['cover_photo'];
                var abstract = array['article_info']['abstract'];
                var comment_id = array['comment_id'];
                var comment_reply_id = array['comment_reply_id'];
                var replier_user_id = array['replier']['user_id'];
                var replier_username = array['replier']['username'];
                var replier_avatar = array['replier']['avatar'];
                var receiver_user_id = array['receiver']['user_id'];
                var receiver_username = array['receiver']['username'];
                var reply_at = array['reply_at'];
                var reply_at_desc = getDateDiff(reply_at);
                var content = array['content'];
                li = document.createElement('li');
                li.className = 'comment';
                li.dataset.article_id = article_id;
                li.dataset.comment_id = comment_id;
                li.dataset.comment_reply_id = comment_reply_id;
                li.dataset.replier_id = replier_user_id;
                li.dataset.replier_username = replier_username;
                var comment_reply_html = '<a class="avatar" href="javascript:void(0)">' +
                        '<img src="' + replier_avatar + '" alt="' + replier_username + '">' + '</a>' +
                        '<div class="info">' +
                        '<div class="user">' +
                        '<div class="user-info">' +
                        '<span class="nickname">' + replier_username + '</span>' +
                        '<span class="text-time">' + reply_at_desc + '</span>' +
                        '</div>' +
                        '</div>' +
                        '<p class="content">';
                if (receiver_user_id > 0) {
                    comment_reply_html += '回复' +
                            '<a href="javascript:void(0)">@' + receiver_username + '</a>:&nbsp;'
                }
                comment_reply_html += content + '</p>' +
                        '<div class="article" data-article_id="' + article_id + '">' +
                        '<p class="title">' + title + '</p>' +
                        '<p class="abstract">' + abstract + '</p>' +
                        '</div></div>';
                li.innerHTML = comment_reply_html;
                fragment.appendChild(li);
            });
            return fragment
        }

        function create_praises(json) {
            var fragment = document.createDocumentFragment();
            var li;
            $.each(json.results, function (index, array) {
                var praise_type = parseInt(array['type']);
                var article_id = array['article_info']['article_id'];
                var title = array['article_info']['title'];
                var cover_photo = array['article_info']['cover_photo'];
                var abstract = array['article_info']['abstract'];
                var user_id = array['user']['user_id'];
                var username = array['user']['username'];
                var avatar = array['user']['avatar'];
                var receiver_user_id = array['receiver_info']['user_id'];
                var receiver_username = array['receiver_info']['username'];
                var praise_at = array['praise_at'];
                var praise_at_desc = getDateDiff(praise_at);
                var content = array['content'];
                li = document.createElement('li');
                li.className = 'praise';
                var praise_html = '<a class="avatar" href="javascript:void(0)">' +
                        '<img src="' + avatar + '" alt="' + username + '">' + '</a>' +
                        '<div class="info">' +
                        '<div class="user">' +
                        '<div class="user-info">' +
                        '<span class="nickname">' + username + '</span>' +
                        '<span class="text-time">' + praise_at_desc + '</span>' +
                        '</div>' +
                        '</div>' +
                        '<p class="content">';
                praise_html += '赞了你的' + praiseType[praise_type];
                if (praise_type == 2 || praise_type == 3) {
                    praise_html += ':&nbsp;'
                }
                if (receiver_user_id > 0) {
                    praise_html += '<a href="javascript:void(0)">@' + receiver_username + '</a>:&nbsp;'
                }
                praise_html += content + '</p>' +
                        '<div class="article" data-article_id="' + article_id + '">' +
                        '<p class="title">' + title + '</p>' +
                        '<p class="abstract">' + abstract + '</p>' +
                        '</div></div>';
                li.innerHTML = praise_html;
                fragment.appendChild(li);
            });
            return fragment
        }

        function pullUpRefreshComments() {
            var self = this;
            var scroll_div = this.element;
            var ul = scroll_div.querySelector('.comments-list.selected');
            var page_index = parseInt(ul.dataset.page_index);
            var comment_type = ul.dataset.comment_type;
            setTimeout(function () {
                $.ajax({
                    type: 'GET',
                    url: "{% url 'account:user_message_comments_pagination' %}",
                    data: {
                        'user_id': "{{ user.id }}",
                        'comment_type': comment_type,
                        'page_index': page_index
                    },
                    dataType: 'json',
                    success: function (json) {
                        if (json.hasOwnProperty('data') && json.data.length > 0) {
                            ul.appendChild(create_comments(json));
                            self.endPullUpToRefresh(!json.has_next);
                            if (json.has_next) {
                                page_index++;
                                ul.dataset.page_index = page_index
                            }
                        } else {
                            self.endPullUpToRefresh(true);
                        }
                    },
                    error: function () {
                        self.endPullUpToRefresh(true);
                    }
                });
            }, 0);
        }

        function pullDownRefreshComments() {
            var self = this;
            var scroll_div = this.element;
            var ul = scroll_div.querySelector('.comments-list.selected');
            ul.innerHTML = '';
            ul.dataset.page_index = 1;
            var comment_type = ul.dataset.comment_type;
            var page = 1;
            setTimeout(function () {
                $.ajax({
                    type: 'GET',
                    url: "{% url 'account:user_message_comments_pagination' %}",
                    data: {
                        'user_id': "{{ user.id }}",
                        'comment_type': comment_type,
                        'page_index': page
                    },
                    dataType: 'json',
                    success: function (json) {
                        if (json.hasOwnProperty('data') && json.data.length > 0) {
                            ul.appendChild(create_comments(json));
                            self.endPullDownToRefresh(!json.has_next);
                            self.refresh(true);
                            self.endPullUpToRefresh(!json.has_next);
                            if (json.has_next) {
                                page++;
                                ul.dataset.page_index = page;
                            }
                        } else {
                            self.endPullDownToRefresh(true);
                            self.refresh(true);
                            self.endPullUpToRefresh(true);
                        }
                    },
                    error: function () {
                        self.endPullDownToRefresh(true);
                        self.refresh(true);
                        self.endPullUpToRefresh(true);
                    }
                });
            }, 200);
        }

        function pullUpRefreshPraises() {
            var self = this;
            var scroll_div = this.element;
            var ul = scroll_div.querySelector('.praises-list');
            var page = parseInt(ul.dataset.page_index);
            setTimeout(function () {
                $.ajax({
                    type: 'GET',
                    url: "{% url 'api:user_praises' %}",
                    data: {
                        'page': page,
                        'user_id': "{{ user.id }}"
                    },
                    dataType: 'json',
                    success: function (json) {
                        if (json.hasOwnProperty('results') && json.results.length > 0) {
                            ul.appendChild(create_praises(json));
                            self.endPullUpToRefresh(!json.next);
                            if (json.next) {
                                page++;
                                ul.dataset.page_index = page
                            }
                        } else {
                            self.endPullUpToRefresh(true);
                        }
                    },
                    error: function () {
                        self.endPullUpToRefresh(true);
                    }
                });
            }, 0);
        }
        function pullDownRefreshPraises() {
            var self = this;
            var scroll_div = this.element;
            var ul = scroll_div.querySelector('.praises-list');
            ul.innerHTML = '';
            ul.dataset.page_index = 1;
            var page = 1;
            setTimeout(function () {
                $.ajax({
                    type: 'GET',
                    url: "{% url 'api:user_praises' %}",
                    data: {
                        'page': page,
                        'user_id': "{{ user.id }}"
                    },
                    dataType: 'json',
                    success: function (json) {
                        if (json.hasOwnProperty('results') && json.results.length > 0) {
                            ul.appendChild(create_praises(json));
                            self.endPullDownToRefresh(!json.next);
                            self.refresh(true);
                            self.endPullUpToRefresh(!json.next);
                            if (json.next) {
                                page++;
                                ul.dataset.page_index = page;
                            }
                        } else {
                            self.endPullDownToRefresh(true);
                            self.refresh(true);
                            self.endPullUpToRefresh(true);
                        }
                    },
                    error: function () {
                        self.endPullDownToRefresh(true);
                        self.refresh(true);
                        self.endPullUpToRefresh(true);
                    }
                });
            }, 200);
        }

        var pullFunctionMap = {
            0: {
                'up': pullUpRefreshComments,
                'down': pullDownRefreshComments
            },
            1: {
                'up': pullUpRefreshPraises,
                'down': pullDownRefreshPraises
            }
        };

        function ajax_init_comments_list(ul, page) {
            $.ajax({
                type: 'GET',
                url: "{% url 'account:user_message_comments_pagination' %}",
                data: {
                    'user_id': "{{ user.id }}",
                    'comment_type': ul.dataset.comment_type,
                    'page_index': page
                },
                dataType: 'json',
                success: function (json) {
                    if (json.hasOwnProperty('data') && json.data.length > 0) {
                        ul.appendChild(create_comments(json));
                    }
                    page++;
                    ul.dataset.page_index = page;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var response_json = XMLHttpRequest.responseJSON;
                    console.log(response_json.msg);
                    return false
                }
            });
        }

        function initReplyInput() {
            textarea.blur();
            textarea.value = '';
            textarea.setAttribute("placeholder", "写回复···");
            tips.innerHTML = '';
            delete send_text_link.dataset.comment_id;
            delete send_text_link.dataset.receiver_id;
        }

        (function ($) {
            $('.mui-scroll-wrapper').scroll({
                bounce: false,
                indicators: true
            });

            $.ready(function () {
                document.querySelector('.mui-slider').addEventListener('slide', function (event) {
                    var acticeSliderItem = document.querySelectorAll('.mui-slider .mui-slider-group .mui-slider-item')[event.detail.slideNumber];
                    var activeScroll = acticeSliderItem.querySelector('.mui-scroll');

                    var ul = acticeSliderItem.querySelector('ul.selected') || acticeSliderItem.querySelector('ul');
                    if (ul.querySelectorAll('li').length == 0) {
                        mui(activeScroll).pullToRefresh().pullDownLoading();
                    }
                });

                var dpr = lib.flexible.dpr || 1;
                //循环初始化所有下拉刷新，上拉加载。
                $.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function (index, pullRefreshEl) {
                    $(pullRefreshEl).pullToRefresh({
                        down: {
                            height: 30 * dpr,
                            callback: pullFunctionMap[index]['down']
                        },
                        up: {
                            auto: index == 0,
                            callback: pullFunctionMap[index]['up']
                        }
                    });
                });
            });
        })(mui);

        mui('.comments-container').on('tap', '.switch-buttons button', function () {
            var switch_buttons = $('.comments-container .switch-buttons button');
            var comments_list_ul = $('.comments-container ul.comments-list');
            var self = this;
            var comment_type = self.dataset.comment_type;
            $(self).addClass('active');
            switch_buttons.not("#switch_comments_type_" + comment_type).removeClass('active');
            comments_list_ul.not('#comments_list_' + comment_type).removeClass('selected').hide();
            var selected_comments_list = $('#comments_list_' + comment_type);
            selected_comments_list.addClass('selected').show();
            if (selected_comments_list.find('li').length == 0) {
                selected_comments_list[0].dataset.page_index = 1;
                ajax_init_comments_list(selected_comments_list[0], 1)
            }
        });

        var reply_link = document.getElementById('reply_link');
        var check_details_link = document.getElementById('check_details_link');
        var delete_link = document.getElementById('delete_link');

        function cleanData() {
            $(delete_link).parent('li').show();
            delete reply_link.dataset.comment_id;
            delete reply_link.dataset.receiver_id;
            delete reply_link.dataset.receiver_username;
            delete check_details_link.dataset.article_id;
            delete check_details_link.dataset.comment_id;
            delete check_details_link.dataset.comment_reply_id;
            delete delete_link.dataset.comment_id;
            delete delete_link.dataset.comment_reply_id;
        }

        mui('.comments-container').on('tap', '.user-info, .content', function () {
            var parent_comment = $(this).parents('li.comment')[0];
            var article_id = parent_comment.dataset.article_id;
            var comment_id = parent_comment.dataset.comment_id;
            var comment_reply_id = parent_comment.dataset.comment_reply_id;
            var receiver_id = parent_comment.dataset.replier_id;
            var receiver_username = parent_comment.dataset.replier_username;

            reply_link.dataset.comment_id = comment_id;
            reply_link.dataset.receiver_id = receiver_id;
            reply_link.dataset.receiver_username = receiver_username;

            check_details_link.dataset.article_id = article_id;
            check_details_link.dataset.comment_id = comment_id;
            check_details_link.dataset.comment_reply_id = comment_reply_id;

            delete_link.dataset.comment_id = comment_id;
            delete_link.dataset.comment_reply_id = comment_reply_id;

            if (login_user_id != receiver_id) {
                $(delete_link).parent('li').hide()
            }
            $(parent_comment).addClass('taped');
            mui('#operation').popover('show');
        });

        mui('body').on('tap', '.article', function () {
            location.href = "/article/details/" + this.dataset.article_id;
        });

        mui('body').on('hidden', '#operation', function (e) {
            cleanData();
            $(".comments-container li.taped").removeClass('taped')
        });

        check_details_link.addEventListener('tap', function () {
            mui('#operation').popover('hide');
            var article_id = this.dataset.article_id;
            var comment_id = this.dataset.comment_id;
            var comment_reply_id = this.dataset.comment_reply_id;
            if (comment_reply_id != undefined && parseInt(comment_reply_id) > 0) {
                location.href = "/article/comment/details/" + comment_id + "#comment_reply_" + comment_reply_id;
            }
            else if (comment_id != undefined && parseInt(comment_id) > 0) {
                location.href = "/article/details/" + article_id + '#comment_' + comment_id;
            }
            else {
                mui.toast('参数有误，请联系管理员', toast_option);
            }
        });

        delete_link.addEventListener('tap', function () {
            $(".comments-container li.taped").addClass('delete-signed');
            var self = this;
            mui('#operation').popover('hide');
            var comment_id = this.dataset.comment_id;
            var comment_reply_id = this.dataset.comment_reply_id;
            var btnArray = ['是', '否'];
            if (comment_reply_id != undefined && parseInt(comment_reply_id) > 0) {
                var url = "{% url 'api:delete_comment_reply' %}";
                var post_data = {
                    "comment_reply_id": comment_reply_id
                };
            }
            else if (comment_id != undefined && parseInt(comment_id) > 0) {
                var url = "{% url 'api:delete_comment' %}";
                var post_data = {
                    "comment_id": comment_id
                };
            }
            else {
                mui.toast('参数有误，请联系管理员', toast_option);
                return false
            }
            mui.confirm('确认删除？', '系统消息', btnArray, function (e) {
                if (e.index == 0) {
                    $.ajax({
                        url: url,
                        type: "DELETE",
                        data: post_data,
                        dataType: "json",
                        success: function (json) {
                            if (json.code == 200) {
                                $(".comments-container li.delete-signed").remove();
                                mui.toast(json.msg, toast_option);
                                mui('#comments .mui-scroll').pullToRefresh().pullDownLoading()
                            }
                            else {
                                mui.toast(json.msg, toast_option);
                                return false
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            var response_json = XMLHttpRequest.responseJSON;
                            mui.toast(response_json.msg, toast_option);
                            return false
                        }
                    });
                }
                else {
                    $(".comments-container li.delete-signed").removeClass('delete-signed')
                }
            })
        });

        mui('body').on('hidden', '#reply-popover', function (e) {
            initReplyInput()
        });

        mui('body').on('tap', '#reply_link', function () {
            var receiver_username = reply_link.dataset.receiver_username;
            var content = $(".comments-container li.taped").find('p.content').html();
            send_text_link.dataset.comment_id = reply_link.dataset.comment_id;
            send_text_link.dataset.receiver_id = reply_link.dataset.receiver_id;
            var tips_content = '回复 ' + receiver_username + content.replace(/<[^>]+>/g,"");
            tips.innerHTML = tips_content;

            mui('#operation').popover('hide');
            mui('#reply-popover').popover('show');
            textarea.setAttribute("placeholder", "回复 " + receiver_username);
            textarea.focus();
        });

        mui('body').on('tap', '#send-text', function () {
            var self = this;
            var content = textarea.value.replace(/(^\s*)|(\s*$)/g, "");
            if (content == '') {
                mui.toast('请先编写回复内容', toast_option);
                return false
            }
            var comment_id = this.dataset.comment_id;
            var receiver_id = this.dataset.receiver_id;
            var url = "{% url 'api:save_comment_reply' %}";
            var post_data = {
                "comment_id": comment_id,
                "receiver_id": receiver_id,
                "content": content
            };
            mui('#reply-popover').popover('hide');
            $.ajax({
                type: 'POST',
                url: url,
                data: post_data,
                dataType: 'json',
                success: function (json) {
                    mui.toast(json.msg, toast_option);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var response_json = XMLHttpRequest.responseJSON;
                    mui.toast(response_json.msg, toast_option);
                }
            });
        });

    </script>
{% endblock %}