body > .container {
    padding-top: 0;
}

.header-logo {
    margin: 20px 0 20px;
    text-align: center;
}

.header-logo .logo {
    margin: 0 auto;
}

.form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    font-size: 14px;
}

.form-control-feedback {
    left: 0;
    width: 15%;
    height: 40px;
    line-height: 40px;
    pointer-events: auto;
}

.form-control-feedback-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 15%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    pointer-events: auto;
}

.has-feedback .form-control {
    padding-left: 15%;
    padding-right: 12px;
}

.has-feedback .form-control-right {
    padding-right: 15%;
}

.form .iconfont {
    font-size: 14px;
    vertical-align: middle;
}

.form .checkbox {
    font-weight: normal;
    margin-bottom: 14px;
}

.form .form-group {
    margin-bottom: 14px;
}

.form .form-control {
    box-sizing: border-box;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form .form-control:focus {
    z-index: 2;
}

.form button {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form .alert {
    padding: 12px;
    text-align: center;
}

.form .meta, .form-register .meta {
    margin: 14px 0 40px;
}

.social-login {
    margin-top: 20px;
}

.social-login h5 {
    margin-bottom: 20px;
    font-size: 14px;
    color: #B8B8B8;
    text-align: center;
}

.social-login .social-logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 20px;
    background-color: #fff;
}

.social-login .social-logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
