body > .container {
  padding-top: 0;
}

.header-logo {
  margin: 20px 0 20px;
  text-align: center;
}

.header-logo .logo {
  margin: 0 auto;
}

.form-reset-password {
    max-width: 360px;
    padding: 15px;
    margin: 0 auto;
    font-size: 14px;
}

.form-control-feedback {
    right: 0;
    width: 15%;
    height: 40px;
    line-height: 40px;
    pointer-events: auto;
}

.has-feedback .form-control {
    padding-left: 12px;
    padding-right: 15%;
}

.form-reset-password .iconfont {
    font-size: 14px;
    vertical-align: middle;
}

.form-reset-password .form-reset-password-heading {
    margin-bottom: 20px;
}

.form-reset-password .form-group, .form-reset-password .input-group {
    margin-bottom: 10px;
}

.form-reset-password .form-control {
    height: 40px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-reset-password button {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-reset-password .input-group-btn button {
    position: relative;
    width: 120px;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
}

.form-reset-password .alert {
    padding: 12px;
    text-align: center;
}

.form-reset-password .form-control:focus {
    z-index: 2;
}

.form-reset-password .meta {
    margin: 10px 0 40px;
}
