{% extends "base.html" %}
{% block title %}<title>{{ article_details.title }}</title>{% endblock %}
{% block extra_header %}
    <link rel="stylesheet" href="/static/css/article/meta.css">
{% endblock %}
{% block content %}
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title"></h1>
        <a href="#social_share" class="mui-icon iconfont icon-share01 mui-pull-right"></a>
    </header>
    <div id="pull_refresh" class="mui-content mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="article" data-article_id="{{ article_details.article_id }}">
                <h1 class="title">{{ article_details.title }}</h1>

                <div class="author">
                    <a class="avatar" target="_blank" href="javascript:void(0)">
                        <img src="{{ article_details.author.avatar }}" alt="{{ article_details.author.username }}">
                    </a>
                    <div class="info">
                        <span class="name">{{ article_details.author.username }}</span>
                        <span class="text-time">{{ article_details.release_time }} </span>
                    </div>
                </div>

                <div class="article-content">
                    {% autoescape off %}
                        {{ article_details.content_html }}
                    {% endautoescape %}
                </div>
            </div>
            <div class="praise-container">
                <div class="praise-link" data-parent_id="{{ article_details.article_id }}" data-praise_type="1">
                    <span>点赞</span>
                    <i class="iconfont icon-praise"></i>
                    <span class="praise-times-text">{{ article_details.praise_times }}</span>
                </div>
                <div class="praise-users-box">
                </div>
            </div>
            <div class="comments-container">
                <p class="separate-title">最新评论</p>
                <ul class="comments-list">

                </ul>
            </div>
        </div>
    </div>
    <nav class="mui-bar mui-bottom-bar">
        <div class="write-comment">
            <p class="tips" id="preview-text">添加评论···</p>
        </div>
    </nav>
    <div id="comment-popover" class="mui-popover mui-popover-action mui-popover-bottom">
        <div class="comment-box">
            <textarea id="textarea" placeholder="添加评论···" onchange="this.value=this.value.substring(0, 72)"
                      onkeydown="this.value=this.value.substring(0, 72)"
                      onkeyup="this.value=this.value.substring(0, 72)"></textarea>
            <a id="send-text" data-article_id="{{ article_details.article_id }}"
               class="mui-icon mui-icon-paperplane"></a>
        </div>
    </div>

    <div id="social_share" class="mui-popover mui-popover-action mui-popover-bottom" style="background-color: #f7f7f7;">
        <h3 class="popover-title">分享</h3>
        <div class="share-items">
            <div class="share-item">
                <a class="share-btn" href="javascript:void(0)" data-share_type="wechat">
                    <img class="social-logo" src="/static/images/socialization_logo/wechat.png">
                </a>
                <span class="share-tips">微信</span>
            </div>
            <div class="share-item">
                <a class="share-btn" href="javascript:void(0)" data-share_type="qzone">
                    <img class="social-logo" src="/static/images/socialization_logo/qzone.png">
                </a>
                <span class="share-tips">QQ空间</span>
            </div>
            <div class="share-item">
                <a class="share-btn" href="javascript:void(0)" data-share_type="qq">
                    <img class="social-logo" src="/static/images/socialization_logo/qq.png">
                </a>
                <span class="share-tips">QQ好友</span>
            </div>
            <div class="share-item">
                <a class="share-btn" href="javascript:void(0)" data-share_type="weibo">
                    <img class="social-logo" src="/static/images/socialization_logo/weibo.png">
                </a>
                <span class="share-tips">微博</span>
            </div>
        </div>
        <a class="close-popover" href="#social_share">取消</a>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="/static/mui/js/mui.zoom.js"></script>
    <script src="/static/mui/js/mui.previewimage.js"></script>
    <script>
        var praiseType = {
            'article': '1',
            'comment': '2'
        };
        function redirect_to_login() {
            var next = window.location.href;
            var login_url = "{% url 'account:login' %}";
            window.location.href = login_url + '?next=' + next;
        }

        var is_authenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
        var login_user_id = {% if user.is_authenticated %}{{ user.id }}{% else %}0{% endif %};
        var toast_option = {
            duration: 1000
        };
        var articleCommentsApiUrl = "{% url 'api:comments' %}";
        var page = 1;
        var article_id = {{ article_details.article_id }};
        var textarea = document.getElementById('textarea');
        var preview_text = document.getElementById('preview-text');
        var send_text_link = document.getElementById('send-text');
        var praise_users_box = $(".praise-users-box");

        var article_title = document.title;
        var article_link = location.href;
        var abstract = "{{ article_details.abstract }}";
        var pics = "{{ article_details.cover_photo }}";

        function getSocialLink(s) {
            switch (s) {
                case "qzone":
                    var context = {
                        'url': article_link,
                        'title': article_title,
                        'summary': abstract, /*分享摘要(可选)*/
                        'pics': pics
                    };
                    var query_params = [];
                    for (var i in context) {
                        query_params.push(i + '=' + encodeURIComponent(context[i] || ''));
                    }
                    return ["http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?", query_params.join('&')].join('');
                case "qq":
                    var context = {
                        url: article_link,
                        desc: '', /*分享理由(风格应模拟用户对话),支持多分享语随机展现（使用|分隔）*/
                        title: article_title, /*分享标题(可选)*/
                        summary: abstract, /*分享摘要(可选)*/
                        pics: pics, /*分享图片(可选)*/
                        flash: '', /*视频地址(可选)*/
                        site: 'QQ分享', /*分享来源(可选) 如：QQ分享*/
                        style: '201',
                        width: 32,
                        height: 32
                    };
                    var query_params = [];
                    for (var i in context) {
                        query_params.push(i + '=' + encodeURIComponent(context[i] || ''));
                    }
                    return ["http://connect.qq.com/widget/shareqq/index.html?", query_params.join('&')].join('');
                case "weibo":
                    var context = {
                        'appkey': '4164482519',
                        'url': article_link,
                        'title': '【' + article_title + '】' + abstract,
                        'pic': pics
                    };
                    var query_params = [];
                    for (var i in context) {
                        query_params.push(i + '=' + encodeURIComponent(context[i] || ''));
                    }
                    return ["http://service.weibo.com/share/share.php?", query_params.join('&')].join('');
            }
        }

        function create_article_comments(json) {
            var fragment = document.createDocumentFragment();
            var li;
            $.each(json.results, function (index, array) {
                var comment_id = array['comment_id'];
                var avatar = array['commentator']['avatar'];
                var username = array['commentator']['username'];
                var user_id = array['commentator']['user_id'];
                var comment_at = array['comment_at'];
                var comment_at_desc = getDateDiff(comment_at);
                var content = array['content'];
                var praise_times = array['praise_times'];
                var replies_count = array['replies_count'].toString();
                var comment_replies = array['comment_replies'].slice(0, 2);
                li = document.createElement('li');
                li.className = 'comment';
                li.id = 'comment_' + comment_id;
                li.dataset.comment_id = comment_id;
                li.dataset.receiver_id = user_id;
                li.dataset.receiver_username = username;
                var comment_html_str = '<a class="avatar" href="javascript:void(0)">' +
                        '<img src="' + avatar + '" alt="' + username + '">' + '</a>' +
                        '<div class="info">' +
                        '<div class="user">' +
                        '<div class="user-info">' +
                        '<span class="nickname">' + username + '</span>' +
                        '<span class="text-time">' + comment_at_desc + '</span>' +
                        '</div>' +
                        '<div class="praise" data-parent_id="' + comment_id + '" data-praise_type="' + praiseType['comment'] + '">' +
                        '<span class="comment-praise-times">' + praise_times + '</span>' +
                        '<i class="iconfont icon-praise"></i>' +
                        '</div>' +
                        '</div>' +
                        '<p class="content">' + content + '</p>';
                if (comment_replies.length > 0) {
                    comment_html_str += '<div class="replies-list">';
                    $.each(comment_replies, function (index, reply) {
                        var comment_id = reply['comment_id'].toString();
                        var replier_user_id = reply['replier']['user_id'].toString();
                        var replier_username = reply['replier']['username'];
                        var receiver_user_id = reply['receiver']['user_id'].toString();
                        var receiver_username = reply['receiver']['username'];
                        var reply_content = reply['content'];
                        var reply_html = '<p>' +
                                '<a href="javascript:void(0)">' + replier_username + '</a>';
                        if (receiver_user_id != user_id) {
                            reply_html += '&nbsp;回复' +
                                    '<a href="javascript:void(0)">@' + receiver_username + '</a>';
                        }
                        reply_html += ':&nbsp;' + '<span class="reply-content">' + reply_content + '</span>' +
                                '</p>';
                        comment_html_str += reply_html;
                    });
                    if (replies_count >= 3) {
                        comment_html_str += '<a class="replies-count" href="javascript:void(0)">共' + replies_count +
                                '条回复</a>';
                    }
                    comment_html_str += '</div>';
                }
                comment_html_str += '</div>';
                li.innerHTML = comment_html_str;
                fragment.appendChild(li);
            });
            return fragment
        }

        function pulldownRefresh() {
            var self = this;
            $('.comments-list li').remove();
            page = 1;
            setTimeout(function () {
                $.ajax({
                    type: 'GET',
                    url: articleCommentsApiUrl,
                    data: {
                        'page': page,
                        'article_id': {{ article_details.article_id }}
                    },
                    dataType: 'json',
                    success: function (json) {
                        if (json.hasOwnProperty('results') && json.results.length > 0) {
                            var ul = document.querySelector('.comments-list');
                            ul.appendChild(create_article_comments(json));
                            self.endPulldownToRefresh(!json.next);
                            self.refresh(true);
                            self.endPullupToRefresh(!json.next);
                            if (json.next) {
                                page++;
                            }
                        }
                        else {
                            self.endPulldownToRefresh(true);
                            self.refresh(true);
                            self.endPullupToRefresh(true);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        self.endPulldownToRefresh(true);
                        self.refresh(true);
                        self.endPullupToRefresh(true);
                        return false
                    }
                });
            }, 200);
        }

        function pullupRefresh() {
            var self = this;
            setTimeout(function () {
                $.ajax({
                    type: 'GET',
                    url: articleCommentsApiUrl,
                    data: {
                        'page': page,
                        'article_id': {{ article_details.article_id }}
                    },
                    dataType: 'json',
                    success: function (json) {
                        if (json.hasOwnProperty('results') && json.results.length > 0) {
                            var ul = document.querySelector('.comments-list');
                            ul.appendChild(create_article_comments(json));
                            self.endPullupToRefresh(!json.next);
                            if (json.next) {
                                page++;
                            }
                        }
                        else {
                            self.endPullupToRefresh(true);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        self.endPullupToRefresh(true);
                        return false
                    }
                });
            }, 100);
        }

        var dpr = lib.flexible.dpr || 1;
        mui.init({
            pullRefresh: {
                container: '#pull_refresh',
                down: {
                    height: 30 * dpr,
                    auto: true,    //可选,默认false.自动下拉刷新一次
                    callback: pulldownRefresh
                },
                up: {
                    contentnomore: '没有更多评论了',
                    callback: pullupRefresh
                }
            }
        });
        function cleanData() {
            textarea.blur();
            textarea.value = '';
            textarea.setAttribute("placeholder", "添加评论···");
            preview_text.innerHTML = '添加评论···';
            delete send_text_link.dataset.comment_id;
            delete send_text_link.dataset.receiver_id;
        }
        mui.ready(function () {
            $.each(document.querySelectorAll('.article-content img'), function (index, img) {
                img.setAttribute('data-preview-src', '');
                img.setAttribute('data-preview-group', '1');
            });

            mui.previewImage();

            $.ajax({
                type: 'GET',
                url: "{% url 'api:praises' %}",
                data: {
                    'praise_type': parseInt(praiseType['article']),
                    'parent_id': {{ article_details.article_id }}
                },
                dataType: 'JSON',
                success: function (json) {
                    if (json.hasOwnProperty('results') && json.results.length > 0) {
                        var praise_users = json.results.splice(0, 4);
                        $.each(praise_users, function (index, array) {
                            var avatar = array['user']['avatar'];
                            var username = array['user']['username'];
                            var praise_user_html = '<a class="praise-user" href="javascript:void(0)">' +
                                    '<img class="avatar" src="' + avatar + '" alt="' + username + '">' + '</a>';
                            praise_users_box.append(praise_user_html);
                        });
                        if (json.count > 4) {
                            praise_users_box.append('<span>···</span>')
                        }
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var response_json = XMLHttpRequest.responseJSON;
                    console.log(response_json.msg);
                }
            });

            mui('.comments-list').on('tap', '.replies-list', function () {
                var parent = $(this).parents('li.comment');
                var comment_id = parent[0].dataset.comment_id;
                document.location.href = '/article/comment/details/' + comment_id;
            });

            mui('body').on('tap', '.write-comment', function () {
                if (!is_authenticated) {
                    redirect_to_login();
                    return false;
                }
                mui('#comment-popover').popover('show');
                textarea.focus()
            });
            mui('body').on('tap', '#send-text', function () {
                var self = this;
                if (!is_authenticated) {
                    redirect_to_login();
                    return false;
                }
                var content = textarea.value.replace(/(^\s*)|(\s*$)/g, "");
                if (content == '') {
                    mui.toast('请先编写评论', toast_option);
                    return false
                }
                var article_id = this.dataset.article_id;
                var comment_id = this.dataset.comment_id;
                var receiver_id = this.dataset.receiver_id;
                if (comment_id != undefined) {
                    var url = "{% url 'api:save_comment_reply' %}";
                    var post_data = {
                        "article_id": article_id,
                        "parent_id": comment_id,
                        "be_replied_comment_id": comment_id,
                        "receiver_id": receiver_id,
                        "content": content
                    }
                } else {
                    var url = "{% url 'api:save_comment' %}";
                    var post_data = {
                        "article_id": article_id,
                        "content": content,
                        "receiver_id": "{{ article_details.author.user_id }}"
                    }
                }
                cleanData();
                mui('#comment-popover').popover('hide');
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: post_data,
                    dataType: 'json',
                    success: function (json) {
                        mui.toast(json.msg, toast_option);
                        if (json.code == 200) {
                            if (comment_id == undefined) {
                                /*
                                 var comment_id = json.data.comment_id.toString();
                                 var avatar = json.data.commentator.avatar;
                                 var username = json.data.commentator.username;
                                 var user_id = json.data.commentator.user_id.toString();
                                 var comment_at = json.data.comment_at;
                                 var comment_at_desc = getDateDiff(comment_at);
                                 var content = json.data.content;
                                 var praise_times = json.data.praise_times.toString();
                                 var li = document.createElement('li');
                                 li.className = 'comment';
                                 li.dataset.comment_id = comment_id;
                                 var comment_html_str = '<a class="avatar" href="javascript:void(0)">' +
                                 '<img src="' + avatar + '" alt="' + username + '">' + '</a>' +
                                 '<div class="info">' +
                                 '<div class="user">' +
                                 '<div class="user-info">' +
                                 '<span class="nickname">' + username + '</span>' +
                                 '<span class="text-time">' + comment_at_desc + '</span>' +
                                 '</div>' +
                                 '<div class="praise">' +
                                 '<i class="iconfont icon-praise"></i>' +
                                 '<span class="comment-praise-times">' + praise_times + '</span>' +
                                 '</div>' +
                                 '</div>' +
                                 '<p class="content">' + content + '</p></div>';
                                 li.innerHTML = comment_html_str;
                                 var ul = document.querySelector('.comments-list');
                                 ul.insertBefore(li, ul.childNodes[0]);
                                 */
                                mui('#pull_refresh').pullRefresh().pulldownLoading();
                            }
                            else {
                                window.location.href = '/article/comment/details/' + comment_id;
                            }
                        }

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var response_json = XMLHttpRequest.responseJSON;
                        mui.toast(response_json.msg, toast_option);
                    }
                });
            });

            mui('.comments-container').on('tap', '.user-info, .content', function () {
                var parent_comment = $(this).parents('li.comment')[0];
                var comment_id = parent_comment.dataset.comment_id;
                var receiver_id = parent_comment.dataset.receiver_id;
                var receiver_username = parent_comment.dataset.receiver_username;
                send_text_link.dataset.comment_id = comment_id;
                send_text_link.dataset.receiver_id = receiver_id;
                mui('#comment-popover').popover('show');
                textarea.setAttribute("placeholder", "回复 " + receiver_username);
                textarea.focus()
            });

            mui('body').on('hidden', '#comment-popover', function (e) {
                cleanData()
            });

            mui('body').on('tap', '.share-btn', function (e) {
                mui('#social_share').popover('hide');
                var share_type = this.dataset.share_type;
                if (share_type == 'wechat') {
                    mui.toast('请使用浏览器自带的微信分享');
                    return false
                }
                else {
                    var share_link_url = getSocialLink(share_type);
                    window.location.href = share_link_url
                }
            });

        });

        $('#textarea').change(function () {
            var text = $('#textarea').val();
            $("#preview-text").html(text)
        });

        function ajaxPostPraise(post_data, praise_times, like_icon, praise_times_span) {
            $.ajax({
                type: 'POST',
                url: "{% url 'api:save_praise' %}",
                data: post_data,
                dataType: "json",
                success: function (json) {
                    if (json.code == 200) {
                        praise_times++;
                        like_icon.removeClass('icon-praise');
                        like_icon.addClass('icon-praise_fill');
                        praise_times_span.innerHTML = praise_times;
                        if (post_data['praise_type'] == praiseType['article']) {
                            var avatar = '{{ user.profile.avatar.url }}';
                            var username = '{{ user.username }}';
                            var praise_user_html = '<a class="praise-user" href="javascript:void(0)">' +
                                    '<img class="avatar" src="' + avatar + '" alt="' + username + '">' + '</a>';
                            praise_users_box.prepend(praise_user_html)
                        }
                    }
                    else {
                        mui.toast(json.msg, toast_option);
                        return false
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var response_json = XMLHttpRequest.responseJSON;
                    mui.toast(response_json.msg, toast_option);
                    return false
                }
            });
        }

        function ajaxDeletePraise(post_data, praise_times, like_icon, praise_times_span) {
            $.ajax({
                url: "{% url 'api:cancel_praise' %}",
                type: "DELETE",
                data: post_data,
                dataType: "json",
                success: function (json) {
                    if (json.code == 200) {
                        praise_times--;
                        like_icon.removeClass('icon-praise_fill');
                        like_icon.addClass('icon-praise');
                        praise_times_span.innerHTML = praise_times;
                        if (post_data['praise_type'] == praiseType['article']) {
                            praise_users_box.find('.praise-user:first').remove()
                        }
                    }
                    else {
                        mui.toast(json.msg, toast_option);
                        return false
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var response_json = XMLHttpRequest.responseJSON;
                    mui.toast(response_json.msg, toast_option);
                    return false
                }
            });
        }
        mui('.comments-list').on('tap', '.praise', function () {
            if (!is_authenticated) {
                redirect_to_login();
                return false;
            }
            var like_icon = $(this.querySelector('i'));
            var parent_id = parseInt(this.dataset.parent_id);
            var praise_type = parseInt(this.dataset.praise_type);
            if (parent_id == undefined || praise_type == undefined) {
                mui.toast('参数错误，请联系管理员', toast_option);
                return false;
            }
            var praise_times_span = this.querySelector('.comment-praise-times');
            var praise_times = praise_times_span.innerHTML;
            if (like_icon.hasClass('icon-praise_fill')) {
                var post_data = {
                    "parent_id": parent_id,
                    "praise_type": praise_type
                };
                ajaxDeletePraise(post_data, praise_times, like_icon, praise_times_span)
            } else {
                var post_data = {
                    "parent_id": parent_id,
                    "praise_type": praise_type
                };
                ajaxPostPraise(post_data, praise_times, like_icon, praise_times_span)
            }
        });

        mui('.praise-container').on('tap', '.praise-link', function () {
            if (!is_authenticated) {
                redirect_to_login();
                return false;
            }
            var like_icon = $(this.querySelector('i'));
            var parent_id = parseInt(this.dataset.parent_id);
            var praise_type = parseInt(this.dataset.praise_type);
            if (parent_id == undefined || praise_type == undefined) {
                mui.toast('参数错误，请联系管理员', toast_option);
                return false;
            }
            var praise_times_span = this.querySelector('.praise-times-text');
            var praise_times = praise_times_span.innerHTML;
            if (like_icon.hasClass('icon-praise_fill')) {
                var post_data = {
                    "parent_id": parent_id,
                    "praise_type": praise_type
                };
                ajaxDeletePraise(post_data, praise_times, like_icon, praise_times_span);
            } else {
                var post_data = {
                    "parent_id": parent_id,
                    "praise_type": praise_type
                };
                ajaxPostPraise(post_data, praise_times, like_icon, praise_times_span);
            }
        });

    </script>
{% endblock %}