{% extends "base.html" %}
{% block title %}<title>{{ article_details.title }}</title>{% endblock %}
{% block extra_header %}
    <link rel="stylesheet" href="/static/css/article/article_detail.css">
{% endblock %}
{% block content %}
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-left-nav mui-pull-left" href="javascript:history.go(-1)"></a>
        <h1 class="mui-title"></h1>
    </header>
    <div class="mui-content">
        <div class="article">
            <h1 class="title">{{ article_details.title }}</h1>

            <div class="author">
                <a class="avatar" target="_blank" href="javascript:void(0)">
                    <img src="{{ article_details.author.avatar }}" alt="{{ article_details.author.username }}">
                </a>
                <div class="info">
                    <span class="name">{{ article_details.author.username }}</span>
                    <span class="text-time">{{ article_details.release_time }} </span>
                </div>
            </div>

            <div class="article-content">
                {% autoescape off %}
                    {{ article_details.content_html }}
                {% endautoescape %}
            </div>
        </div>
        <div class="comments-container">
            <p class="separate-title">最新评论</p>
            <ul class="comments-list">

            </ul>
            <span class="no-more-text">还没有评论，快来抢沙发吧</span>
            <a class="check-more-link" href="javascript:void(0)">查看更多评论</a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        mui.ready(function () {
            $.ajax({
                type: 'GET',
                url: "{{ main_site }}" + "/api/v1/article/comments",
                data: {
                    'page': 1,
                    'article_id': {{ article_details.article_id }}
                },
                dataType: 'json',
                success: function (json) {
                    if (json.hasOwnProperty('results') && json.results.length > 0) {
                        var fragment = document.createDocumentFragment();
                        var li;
                        $.each(json.results, function (index, array) {
                            var comment_id = array['comment_id'];
                            var avatar = array['commentator']['avatar'];
                            var username = array['commentator']['username'];
                            var user_id = array['commentator']['user_id'];
                            var comment_at = array['comment_at'];
                            var comment_at_desc = getDateDiff(comment_at);
                            var content = array['content'];
                            var praise_times = array['praise_times'];
                            li = document.createElement('li');
                            li.className = 'comment';
                            li.dataset.comment_id = comment_id;
                            var comment_html_str = '<a class="avatar" href="javascript:void(0)">' +
                                    '<img src="' + avatar + '" alt="' + username + '">' + '</a>' +
                                    '<div class="info">' +
                                    '<div class="user">' +
                                    '<div class="user-info">' +
                                    '<span class="nickname">' + username + '</span>' +
                                    '<span class="text-time">' + comment_at_desc + '</span>' +
                                    '</div>' +
                                    '<div class="praise">' +
                                    '<i class="iconfont icon-communityiconpraise4"></i>' +
                                    '<span class="comment-praise-times">' + praise_times + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<p class="comment-content">' + content + '</p>' +
                                    '</div>';
                            li.innerHTML = comment_html_str;
                            fragment.appendChild(li);
                        });
                        var ul = document.querySelector('.comments-list');
                        ul.appendChild(fragment);
                        if (json.results.length > 0) {
                            $('.check-more-link').css('display', 'block')
                        }
                        else {
                            $('.no-more-text').css('display', 'block')
                        }
                    }
                    else {
                        $('.no-more-text').css('display', 'block')
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var response_json = XMLHttpRequest.responseJSON;
                    console.log(response_json.msg);
                    $('.no-more-text').css('display', 'block');
                    return false
                }
            })
        })
    </script>
{% endblock %}