{% extends "base.html" %}
{% block title %}<title>评论详情</title>{% endblock %}
{% block extra_header %}
    <link rel="stylesheet" href="/static/css/article/meta.css">
{% endblock %}
{% block content %}
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title"><span id="comment_replies_count">{{ comment.replies_count }}</span>条回复</h1>
    </header>
    <div id="pull_refresh" class="mui-content mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="comments-container" style="margin-top: 0">
                <div class="comment no-border-after" data-comment_id="{{ comment.comment_id }}">
                    <a class="avatar" href="{% url 'article:user_articles' comment.commentator.user_id %}">
                        <img src="{{ comment.commentator.avatar }}" alt="{{ comment.commentator.username }}">
                    </a>
                    <div class="info" style="border: 0">
                        <div class="user">
                            <div class="user-info">
                                <p class="nickname">{{ comment.commentator.username }}</p>
                                <span class="text-time" data-time="{{ comment.comment_at }}"></span>
                            </div>
                            <div class="praise" data-praise_type="2" data-parent_id="{{ comment.comment_id }}">
                                <span class="comment-praise-times">{{ comment.praise_times }}</span>
                                <i class="iconfont icon-praise"></i>
                            </div>
                        </div>
                        <p class="content">{{ comment.content }}</p>
                    </div>
                </div>
                <input type="hidden" id="comment_id" value="{{ comment.comment_id }}">
                <input type="hidden" id="commentator_id" value="{{ comment.commentator.user_id }}">
            </div>
            <div class="replies-container">
                <p class="separate-title">最新回复</p>
                <ul class="comment-replies-list">
                </ul>
            </div>
        </div>
    </div>
    <nav class="mui-bar mui-bottom-bar">
        <div class="write-comment">
            <p class="tips" id="preview-text">回复 {{ comment.commentator.username }}</p>
        </div>
    </nav>
    <div id="comment-popover" class="mui-popover mui-popover-action mui-popover-bottom">
        <div class="comment-box">
            <textarea id="textarea" placeholder="回复 {{ comment.commentator.username }}"
                      onchange="this.value=this.value.substring(0, 72)"
                      onkeydown="this.value=this.value.substring(0, 72)"
                      onkeyup="this.value=this.value.substring(0, 72)"></textarea>
            <a id="send-text" data-parent_id="{{ comment.comment_id }}" data-comment_id="{{ comment.comment_id }}"
               data-receiver_id="{{ comment.commentator.user_id }}" class="mui-icon mui-icon-paperplane"></a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        mui('header').on('tap', '.back-to-article', function () {
            window.location.href = "{% url 'article:details' comment.article_id %}";
        });
        var praiseType = {
            'article': '1',
            'comment': '2'
        };
        var toast_option = {
            duration: 1000
        };
        function redirect_to_login() {
            var next = window.location.href;
            var login_url = "{% url 'account:login' %}";
            window.location.href = login_url + '?next=' + next;
        }

        var is_authenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
        var login_user_id = {% if user.is_authenticated %}{{ user.id }}{% else %}0{% endif %};

        var CommentRepliesApiUrl = "{% url 'api:comment_replies' %}";
        var page = 1;
        var commentator_id = "{{ comment.commentator.user_id }}";
        var commentator_username = "{{ comment.commentator.username }}";
        var comment_id = "{{ comment.comment_id }}";
        var preview_text = document.getElementById('preview-text');
        var textarea = document.getElementById('textarea');
        var send_text_link = document.getElementById('send-text');
        var comment_replies_count_span = document.getElementById('comment_replies_count');

        function create_comment_replies(json) {
            var fragment = document.createDocumentFragment();
            var li;
            $.each(json.results, function (index, array) {
                var comment_id = array['comment_id'];
                var replier = array['replier'];
                var receiver = array['receiver'];
                var reply_at = array['reply_at'];
                var reply_at_desc = getDateDiff(reply_at);
                var content = array['content'];
                var praise_times = array['praise_times'];
                li = document.createElement('li');
                li.className = 'comment-reply';
                li.id = 'comment_' + comment_id;
                li.dataset.comment_id = comment_id;
                li.dataset.replier_id = replier['user_id'];
                li.dataset.replier_username = replier['username'];
                var comment_reply_html = '<a class="avatar" href="/article/author/' + replier['user_id'] + '">' +
                        '<img src="' + replier['avatar'] + '" alt="' + replier['username'] + '">' + '</a>' +
                        '<div class="info">' +
                        '<div class="user">' +
                        '<div class="user-info">' +
                        '<p class="nickname">' + replier['username'] + '</p>' +
                        '<span class="text-time">' + reply_at_desc + '</span>' +
                        '</div>' +
                        '<div class="praise" data-praise_type="' + praiseType['comment'] + '" data-parent_id="' + comment_id +
                        '">' +
                        '<span class="comment-praise-times">' + praise_times + '</span>' +
                        '<i class="iconfont icon-praise"></i>' +
                        '</div>' +
                        '</div>' +
                        '<p class="content">';
                if (receiver['user_id'] != commentator_id) {
                    comment_reply_html += '回复' +
                            '<a href="javascript:void(0)">@' + receiver['username'] + '</a>:&nbsp;'
                }
                comment_reply_html += content + '</p></div>';
                li.innerHTML = comment_reply_html;
                fragment.appendChild(li);
            });
            return fragment
        }

        function pulldownRefresh() {
            var self = this;
            $('.comment-replies-list li').remove();
            page = 1;
            $.ajax({
                type: 'GET',
                url: CommentRepliesApiUrl,
                data: {
                    'page': page,
                    'parent_id': comment_id
                },
                dataType: 'json',
                success: function (json) {
                    if (json.hasOwnProperty('results') && json.results.length > 0) {
                        comment_replies_count_span.innerHTML = json.count;
                        var ul = document.querySelector('.comment-replies-list');
                        ul.appendChild(create_comment_replies(json));
                        self.endPulldownToRefresh(!json.next);
                        self.refresh(true);
                        self.endPullupToRefresh(!json.next);
                        if (json.next) {
                            page++;
                        }
                    }
                    else {
                        self.endPulldownToRefresh(true);
                        self.refresh(true);
                        self.endPullupToRefresh(true);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    self.endPulldownToRefresh(true);
                    self.refresh(true);
                    self.endPullupToRefresh(true);
                    return false
                }
            })
        }

        function pullupRefresh() {
            var self = this;
            $.ajax({
                type: 'GET',
                url: CommentRepliesApiUrl,
                data: {
                    'page': page,
                    'parent_id': comment_id
                },
                dataType: 'json',
                success: function (json) {
                    if (json.hasOwnProperty('results') && json.results.length > 0) {
                        var ul = document.querySelector('.comment-replies-list');
                        ul.appendChild(create_comment_replies(json));
                        self.endPullupToRefresh(!json.next);
                        if (json.next) {
                            page++;
                        }
                    }
                    else {
                        self.endPullupToRefresh(true);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    self.endPullupToRefresh(true);
                }
            })
        }

        var dpr = lib.flexible.dpr || 1;
        mui.init({
            pullRefresh: {
                container: '#pull_refresh',
                down: {
                    height: 30 * dpr,
                    auto: true,    //可选,默认false.自动下拉刷新一次
                    contentdown: "下拉刷新",    //可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
                    contentover: "释放立即刷新",    //可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
                    contentrefresh: "正在刷新...",   //可选，正在刷新状态时，下拉刷新控件上显示的标题内容
                    callback: pulldownRefresh
                },
                up: {
                    //height : 50,//可选.默认50.触发上拉加载拖动距离
                    //auto : true,//可选,默认false.自动上拉加载一次
                    contentrefresh: "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
                    contentnomore: '没有更多回复了',
                    callback: pullupRefresh
                }
            }
        });

        function initData() {
            textarea.blur();
            textarea.value = '';
            textarea.setAttribute("placeholder", "回复 {{ comment.commentator.username }}");
            preview_text.innerHTML = '回复 {{ comment.commentator.username }}';
            send_text_link.dataset.comment_id = "{{ comment.comment_id }}";
            send_text_link.dataset.receiver_id = "{{ comment.commentator.user_id }}";
        }

        function ajaxPostPraise(post_data, praise_times, like_icon, praise_times_span) {
            $.ajax({
                type: 'POST',
                url: "{% url 'api:save_praise' %}",
                data: post_data,
                dataType: "json",
                success: function (json) {
                    if (json.code == 200) {
                        praise_times++;
                        like_icon.removeClass('icon-praise');
                        like_icon.addClass('icon-praise_fill');
                        praise_times_span.innerHTML = praise_times;
                    }
                    else {
                        mui.toast(json.msg, toast_option);
                        return false
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var response_json = XMLHttpRequest.responseJSON;
                    mui.toast(response_json.msg, toast_option);
                    return false
                }
            });
        }

        function ajaxDeletePraise(post_data, praise_times, like_icon, praise_times_span) {
            $.ajax({
                url: "{% url 'api:cancel_praise' %}",
                type: "DELETE",
                data: post_data,
                dataType: "json",
                success: function (json) {
                    if (json.code == 200) {
                        praise_times--;
                        like_icon.removeClass('icon-praise_fill');
                        like_icon.addClass('icon-praise');
                        praise_times_span.innerHTML = praise_times;
                    }
                    else {
                        mui.toast(json.msg, toast_option);
                        return false
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var response_json = XMLHttpRequest.responseJSON;
                    mui.toast(response_json.msg, toast_option);
                    return false
                }
            });
        }

        mui.ready(function () {
            var comment_at = $('.comment .text-time')[0];
            var time_desc = getDateDiff(comment_at.dataset.time);
            comment_at.innerHTML = time_desc;

            mui('body').on('tap', '.write-comment', function () {
                mui('#comment-popover').popover('show');
                textarea.focus()
            });

            mui('.replies-container').on('tap', '.user-info, .content', function () {
                var parent_comment = $(this).parents('li.comment-reply')[0];
                var comment_id = parent_comment.dataset.comment_id;
                var receiver_id = parent_comment.dataset.replier_id;
                var receiver_username = parent_comment.dataset.replier_username;
                send_text_link.dataset.comment_id = comment_id;
                send_text_link.dataset.receiver_id = receiver_id;
                mui('#comment-popover').popover('show');
                textarea.setAttribute("placeholder", "回复 " + receiver_username);
                textarea.focus()
            });

            mui('body').on('tap', '#send-text', function () {
                var self = this;
                if (!is_authenticated) {
                    redirect_to_login();
                    return false;
                }
                var content = textarea.value.replace(/(^\s*)|(\s*$)/g, "");
                if (content == '') {
                    mui.toast('请先编写回复内容', toast_option);
                    return false
                }
                var parent_id = this.dataset.parent_id;
                var comment_id = this.dataset.comment_id;
                var receiver_id = this.dataset.receiver_id;
                var url = "{% url 'api:save_comment_reply' %}";
                var post_data = {
                    "article_id": {{ comment.article_id }},
                    "parent_id": parent_id,
                    "be_replied_comment_id": comment_id,
                    "receiver_id": receiver_id,
                    "content": content
                };
                initData();
                mui('#comment-popover').popover('hide');
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: post_data,
                    dataType: 'json',
                    success: function (json) {
                        mui.toast(json.msg, toast_option);
                        if (json.code == 200) {
                            mui('#pull_refresh').pullRefresh().pulldownLoading();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var response_json = XMLHttpRequest.responseJSON;
                        mui.toast(response_json.msg, toast_option);
                    }
                });
            });

            mui('body').on('hidden', '#comment-popover', function (e) {
                initData()
            });

        });

        $('#textarea').change(function () {
            var text = $('#textarea').val();
            $("#preview-text").html(text)
        });

        mui('body').on('tap', '.praise', function () {
            if (!is_authenticated) {
                redirect_to_login();
                return false;
            }
            var like_icon = $(this.querySelector('i'));
            var parent_id = parseInt(this.dataset.parent_id);
            var praise_type = parseInt(this.dataset.praise_type);
            if (parent_id == undefined || praise_type == undefined) {
                mui.toast('参数错误，请联系管理员', toast_option);
                return false;
            }
            var praise_times_span = this.querySelector('.comment-praise-times');
            var praise_times = praise_times_span.innerHTML;
            if (like_icon.hasClass('icon-praise_fill')) {
                var post_data = {
                    "parent_id": parent_id,
                    "praise_type": praise_type
                };
                ajaxDeletePraise(post_data, praise_times, like_icon, praise_times_span)
            } else {
                var post_data = {
                    "parent_id": parent_id,
                    "praise_type": praise_type
                };
                ajaxPostPraise(post_data, praise_times, like_icon, praise_times_span)
            }
        });
    </script>
{% endblock %}