.mui-plus-pullrefresh .mui-scroll {
    position: static;
    width: auto;
}

.article {
    background-color: #fff;
    padding: 15px;
}

.article .title {
    color: #000;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.5;
}

.article .meta {
    margin-top: 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.article .meta span + span:before {
    padding: 0 8px;
    content: "/\00a0";
}

.article .article-content {
    margin-top: 20px;
}

.article .article-content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
    color: #000;
}

.article .author {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.article .author .avatar {
    display: inline-block;
}

.article .author .info {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
}

.article .author .info span {
    display: block;
}

.comments-container, .replies-container {
    background-color: #fff;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
}

ul.comments-list, ul.comment-replies-list {
    padding: 0;
    margin: 24px 0;
}

.comment, .comment-reply {
    position: relative;
    margin-bottom: 12px;
}

.comment .avatar, .comment-reply .avatar {
    position: absolute;
    top: 0;
    left: 0;
}

.comment .info, .comment-reply .info {
    margin-left: 52px;
    border-bottom: 1px solid #f0f0f0;;
}

.comment .info .user, .comment-reply .info .user {
    position: relative;
}

.comment .info .user .user-info span, .comment-reply .info .user .user-info span {
    font-size: 14px;
    display: block;
}

.comment .info .user .praise, .comment-reply .info .user .praise {
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 36px;
    text-align: right;
    vertical-align: middle;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.comment .info .user .praise .comment-praise-times, .comment-reply .info .user .praise .comment-praise-times {
    margin-left: 2px;
}

.comment .info .content, .comment-reply .info .content {
    margin-top: 10px;
}

.comment .info .replies-list {
    background-color: #efeff4;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
}

.comment .info .replies-list p {
    font-size: 14px;
}


.praise-container {
    width: 100%;
    text-align: center;
    background-color: #fff;
    margin: 0;
    padding: 20px 0;
    font-size: 16px;
}

.praise-container .praise-link {
    width: 40%;
    height: 36px;
    border: 1px solid #007aff;
    border-radius: 25px;
    padding: 4px 20px;
    margin: 0 auto;
    text-align: center;
    color: #007aff;
}

.praise-container .praise-link span {
    line-height: 28px;
    vertical-align: middle;
}

.praise-container .praise-link i {
    font-size: 22px;
    line-height: 28px;
    vertical-align: middle;
}

.praise-container .praise-users-box {
    margin-top: 10px;
}

.praise-container .praise-users-box .praise-user {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 6px;
}

.praise-container .praise-users-box .praise-user img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
