.mui-plus-pullrefresh .mui-scroll {
    position: static;
    width: auto;
}

.article-info {
    background-color: #fff;
    padding: 15px;
}

.article-info .title {
    font-size: 24px;
    line-height: 1.5;
}

.article-info .article-content {
    margin-top: 20px;
}

.article-info .article-content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
    color: #000;
}

.article-info .author {
    position: relative;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.article-info .author .avatar {
    position: absolute;
    top: 0;
    left: 0;
}

.article-info .author .info {
    padding-left: 52px;
}

.article-info .author .info span {
    display: block;
}

.comments-container, .replies-container, .praises-container, .users-container {
    background-color: #fff;
    width: 100%;
    padding: 0;
    margin: 10px 0;
}

.comments-container .separate-title, .replies-container .separate-title, .praises-container .separate-title {
    padding: 10px 15px;
}

.comments-list, .comment-replies-list, .praises-list, .users-list {
    padding: 0;
    margin: 0;
}

.comment, .comment-reply, li.praise, .user-item {
    position: relative;
    padding: 15px;
}

.comment:after, .comment-reply:after, li.praise:after, .user-item:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 67px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}

.comment:last-child:after, .comment-reply:last-child:after, li.praise:last-child:after, .user-item:last-child:after {
    height: 0;
}

.comment.no-border-after:after {
    height: 0;
}

.user-item:after {
    left: 88px;
}

.comment .avatar, .comment-reply .avatar, li.praise .avatar, .user-item .avatar {
    position: absolute;
    top: 15px;
    left: 15px;
}

.comment.with-article-link, li.praise.with-article-link {
    padding-right: 105px;
}

.article-link {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 65px;
    height: 49px;
}

.article-link .abstract {
    font-size: 12px;
    line-height: 16px;
}

.article-link img {
    width: 100%;
    height: 100%;
}

.user-item .avatar {
    width: 60px;
    height: 60px;
}

.comment .info, .comment-reply .info, li.praise .info {
    margin-left: 52px;
}

.comment .info p:last-child, .comment-reply .info p:last-child, li.praise .info p:last-child {
    margin-bottom: 0;
}

.user-item .user-info {
    position: relative;
    margin-left: 74px;
}

.comment .info .user, .comment-reply .info .user, li.praise .info .user {
    position: relative;
    font-size: 14px;
}

.comment .info .user .user-info, .comment-reply .info .user .user-info, li.praise .info .user .user-info {
    padding-right: 100px;
}

.comment .info .user .user-info span, .comment-reply .info .user .user-info span, li.praise .info .user .user-info span {
    display: block;
}

.user-item .user-info p {
    margin: 2px 0;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.user-item .user-info p:last-child {
    margin-bottom: 0;
}

.user-item .user-info .nickname {
    font-size: 16px;
    color: #333;
}

.comment .info .user .praise, .comment-reply .info .user .praise {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 36px;
    height: 36px;
    text-align: right;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.6);
}

.comment .info .user .praise .comment-praise-times, .comment-reply .info .user .praise .comment-praise-times {
    margin-right: 2px;
}

.comment .info .content, .comment-reply .info .content, li.praise .info .content {
    padding-top: 10px;
}

.comment .info .be_replied_comment_desc {
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
}

.comment .info .replies-list {
    background-color: #efeff4;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
}

.comment .info .replies-list p {
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 3;
}

.comment .info .replies-list p:last-child {
    margin-bottom: 0;
}

.comment .info .article, li.praise .info .article {
    background-color: #efeff4;
    margin-top: 10px;
    margin-bottom: 0;
}

.comment .info .article.with-img, li.praise .info .article.with-img {
    padding-right: 130px;
    min-height: 105px;
}

.comment .info .article.with-img .cover-container, li.praise .info .article.with-img .cover-container {
    width: 100px;
    height: 75px;
}

.comment .info .article .title, li.praise .info .article .title {
    font-size: 16px;
}

.comment .info .article .abstract, li.praise .info .article .abstract {
    font-size: 14px;
}

.comment .info .replies-list p {
    font-size: 14px;
}

.praise-container {
    width: 100%;
    text-align: center;
    background-color: #fff;
    margin: 0;
    padding: 20px 0;
    font-size: 16px;
}

.praise-container .praise-link {
    width: 40%;
    height: 36px;
    border: 1px solid #007aff;
    border-radius: 25px;
    padding: 4px 20px;
    margin: 0 auto;
    text-align: center;
    color: #007aff;
}

.praise-container .praise-link span {
    line-height: 28px;
    vertical-align: middle;
}

.praise-container .praise-link i {
    font-size: 22px;
    line-height: 28px;
    vertical-align: middle;
}

.praise-container .praise-users-box {
    margin-top: 10px;
}

.praise-container .praise-users-box .praise-user {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 6px;
}

.praise-container .praise-users-box .praise-user img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.switch-buttons {
    width: 100%;
    padding: 15px;
}

.switch-buttons button {
    width: 33.3%;
    height: 32px;
    border-radius: 16px;
    padding: 6px 12px;
    line-height: 20px;
    color: #ccc;
    font-size: 15px;
}

.switch-buttons button.active {
    color: #000;
}

.switch-buttons button:first-child {
    margin-right: 20px;
}

.share-items {
    text-align: center;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.share-item {
    display: inline-block;
    margin: 0 15px 15px 15px;
}

.share-items .share-item .share-btn {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.share-items .share-item .share-btn img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.share-items .share-item .share-tips {
    font-size: 14px;
    display: block;
    color: rgba(0, 0, 0, 0.6);
}
