<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="LOVEITERS是一个分享社区，在这里，你可以分享技术干货，分享读书心得，分享生活的点点滴滴，社区因你而不同。">
    <meta name="keywords" content="HTML, CSS, JS, JavaScript, Jquery, bootstrap, Python, Django，博客">
    <meta name="author" content="tony">
    <link rel="icon" href="/static/images/favicon.ico">

    {% block title %} {% endblock %}
    {% include "header.html" %}
    {% block extra_header %} {% endblock %}
</head>

<body>
{% include "navbar.html" %}

{% block content %} {% endblock %}
{% include "footer.html" %}
{% block extra_js %}
{% endblock %}
</body>
</html>
