<footer class="bs-docs-footer">
    <div class="container">
        <div class="row">
            <div class="row-content col-lg-3 col-sm-3 col-xs-6">
                <h3>站点信息</h3>
                <dl>
                    <dd><a href="{% url 'aboutus' %}">关于我们</a></dd>
                    <dd><a href="{% url 'disclaimer' %}">免责申明</a></dd>
                    <dd><a href="{% url 'downloads' %}">资料下载</a></dd>
                </dl>
            </div>
            <div class="row-content col-lg-3 col-sm-3 col-xs-6">
                <h3>友情链接</h3>
                <dl>
                    <dd><a href="http://www.runoob.com" target="_blank">菜鸟教程</a></dd>
                    <dd><a href="https://www.djangoproject.com" target="_blank">Django官网</a></dd>
                    <dd><a href="http://www.bootcss.com" target="_blank">Bootstrap中文网</a></dd>
                    <dd><a href="http://www.w3school.com.cn" target="_blank">W3school在线</a></dd>
                </dl>
            </div>
            <div class="row-content col-lg-3 col-sm-3 col-xs-6">
                <h3>联系方式</h3>
                <dl>
                    <dd>Email: 1585577468@qq.com</dd>
                    <dd>QQ: 1585577468</dd>
                </dl>
            </div>
            <div class="row-content col-lg-3 col-sm-3 col-xs-6">
                <h3>关注微博</h3>
                <dl>
                    <dd><img width="101px" height="128px" src="/static/images/weibo.jpg"></dd>
                </dl>
            </div>

        </div>
    </div>

    <div class="footer-message text-center">
        <p>
            Power by <a href="https://www.djangoproject.com" target="_blank">Django</a> and <a href="http://www.bootcss.com" target="_blank">Bootstrap</a>
            <span><a class="icp-info" href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备17159771号-1</a></span>
        </p>
    <div>

    <div class="fixed-btn list-group">
        <a class="back-to-top list-group-item" title="返回顶部" href="javascript:void(0)"><i class="iconfont icon-top icon-"></i></a>
        <a class="feedback list-group-item" target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=-czIxcjIysrJy8W9jIzTnpKQ" title="优化反馈">
            <i class="iconfont icon-icon"></i></a>
    </div>
</footer>