<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/iconfont/iconfont.css">
<!-- Bootstrap core CSS -->
<link href="/static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/file-input/fileinput.min.css" media="all" rel="stylesheet">
<link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="/static/js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script src="/static/jquery-2.1.4/jquery.min.js"></script>
<!-- File input javascript -->
<script src="/static/js/file-input/fileinput.min.js"></script>
<script src="/static/js/file-input/fileinput_locale_zh.js"></script>

<script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/static/layer-v3.0.3/layer/layer.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>

<!--
<script src="/static/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/static/jquery-ui-1.12.1.custom/jquery-ui.min.css"/>
<script src="/static/js/jquery-ui-timepicker-addon.js"></script>
<script src="/static/js/jquery-ui-timepicker-zh-CN.js"></script>
<link rel="stylesheet" href="/static/css/jquery-ui-timepicker-addon.css"/>
-->
<script src="/static/js/main.js"></script>
<script src="/static/js/offcanvas.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<script src="/static/js/jquery.csrf.token.js"></script>
