{% extends "base.html" %}
{% block title %}<title>兴旺的博客</title>{% endblock %}
{% block extra_header %}
    <link href="/static/css/index.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/slideshows.css" />
    <script src="/static/js/jquery.cycle.all.js"></script>
    <script src="/static/js/jquery.easing.1.3.js"></script>
{% endblock %}
{% block content %}
    <div class="container index">

        <div class="row row-offcanvas row-offcanvas-right">

            <div class="col-lg-12 col-xs-12 col-sm-12">
                <!--
                <p class="pull-right visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Banner</button>
                </p>
                <div class="jumbotron">
                    <h2 class="text-center">May the force be with you</h2>
                    <p>
                        各位盆友好，欢迎来到我的博客，在这里，你可以寻找海量的技术博文，畅所欲言(tǔ cáo)。
                    </p>
                </div>
                -->

                <div class="ss2_wrapper">
			        <a href="#" class="slideshow_prev"><span>Previous</span></a>
			        <a href="#" class="slideshow_next"><span>Next</span></a>
			        <!--
			            <div class="slideshow_paging"></div>
			        -->

			        <div class="slideshow_box">
				        <div class="data"></div>
			        </div>

			        <div id="slideshow_2" class="slideshow">
                        {% for hot_articles_brief in hot_articles_briefs %}
                            <div class="slideshow_item">
					            <div class="image"><a href="{% url 'article:details' hot_articles_brief.article_id %}" target="_blank"><img {% if hot_articles_brief.cover_photo %}src="{{ hot_articles_brief.cover_photo }}"{% else %}src="/media/article/cover/default_cover.jpg"{% endif %} alt="{{ hot_articles_brief.title }}"/></a></div>
					            <div class="data">
						            <h4><a href="{% url 'article:details' hot_articles_brief.article_id %}" target="_blank">{{ hot_articles_brief.title }}</a></h4>
						            <p>{{ hot_articles_brief.abstract }}</p>
					            </div>
				            </div>
                        {% endfor %}
			        </div>
		        </div><!-- .ss2_wrapper -->

                <div class="row">
                    <div class="col-sm-8 main">
                        <div class="split-line"></div>
                        <div id="list-container">
                            <ul class="note-list">
                                {% for article_summarization in articles_summarization%}
                                <li id="article-{{ article_summarization.article_id }}" data-article_id="{{ article_summarization.article_id }}" {% if article_summarization.cover_photo %}class="with-img"{% endif %}>
                                    {% if article_summarization.cover_photo %}
                                    <a class="wrap-img" href="{% url 'article:details' article_summarization.article_id %}" target="_blank">
                                        <img class="img-blur"
                                             src="{{ article_summarization.cover_photo }}"
                                             alt="{{ article_summarization.title }}"/>
                                    </a>
                                    {% endif %}
                                    <div class="content">
                                        <div class="author">
                                            <a class="avatar" target="_blank" href="javascript:void(0)">
                                                <img src="{{ article_summarization.author.avatar }}" alt="{{ article_summarization.author.username }}"/>
                                            </a>
                                            <div class="info">
                                                <a class="nickname" target="_blank" href="javascript:void(0)">{{ article_summarization.author.username }}</a>
                                                <span class="time" data-shared-at="{{ article_summarization.release_time }}">{{ article_summarization.release_time }}</span>
                                            </div>
                                        </div>
                                        <a class="title" target="_blank" href="{% url 'article:details' article_summarization.article_id %}">{{ article_summarization.title }}</a>
                                        <p class="abstract">
                                            {{ article_summarization.abstract }}
                                        </p>
                                        <div class="meta">
                                            <a class="collection-tag" target="_blank" href="{% url 'article:article_category' article_summarization.type.value %}">{{ article_summarization.type.display_name }}</a>
                                            <a target="_blank" href="{% url 'article:details' article_summarization.article_id %}">
                                                <i class="iconfont icon-view"></i> {{ article_summarization.page_views }}
                                            </a>
                                            <a target="_blank" href="{% url 'article:details' article_summarization.article_id %}#comments">
                                                <i class="iconfont icon-comments"></i> {{ article_summarization.comment_times }}
                                            </a>
                                            <span><i class="iconfont icon-like"></i> {{ article_summarization.praise_times }}</span>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="read-more col-sm-4 col-sm-offset-4">
                                <input type="hidden" value="{{ article_type }}" id="article_type">
                                <button class="btn btn-default btn-info" id="btn_read_more" style="outline: none;">阅读更多</button>
                            </div>
                        </div>
                    </div>
                </div><!--/row-->
            </div><!--/.col-xs-12.col-sm-9-->

        </div><!--/row-->
    </div><!--/.container-->
{% endblock %}

{% block extra_js %}
    <script>
        $('#slideshow_2').cycle({
            fx: 'fade',
		    speed: 900,
		    timeout: 5000,
		    pager: '.ss2_wrapper .slideshow_paging',
            prev: '.ss2_wrapper .slideshow_prev',
            next: '.ss2_wrapper .slideshow_next',

		    before: function(currSlideElement, nextSlideElement) {
			    var data = $('.data', $(nextSlideElement)).html();
			    $('.ss2_wrapper .slideshow_box').stop(true, true).animate({ bottom:'-110px'}, 400, function(){
				    $('.ss2_wrapper .slideshow_box .data').html(data);
			    });
			    $('.ss2_wrapper .slideshow_box').delay(100).animate({ bottom:'0'}, 400);
		    }
        });

	    $('.ss2_wrapper').mouseenter(function(){
		    $('#slideshow_2').cycle('pause');
		    $('.ss2_wrapper .slideshow_prev').stop(true, true).animate({ left:'20px'}, 200);
		    $('.ss2_wrapper .slideshow_next').stop(true, true).animate({ right:'20px'}, 200);
        }).mouseleave(function(){
		    $('#slideshow_2').cycle('resume');
		    $('.ss2_wrapper .slideshow_prev').stop(true, true).animate({ left:'-40px'}, 200);
		    $('.ss2_wrapper .slideshow_next').stop(true, true).animate({ right:'-40px'}, 200);
        });
    </script>

    <script type="text/javascript">
            $(function() {
                $("#btn_read_more").click(function() {
                    var the_last_article = $(".note-list li:last");
                    var the_last_article_id = 0;
                    if (the_last_article.length > 0) {
                        the_last_article_id = the_last_article[0].dataset.article_id;
                    }
                    $.getJSON("{% url 'article:articles' %}",
                            {
                                'the_last_article_id': the_last_article_id,
                                'article_type': $("#article_type").val()
                            }, function(json) {
                            if (json.data.length > 0) {
                                var str = "";
                                $.each(json.data, function(index, array) {
                                    var article_id = array['article_id'];
                                    var title = array['title'];
                                    var type = array['type'];
                                    var cover_photo = array['cover_photo'];
                                    var abstract = array['abstract'];
                                    var comment_times = array['comment_times'];
                                    var praise_times = array['praise_times'];
                                    var release_time = array['release_time'];
                                    var page_views = array['page_views'];
                                    var author = array['author'];
                                    var str = '<li id="article-' + article_id + '" data-article_id="' + article_id + '"';
                                    if (cover_photo) {
                                        str += 'class="with-img">' +
                                         '<a class="wrap-img" href="/article/details/' + article_id + '" target="_blank">' +
                                         '<img class="img-blur" src="' + cover_photo + '" alt="' + title + '"/>'
                                    }
                                    str += '<div class="content">' +
                                        '<div class="author">' +
                                            '<a class="avatar" target="_blank" href="javascript:void(0)">' +
                                                '<img src="' + author['avatar'] + '" alt="' + author['username'] + '"/>' +
                                            '</a>' +
                                            '<div class="info">' +
                                                '<a class="nickname" target="_blank" href="javascript:void(0)">' + author['username'] + '</a>' +
                                                '<span class="time" data-shared-at="' + release_time + '">' + release_time + '</span>' +
                                            '</div>' +
                                        '</div>' +
                                        '<a class="title" target="_blank" href="/article/details/' + article_id  + '">' + title + '</a>' +
                                        '<p class="abstract">' + abstract + '</p>' +
                                        '<div class="meta">' +
                                            '<a class="collection-tag" target="_blank" href="/article/category/' + type['value'] +
                                            '">' + type['display_name'] + '</a>' +
                                            '<a target="_blank" href="/article/details/' + article_id + '">' +
                                                '<i class="iconfont icon-view"></i>' + page_views +
                                            '</a>' +
                                            '<a target="_blank" href="/article/details/' + article_id  + '#comments">' +
                                                '<i class="iconfont icon-comments"></i>' + comment_times +
                                            '</a>' +
                                            '<span><i class="iconfont icon-like"></i>' + praise_times + '</span>' +
                                        '</div>' +
                                        '</div>' +
                                        '</li>';
                                    $(".note-list").append(str);
                                });
                            } else {
                                layer.msg('更多内容，敬请期待', {time: 1000});
                                return false;
                            }
                        });
                });
            });
    </script>
{% endblock %}