{% extends "base.html" %}
{% block title %}<title>{{ site_name }}{% ifnotequal article_type.value 0 %} |
    {{ article_type.display_name }}{% endifnotequal %}</title>{% endblock %}
{% block extra_header %}
    <link href="/static/css/index.css" rel="stylesheet">
    <script src="/static/js/jquery.easing.1.3.js"></script>
    <script src="/static/js/time_desc.js"></script>
{% endblock %}
{% block content %}
    <div class="container index">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 main">
                <div id="list-container">
                    <ul class="note-list" id="note_list">
                    </ul>
                    <div class="read-more text-center">
                        <input type="hidden" value="{{ article_type.value }}" id="article_type">
                        <button class="btn btn-info" id="btn_read_more" style="display: none">阅读更多</button>
                        <p class="text-center not-more-content">更多内容，敬请期待...</p>
                    </div>
                </div>
            </div>
        </div><!--/row-->
    </div><!--/.container-->
{% endblock %}

{% block extra_js %}
    <script src="/static/js/jquery.lazyload.js"></script>
    <script type="text/javascript">
        var note_list = document.getElementById('note_list');
        function ajax_get_article() {
            var earliest_time = note_list.dataset.earliest_time;
            var last_time = note_list.dataset.last_time;
            var data = {
                'article_type': $("#article_type").val(),
                'is_released': 1
            };
            if (typeof earliest_time != 'undefined') {
                data['earliest_time'] = earliest_time
            }
            if (typeof last_time != 'undefined') {
                data['last_time'] = last_time
            }
            $.getJSON("{% url 'api:articles' %}",
                    data, function (json) {
                        if (json.hasOwnProperty('results') && json.results.length > 0) {
                            var str = "";
                            $.each(json.results, function (index, array) {
                                var earliest_time = note_list.dataset.earliest_time;
                                var last_time = note_list.dataset.last_time;
                                var article_id = array['article_id'];
                                var title = array['title'];
                                var type = array['type'];
                                var cover_photo = array['cover_photo'];
                                var abstract = array['abstract'];
                                var comment_times = array['comment_times'];
                                var praise_times = array['praise_times'];
                                var release_time = array['release_time'];
                                var release_time_desc = getDateDiff(release_time);
                                var page_views = array['page_views'];
                                var author = array['author'];
                                if ((typeof earliest_time == 'undefined') || (new Date(release_time.replace(/-/g, "/")) > new Date(earliest_time.replace(/-/g, "/")))) {
                                    note_list.dataset.earliest_time = release_time
                                }
                                if ((typeof last_time == 'undefined') || (new Date(release_time.replace(/-/g, "/")) < new Date(last_time.replace(/-/g, "/")))) {
                                    note_list.dataset.last_time = release_time
                                }
                                var str = '<li id="article-' + article_id + '" data-article_id="' + article_id + '">';

                                str += '<div class="author">' +
                                        '<a class="avatar" target="_blank" href="/article/author/' + author['user_id'] + '">' +
                                        '<img src="' + author['avatar'] + '" alt="' + author['username'] + '"/>' +
                                        '</a>' +
                                        '<div class="info">' +
                                        '<a class="nickname" target="_blank" href="/article/author/' + author['user_id'] + '">' +
                                        author['username'] + '</a>' +
                                        '<span class="time">' + release_time_desc + '</span>' +
                                        '</div>' +
                                        '</div>' +
                                        '<div class="article-info';
                                if (cover_photo) {
                                    str += ' with-img'
                                }
                                str += '">';
                                if (cover_photo) {
                                    str += '<a class="wrap-img" href="/article/details/' + article_id + '" target="_blank">' +
                                            '<img class="img-blur lazy" data-original="' + cover_photo + '" alt="' + title + '"/>' +
                                            '</a>';
                                }
                                str += '<a class="title" target="_blank" href="/article/details/' + article_id + '">' + title + '</a>' +
                                        '<p class="abstract">' + abstract + '</p>' +
                                        '<div class="meta">' +
                                        '<a class="collection-tag" target="_blank" href="/article/category/' + type['value'] +
                                        '">' + type['display_name'] + '</a>' +
                                        '<a target="_blank" href="/article/details/' + article_id + '">' +
                                        '<i class="iconfont icon-view"></i>' + page_views +
                                        '</a>' +
                                        '<a target="_blank" href="/article/details/' + article_id + '#comments">' +
                                        '<i class="iconfont icon-message"></i>' + comment_times +
                                        '</a>' +
                                        '<span><i class="iconfont icon-like"></i>' + praise_times + '</span>' +
                                        '</div>' +
                                        '</div>' +
                                        '</li>';
                                $(".note-list").append(str);
                            });
                            $("img.lazy").lazyload({
                                effect: "fadeIn"
                            });
                            if (!json.has_more) {
                                $("#btn_read_more").hide();
                                $(".read-more .not-more-content").show();
                                return false;
                            }
                            $("#btn_read_more").show();
                        } else {
                            $("#btn_read_more").hide();
                            $(".read-more .not-more-content").show();
                            return false;
                        }
                    });
        }
    </script>
    <script>
        $(function () {
            $("#btn_read_more").click(function () {
                ajax_get_article()
            });
            ajax_get_article();
        });
    </script>
{% endblock %}