{% extends "base.html" %}
{% block title %}<title>LOVEITERS{% ifnotequal article_type.value 0 %} | {{ article_type.display_name }}{% endifnotequal %}</title>{% endblock %}
{% block extra_header %}
    <link href="/static/css/index.css" rel="stylesheet">
    <!--
    <link rel="stylesheet" href="/static/css/slideshows.css" />
    <script src="/static/js/jquery.cycle.all.js"></script>
    -->
    <script src="/static/js/jquery.easing.1.3.js"></script>
    <script src="/static/js/time_desc.js"></script>
{% endblock %}
{% block content %}
    <div class="container index">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 main">
                <!--
                <div class="row">
                    <div class="ss2_wrapper">
			            <a href="#" class="slideshow_prev"><span>Previous</span></a>
			            <a href="#" class="slideshow_next"><span>Next</span></a>

			            <div class="slideshow_box">
				            <div class="data"></div>
			            </div>

			            <div id="slideshow_2" class="slideshow">
                        {% for hot_articles_brief in hot_articles_briefs %}
                            <div class="slideshow_item">
					            <div class="image"><a href="{% url 'article:details' hot_articles_brief.article_id %}" target="_blank"><img {% if hot_articles_brief.cover_photo %}src="{{ hot_articles_brief.cover_photo }}"{% else %}src="/media/article/cover/default_cover.jpg"{% endif %} alt="{{ hot_articles_brief.title }}"/></a></div>
					            <div class="data">
						            <h4><a href="{% url 'article:details' hot_articles_brief.article_id %}" target="_blank">{{ hot_articles_brief.title }}</a></h4>
						            <p>{{ hot_articles_brief.abstract }}</p>
					            </div>
				            </div>
                        {% endfor %}
			            </div>
		            </div>
                </div>-->
                    <div id="list-container">
                        <ul class="note-list">

                        </ul>
                        <div class="read-more text-center">
                            <input type="hidden" value="{{ article_type.value }}" id="article_type">
                            <button class="btn btn-default btn-info" id="btn_read_more" style="outline: none;">阅读更多</button>
                            <p class="text-center not-more-content">更多内容，敬请期待...</p>
                        </div>
                    </div>
            </div>

        </div><!--/row-->
    </div><!--/.container-->
{% endblock %}

{% block extra_js %}
    <!--
    <script>
        $('#slideshow_2').cycle({
            fx: 'fade',
		    speed: 900,
		    timeout: 5000,
		    pager: '.ss2_wrapper .slideshow_paging',
            prev: '.ss2_wrapper .slideshow_prev',
            next: '.ss2_wrapper .slideshow_next',

		    before: function(currSlideElement, nextSlideElement) {
			    var data = $('.data', $(nextSlideElement)).html();
			    $('.ss2_wrapper .slideshow_box').stop(true, true).animate({ bottom:'-110px'}, 400, function(){
				    $('.ss2_wrapper .slideshow_box .data').html(data);
			    });
			    $('.ss2_wrapper .slideshow_box').delay(100).animate({ bottom:'0'}, 400);
		    }
        });

	    $('.ss2_wrapper').mouseenter(function(){
		    $('#slideshow_2').cycle('pause');
		    $('.ss2_wrapper .slideshow_prev').stop(true, true).animate({ left:'20px'}, 200);
		    $('.ss2_wrapper .slideshow_next').stop(true, true).animate({ right:'20px'}, 200);
        }).mouseleave(function(){
		    $('#slideshow_2').cycle('resume');
		    $('.ss2_wrapper .slideshow_prev').stop(true, true).animate({ left:'-40px'}, 200);
		    $('.ss2_wrapper .slideshow_next').stop(true, true).animate({ right:'-40px'}, 200);
        });
    </script>
    -->

    <!--发布时间描述-->
    <script>
        function timeDesc() {
            $("span.time").each(function () {
                var time_str = this.dataset.release_at;
                var time_desc = getDateDiff(time_str);
                $(this).text(time_desc)
            })
        }
    </script>

    <script type="text/javascript">
            var page_index = 1;
            function ajax_get_article() {
                    $.getJSON("{% url 'api:articles' %}",
                            {
                                'page': page_index,
                                'article_type': $("#article_type").val(),
                                'is_released': 1
                            }, function(json) {
                            if (json.hasOwnProperty('results') && json.results.length > 0) {
                                var str = "";
                                $.each(json.results, function(index, array) {
                                    var article_id = array['article_id'];
                                    var title = array['title'];
                                    var type = array['type'];
                                    var cover_photo = array['cover_photo'];
                                    var abstract = array['abstract'];
                                    var comment_times = array['comment_times'];
                                    var praise_times = array['praise_times'];
                                    var release_time = array['release_time'];
                                    var page_views = array['page_views'];
                                    var author = array['author'];
                                    var str = '<li id="article-' + article_id + '" data-article_id="' + article_id + '">';

                                    str += '<div class="content">' +
                                        '<div class="author">' +
                                            '<a class="avatar" target="_blank" href="/article/author/' + author['user_id'] + '">' +
                                                '<img src="' + author['avatar'] + '" alt="' + author['username'] + '"/>' +
                                            '</a>' +
                                            '<div class="info">' +
                                                '<a class="nickname" target="_blank" href="/article/author/' + author['user_id'] + '">' +
                                                 author['username'] + '</a>' +
                                                '<span class="time" data-release_at="' + release_time + '">' + '</span>' +
                                            '</div>' +
                                        '</div>' +
                                        '<div';
                                    if (cover_photo) {
                                        str += ' class="with-img">'
                                    }
                                    else {
                                        str += '>'
                                    }
                                    if (cover_photo) {
                                        str += '<a class="wrap-img" href="/article/details/' + article_id + '" target="_blank">' +
                                                '<img class="img-blur" src="' + cover_photo + '" alt="' + title + '"/>' +
                                                '</a>';
                                    }
                                    str += '<a class="title" target="_blank" href="/article/details/' + article_id  + '">' + title + '</a>' +
                                        '<p class="abstract">' + abstract + '</p>' +
                                        '</div>' +
                                        '<div class="meta">' +
                                            '<a class="collection-tag" target="_blank" href="/article/category/' + type['value'] +
                                            '">' + type['display_name'] + '</a>' +
                                            '<a target="_blank" href="/article/details/' + article_id + '">' +
                                                '<i class="iconfont icon-view"></i>' + page_views +
                                            '</a>' +
                                            '<a target="_blank" href="/article/details/' + article_id  + '#comments">' +
                                                '<i class="iconfont icon-message"></i>' + comment_times +
                                            '</a>' +
                                            '<span><i class="iconfont icon-like"></i>' + praise_times + '</span>' +
                                        '</div>' +
                                        '</div>' +
                                        '</li>';
                                    $(".note-list").append(str);
                                });
                                timeDesc();
                                if (!json.next) {
                                    $("#btn_read_more").hide();
                                    $(".read-more .not-more-content").show();
                                    return false;
                                }
                                page_index++;
                            } else {
                                $("#btn_read_more").hide();
                                $(".read-more .not-more-content").show();
                                return false;
                            }
                        });
            }
            $(function() {
                ajax_get_article();
                $("#btn_read_more").click(function() {
                    ajax_get_article()
                });
            });
    </script>
{% endblock %}