{% extends "base.html" %}
{% block title %}<title>关于我们</title>{% endblock %}
{% block extra_header %}
    <link href="/static/css/site_info/site_info.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-3">
                <ul class="menu">
                    <li class="menu-item active">
                        <a href="{% url 'aboutus' %}">关于我们</a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'disclaimer' %}">免责声明</a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'downloads' %}">资料下载</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9" style="min-height:500px;">
                <div class="article">
                    <div class="article-heading">
                        <h2>关于我们</h2>
                    </div>
                    <div class="article-body">
                        <p>LOVEITERS为个人网站，主要提供编程技术、历史、数码资讯、读书笔记等内容的分享。</p>
                        <p>LOVEITERS的 Slogan 为：爱IT，爱生活</p>
                        <p>本站域名为 loveiters.com, loveiters为Love IT ers的缩写，意为：热爱IT的小伙伴们。</p>
                        <p>本站热衷于分享各种编程语言技术，所有资源是完全免费的，并且会根据互联网技术的发展实时更新本站内容。</p>
                        <p>由于站主个人精力有限，本站内容有不足的地方，欢迎广大编程爱好者反馈建议。</p>
                    </div>

                </div>
            </div>
        </div>
    </div><!--/.container-->
{% endblock %}