{% extends "base.html" %}
{% block title %}<title>免责声明</title>{% endblock %}
{% block extra_header %}
<link href="/static/css/site_info/site_info.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-2">
                <div class="sidebar-box">
                    <div class="list-group">
                        <a class="list-group-item" href="javascript:void(0)" title="关于我们">关于我们</a>
                        <a class="list-group-item active" href="{% url 'disclaimer' %}">免责声明</a>
                        <a class="list-group-item" href="javascript:void(0)" target="_blank" title="资料下载">资料下载</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="article">
                    <div class="article-heading">
                        <h2>免责声明</h2>
                    </div>
                    <div class="article-body">
                        <h3>版权信息</h3>
                        <hr>
                        <p>本网站属于个人的非赢利性网站，转载的文章遵循原作者的版权声明，如果原文没有版权声明，按照目前互联网开放的原则，我们将在不通知作者的情况下，转载文章;</p>
                        <p>如果原文明确注明“禁止转载”，我们一定不会转载。如果我们转载的文章不符合作者的版权声明或者作者不想让我们转载您的文章的话，请来信告知：xingwang@loveiters.com</p>
                        <p>本网站转载文章仅为传播更多信息之目的，凡在本网站出现的信息，均仅供参考。本网站将尽力确保所提供信息的准确性及可靠性，但不保证信息的正确性和完整性，且不对因信息的不正确或遗漏导致的任何损失或损害承担责任。</p>
                        <p>任何透过本网站网页而链接及得到的资讯、产品及服务，本网站概不负责，亦不负任何法律责任。</p>
                        <p>本网站所刊发、转载的文章，其版权均归原作者所有，如其他媒体、网站或个人从本网下载使用，请在转载有关文章时务必尊重该文章的著作权，保留本网注明的“稿件来源”，并自负版权等法律责任。</p>
                        <hr>
                        <h3>链接到LOVEITERS</h3>
                        <hr>
                        <p>任何网站都可以链接到LOVEITERS的任何页面。
                        </p>
                        <p>如果您需要在对少量内容进行引用，请务必在引用该内容的页面添加指向被引用页面的链接。</p>
                        <hr>
                        <h3>保证</h3>
                        <hr>
                        <p>LOVEITERS不提供任何形式的保证。所有与使用本站相关的直接风险均由用户承担。LOVEITERS提供的所有编程代码均为实例，并不对性能、适用性、适销性或/及其他方面提供任何保证。</p>
                        <p>
                            LOVEITERS的内容可能包含不准确性或错误。LOVEITERS不对本网站及其内容的准确性进行保证。如果您发现本站点及其内容包含错误，请联系我们以便这些错误得到及时的更正：xingwang@loveiters.com
                        </p>
                        <hr>
                        <h3>您的行为</h3>
                        <hr>
                        <p>当您浏览本网站时，说明您已经同意并接受本页面的所有信息。</p>
                        <hr>
                        <h3>联系方式</h3>
                        <hr>
                        <p>联系邮箱：xingwang@loveiters.com（或1585577468@qq.com）</p>
                        <p>QQ：1585577468</p>

                    </div>

                </div>
            </div>
        </div>
    </div><!--/.container-->
{% endblock %}