<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="LOVEITERS是一个分享社区，在这里，你可以分享技术干货，分享读书心得，分享生活的点点滴滴，社区因你而不同。">
    <meta name="keywords" content="HTML, CSS, JS, JavaScript, Jquery, bootstrap, Python, Django，博客">
    <meta name="author" content="tony">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">

    {% block title %} {% endblock %}
    <link rel="stylesheet" href="/static/mui/css/mui.min.css">
    <link rel="stylesheet" href="/static/mui/css/mui.show_loading.css">
    <link rel="stylesheet" href="/static/mui/css/icons-extra.css">
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/jquery-2.1.4/jquery.min.js"></script>
    <script src="/static/mui/js/mui.min.js"></script>
    <script src="/static/mui/js/mui.show_loading.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jquery.csrf.token.js"></script>
    <script src='/static/js/flexiable.min.js'></script>
    <script src="/static/js/time_desc.js"></script>
    {% block extra_header %} {% endblock %}
</head>

<body>
{% block content %}
{% endblock %}
<script>
    mui('body').on('tap', '.go-to-index', function () {
        window.location.href = "{% url 'index' %}";
    });

    mui('header').on('tap', '.mui-action-back', function () {
        if (mui.os.ios) {
            history.go(-1)
        }
    });

    mui('.mui-bar-tab').on('tap', 'a.mui-tab-item', function () {
        window.location.href = this.href;
    });

    mui.ready(function () {
        var isLogin = {% if user.is_authenticated %}true{% else %}false{% endif %};
        var not_viewed_count_badge = mui('#not_viewed_count');
        if (not_viewed_count_badge.length > 0 && isLogin) {
            $.ajax({
                type: "GET",
                url: "{% url 'api:user_not_viewed_messages' %}",
                data: {
                    'user_id': {{ user.id }}
                },
                dataType: 'json',
                success: function (json) {
                    var not_viewed_count_badge = document.getElementById('not_viewed_count');
                    var not_viewed_comment_count = json.data.not_viewed_comment_count;
                    var not_viewed_praises_count = json.data.not_viewed_praises_count;
                    var not_viewed_count = parseInt(not_viewed_comment_count) + parseInt(not_viewed_praises_count);
                    not_viewed_count_badge.innerHTML = not_viewed_count.toString();
                    if (not_viewed_count > 0) {
                        jQuery(not_viewed_count_badge).removeClass('mui-hidden')
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var response_json = XMLHttpRequest.responseJSON;
                    console.log(esponse_json.msg);
                    return false
                }
            })
        }
    });
</script>
{% block extra_js %}
{% endblock %}
</body>
</html>
