{% extends "base.html" %}
{% block title %}<title>{{ article_type.display_name }} LOVEITERS</title>{% endblock %}
{% block content %}
    <header class="mui-bar mui-bar-nav">
        <h1 class="mui-title">
            {% if article_type.value != 0 %}{{ article_type.display_name }}{% else %}LOVEITERS{% endif %}
        </h1>
        <a class="avatar mui-pull-right" href="javascript:void (0)">
            <img src="{% if user.is_authenticated %}{{ user.profile.avatar.url }}{% else %}/media/avatar/default_avatar.jpg{% endif %}" alt="头像">
        </a>
    </header>
    <div class="mui-content">
        <div id="slider" class="mui-slider mui-fullscreen">
            <div id="sliderSegmentedControl"
                 class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted background-white">
                <div class="mui-scroll">
                    <a href="#tab0" class="mui-control-item mui-active">
                        All
                    </a>
                    <a href="#tab1" class="mui-control-item">
                        Python
                    </a>
                    <a href="#tab2" class="mui-control-item">
                        Linux
                    </a>
                    <a href="#tab3" class="mui-control-item">
                        Django
                    </a>
                    <a href="#tab4" class="mui-control-item">
                        前端技术
                    </a>
                    <a href="#tab5" class="mui-control-item">
                        随笔
                    </a>
                    <a href="#tab6" class="mui-control-item">
                        历史
                    </a>
                    <a href="#tab7" class="mui-control-item">
                        数码资讯
                    </a>
                    <a href="#tab8" class="mui-control-item">
                        读书
                    </a>
                    <a href="#tab9" class="mui-control-item">
                        问答
                    </a>
                    <a href="#tab10" class="mui-control-item">
                        话题
                    </a>
                </div>
            </div>
            <div class="mui-slider-group">
                <div id="tab0" class="mui-slider-item mui-slider-item-no-border mui-control-content mui-active">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="article-container">
                                <ul class="article-list">
                                </ul>
                                <input type="hidden" value="0" name="article_type">
                                <input type="hidden" value="1" name="page_index">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab1" class="mui-slider-item mui-slider-item-no-border mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="article-container">
                                <ul class="article-list">

                                </ul>
                                <input type="hidden" value="1" name="article_type">
                                <input type="hidden" value="1" name="page_index">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="mui-slider-item mui-slider-item-no-border mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="article-container">
                                <ul class="article-list">

                                </ul>
                                <input type="hidden" value="2" name="article_type">
                                <input type="hidden" value="1" name="page_index">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab3" class="mui-slider-item mui-slider-item-no-border mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="article-container">
                                <ul class="article-list">

                                </ul>
                                <input type="hidden" value="3" name="article_type">
                                <input type="hidden" value="1" name="page_index">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab4" class="mui-slider-item mui-slider-item-no-border mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="article-container">
                                <ul class="article-list">

                                </ul>
                                <input type="hidden" value="4" name="article_type">
                                <input type="hidden" value="1" name="page_index">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab5" class="mui-slider-item mui-slider-item-no-border mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="article-container">
                                <ul class="article-list">

                                </ul>
                                <input type="hidden" value="5" name="article_type">
                                <input type="hidden" value="1" name="page_index">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab6" class="mui-slider-item mui-slider-item-no-border mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="article-container">
                                <ul class="article-list">
                                </ul>
                                <input type="hidden" value="6" name="article_type">
                                <input type="hidden" value="1" name="page_index">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab7" class="mui-slider-item mui-slider-item-no-border mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="article-container">
                                <ul class="article-list">

                                </ul>
                                <input type="hidden" value="7" name="article_type">
                                <input type="hidden" value="1" name="page_index">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab8" class="mui-slider-item mui-slider-item-no-border mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="article-container">
                                <ul class="article-list">

                                </ul>
                                <input type="hidden" value="8" name="article_type">
                                <input type="hidden" value="1" name="page_index">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab9" class="mui-slider-item mui-slider-item-no-border mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="article-container">
                                <ul class="article-list">

                                </ul>
                                <input type="hidden" value="9" name="article_type">
                                <input type="hidden" value="1" name="page_index">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab10" class="mui-slider-item mui-slider-item-no-border mui-control-content">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="article-container">
                                <ul class="article-list">

                                </ul>
                                <input type="hidden" value="10" name="article_type">
                                <input type="hidden" value="1" name="page_index">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item mui-active" id="reload_index" href="javascript:void(0);">
            <span class="mui-icon mui-icon-home"></span>
        </a>
        <a class="mui-tab-item" id="user_messages" href="#">
            <span class="mui-icon-extra mui-icon-extra-notice">
                <!--<span class="mui-badge">9</span>-->
            </span>
        </a>
        <a class="mui-tab-item" id="go_to_user_center" href="javascript:void(0)">
            <span class="mui-icon-extra mui-icon-extra-people"></span>
        </a>
    </nav>
    <!-- off-canvas backdrop -->
    <div class="mui-off-canvas-backdrop"></div>
{% endblock %}

{% block extra_js %}
    <script src="/static/mui/js/mui.pullToRefresh.js"></script>
    <script src="/static/mui/js/mui.pullToRefresh.material.js"></script>
    <script>
        mui.init();

        var articlesApiUrl = "{% url 'api:articles' %}";

        mui('.article-list').on('tap', 'li.article', function () {
            var article_id = this.dataset.article_id;
            document.location.href = '/article/details/' + article_id;
        });

        mui('header').on('tap', '.avatar', function () {
            location.href =  "{% url 'account:user_center' %}";
        });

        mui('body').on('tap', '#reload_index', function () {
            location.reload()
        });

        mui('body').on('tap', '#user_messages', function () {
            location.href =  "{% url 'account:user_messages' %}";
        });

        mui('body').on('tap', '#go_to_user_center', function () {
             document.location.href = "{% url 'account:user_center' %}";
        });

        (function ($) {
            $('.mui-scroll-wrapper').scroll({
                bounce: false,
                indicators: true
            });
            $.ready(function () {
                document.querySelector('.mui-slider').addEventListener('slide', function (event) {
                    var acticeSliderItem = document.querySelectorAll('.mui-slider .mui-slider-group .mui-slider-item')[event.detail.slideNumber];
                    var activeScroll = acticeSliderItem.querySelector('.mui-scroll');
                    var articles_ul = acticeSliderItem.querySelector('.article-list');
                    if (articles_ul.querySelectorAll('li').length == 0) {
                        var page_index = activeScroll.querySelector('input[name="page_index"]');
                        var article_type = activeScroll.querySelector('input[name="article_type"]');
                        page_index.value = 1;
                        var page = 1;
                        $.ajax({
                            type: 'GET',
                            url: articlesApiUrl,
                            data: {
                                'page': page,
                                'article_type': article_type.value,
                                'is_released': 1
                            },
                            dataType: 'json',
                            success: function (json) {
                                if (json.hasOwnProperty('results') && json.results.length > 0) {
                                    articles_ul.appendChild(create_article(json));
                                }
                                page++;
                                page_index.value = page;
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                var response_json = XMLHttpRequest.responseJSON;
                                console.log(response_json.msg);
                                return false
                            }
                        });
                    }
                });

                var dpr = lib.flexible.dpr || 1;
                //循环初始化所有下拉刷新，上拉加载。
                $.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function (index, pullRefreshEl) {
                    $(pullRefreshEl).pullToRefresh({
                        down: {
                            height: 30 * dpr,
                            callback: pullDownRefresh
                        },
                        up: {
                            auto: index == 0,
                            callback: pullUpRefresh
                        }
                    });
                });
            });
        })(mui);

        function create_article(json) {
            var fragment = document.createDocumentFragment();
            var li;
            mui.each(json.results, function (index, array) {
                var article_id = array['article_id'];
                var title = array['title'];
                var type = array['type'];
                var cover_photo = array['cover_photo'];
                var abstract = array['abstract'];
                var release_time = array['release_time'];
                var release_time_desc = getDateDiff(release_time);
                var author = array['author'];
                li = document.createElement('li');
                li.className = 'article';
                li.dataset.article_id = article_id;
                var str = '<div class="content">';
                if (cover_photo) {
                    str += '<img class="cover-photo" src="' + cover_photo +
                            '" alt="' + title + '">';
                }
                str += '<p class="title">' + title + '</p>' +
                        '<p class="abstract">' + abstract + '</p>' +
                        '<div class="meta">' +
                        '<span class="time">' + release_time_desc + '</span>' +
                        '<span class="nickname">by ' + author['username'] + '</span>' +
                        '</div>' +
                        '</div>';
                li.innerHTML = str;
                fragment.appendChild(li);
            });
            return fragment;
        }
        function pullUpRefresh() {
            var self = this;
            var scroll_div = this.element;
            var ul = scroll_div.querySelector('.article-list');
            var page_index = scroll_div.querySelector('input[name="page_index"]');
            var article_type = scroll_div.querySelector('input[name="article_type"]');
            var page = page_index.value;
            setTimeout(function () {
                $.ajax({
                    type: 'GET',
                    url: articlesApiUrl,
                    data: {
                        'page': page,
                        'article_type': article_type.value,
                        'is_released': 1
                    },
                    dataType: 'json',
                    success: function (json) {
                        if (json.hasOwnProperty('results') && json.results.length > 0) {
                            ul.appendChild(create_article(json));
                            self.endPullUpToRefresh(!json.next);
                            if (json.next) {
                                page++;
                                page_index.value = page
                            }
                        } else {
                            self.endPullUpToRefresh(true);
                        }
                    },
                    error: function () {
                        self.endPullUpToRefresh(true);
                    }
                });
            }, 0);
        }
        function pullDownRefresh() {
            var self = this;
            var scroll_div = this.element;
            var ul = scroll_div.querySelector('.article-list');
            ul.innerHTML = '';
            var page_index = scroll_div.querySelector('input[name="page_index"]');
            var article_type = scroll_div.querySelector('input[name="article_type"]');
            page_index.value = 1;
            var page = 1;
            setTimeout(function () {
                $.ajax({
                    type: 'GET',
                    url: articlesApiUrl,
                    data: {
                        'page': page,
                        'article_type': article_type.value,
                        'is_released': 1
                    },
                    dataType: 'json',
                    success: function (json) {
                        if (json.hasOwnProperty('results') && json.results.length > 0) {
                            ul.appendChild(create_article(json));
                            self.endPullDownToRefresh(!json.next);
                            self.refresh(true);
                            self.endPullUpToRefresh(!json.next);
                            if (json.next) {
                                page++;
                                page_index.value = page;
                            }
                        } else {
                            self.endPullDownToRefresh(true);
                            self.refresh(true);
                            self.endPullUpToRefresh(true);
                        }
                    },
                    error: function () {
                        self.endPullDownToRefresh(true);
                        self.refresh(true);
                        self.endPullUpToRefresh(true);
                    }
                });
            }, 200);
        }
    </script>
{% endblock %}