ul, ol {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

p {
    font-size: 16px;
    color: #333;
}

code, kbd, pre, samp {
    font-size: 16px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -webkit-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

form {
    font-size: 16px;
}

input, select, textarea {
    font-size: 16px;
}

.mui-scroll {
    padding-bottom: 60px;
}

.mui-bottom-bar {
    bottom: 0;
    -webkit-box-shadow: 0 1px 6px #ccc;
    box-shadow: 0 1px 6px #ccc;
}

.mui-bottom-bar .write-comment {
    padding: 10px 0 10px 5px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.mui-bottom-bar .write-comment .tips {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.mui-input-group:first-child {
    margin-top: 10px;
}

.mui-input-group label {
    width: 22%;
}

.mui-input-row label ~ input,
.mui-input-row label ~ select,
.mui-input-row label ~ textarea {
    width: 78%;
}

.mui-table-view {
    margin-top: 20px;
    font-size: 16px;
}

form .mui-table-view:before {
    left: 15px;
}

.mui-input-group .mui-input-row.last:after {
    left: 0;
}

.mui-popover.mui-popover-action .mui-table-view {
    margin: 0;
    text-align: center;
    color: #007aff;
    border-radius: 0;
}

.mui-popover.mui-popover-action .mui-table-view .mui-table-view-cell span {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.mui-popover.mui-popover-action .mui-table-view:last-child {
    margin-top: 10px;
    margin-bottom: 0;
}

.mui-popover.mui-popover-action .mui-table-view .mui-table-view-cell:last-child:after {
    height: 0;
}

.mui-popover.mui-popover-action .mui-table-view .mui-table-view-cell > a:not(.mui-btn){
    color: #000;
}

.mui-content-padded {
    margin-top: 25px;
}

.mui-btn {
    padding: 10px;
}

.mui-btn-block {
    font-size: 16px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.mui-bar ~ .mui-content .mui-fullscreen {
    top: 44px;
    height: auto;
}

.mui-pull-top-tips {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -25px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 2;
}

.mui-bar ~ .mui-pull-top-tips {
    top: 24px;
}

.mui-pull-top-wrapper {
    width: 42px;
    height: 42px;
    display: block;
    text-align: center;
    background-color: #efeff4;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-clip: padding-box;
    box-shadow: 0 4px 10px #bbb;
    overflow: hidden;
}

.mui-pull-top-tips.mui-transitioning {
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.mui-pull-top-tips .mui-pull-loading {
    margin: 0;
}

.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
    margin-top: 7px;
}

.mui-pull-bottom-tips {
    text-align: center;
    background-color: #efeff4;
    font-size: 15px;
    line-height: 40px;
    color: #777;
}

.mui-pull-top-canvas {
    overflow: hidden;
    background-color: #fafafa;
    border-radius: 40px;
    box-shadow: 0 4px 10px #bbb;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.mui-pull-top-canvas canvas {
    width: 40px;
}

.mui-slider-indicator.mui-segmented-control {
    background-color: #fff;
}

.mui-off-canvas-left, .mui-off-canvas-right {
    width: 60%;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item {
    border-top: 0;
    border-bottom: 0;
}

.mui-toast-container {
    bottom: 40% !important;
}

.mui-toast-message {
    width: 250px;
    padding: 15px 10px;
}

.mui-preview-image.mui-fullscreen {
    position: fixed;
    z-index: 20;
    background-color: #000;
}

.mui-preview-header,
.mui-preview-footer {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
}

.mui-preview-header {
    height: 44px;
    top: 0;
}

.mui-preview-footer {
    height: 50px;
    bottom: 0;
}

.mui-preview-header .mui-preview-indicator {
    display: block;
    line-height: 25px;
    color: #fff;
    text-align: center;
    margin: 20px 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    font-size: 16px;
}

.mui-preview-image {
    display: none;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.mui-preview-image.mui-preview-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.mui-preview-image.mui-preview-out {
    background: none;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
    display: none;
}

.mui-zoom-scroller {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-backface-visibility: hidden;
    background-color: #000;
}

.mui-zoom {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
    display: inline-table;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
    display: table-cell;
    vertical-align: middle;
}

.mui-preview-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.mui-preview-loading.mui-active {
    display: block;
}

.mui-preview-loading .mui-spinner-white {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    height: 50px;
    width: 50px;
}

.mui-preview-image img.mui-transitioning {
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.mui-bar-tab .mui-tab-item.mui-active {
    color: #333;
}

.mui-bar-nav .mui-search {
    position: absolute;
    right: 0;
    width:80%;
    margin-top: 2px;
    margin-left: 15%;
    margin-right: 15px;
}

.mui-search .mui-placeholder {
    left: 8px;
    text-align: left;
    pointer-events: none;
}

.mui-bar-nav .mui-search input[type="search"] {
    border-radius: 15px;
}

.mui-zoom-scroller img {
    max-width: 100%;
    max-height: 100%;
}

.background-white {
    background-color: #fff;
}

header .avatar {
    margin: 6px 0;
    width: 32px;
    height: 32px;
}

.aside-menu {
    list-style: none;
    padding-top: 36px;
    padding-left: 0;
    text-align: center;
    font-size: 16px;
}

.aside-menu li.aside-menu-item a {
    display: block;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.aside-menu li.aside-menu-item a.active {
    background: lightskyblue;;
}

.aside-menu .aside-menu-item a span {
    color: #000;
}

.separate-line {
    width: 20%;
    border: 2px solid #000;
    margin: 10px 0;
}

.separate-line-15 {
    margin-top: 15px;
}

.separate-title {
    margin-top: 10px;
    color: #333;
}

.article .title, .abstract {
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
}

.title {
    font-weight: bold;
    font-size: 18px;
    color: #000;
}

.abstract {
    -webkit-line-clamp: 3;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.article .title {
    -webkit-line-clamp: 2;
}

.article-container {
    padding: 10px 0;
}

.article-list {
    margin: 0;
    padding: 0;
}

.article {
    width: 100%;
    position: relative;
    padding: 15px;
    margin-bottom: 12px;
    background: #fff;
}

.article.with-img {
    padding-right: 150px;
    min-height: 120px;
}

.cover-container {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 120px;
    height: 90px;
}

.cover-container img {
    width: 100%;
    height: 100%;
}

.article .title, .article .abstract {
    margin-bottom: 8px;
}

.article .meta {
    position: relative;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.article .meta span + span:before {
    padding: 5px;
    content: "";
}

.avatar {
    display: block;
    width: 40px;
    height: 40px;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    vertical-align: middle;
}

.text-time {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.no-more-text {
    display: none;
    font-size: 14px;
    color: #777;
    text-align: center;
}

.check-more-link {
    display: none;
    font-size: 14px;
    text-align: center;
}

.mui-popover p.reply-tips {
    background-color: #fff;
    padding: 8px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin:0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.mui-popover p.reply-tips a {
    color: rgba(0, 0, 0, 0.6)
}

.comment-box {
    position: relative;
}

.comment-box textarea {
    display: block;
    width: 100%;
    min-height: 80px;
    max-height: 110px;
    padding-right: 55px;
    margin-bottom: 0;
    font-size: 16px;
    border: 0;
    border-radius: 0;
    overflow-y: auto;
}

.comment-box #send-text {
    position: absolute;
    top: 12px;
    font-size: 46px;
    line-height: 46px;
    width: 55px;
    height: 55px;
    text-align: center;
    vertical-align: middle;
    right: 0;
}

.popover-title {
    font-size: 16px;
    text-align: center;
    padding: 15px;
    margin: 0;
}

.close-popover {
    display: block;
    padding: 11px 15px;
    color: #000;
    font-size: 16px;
    text-align: center;
}

p.username, p.nickname, p.bio {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

p.username, p.nickname {
    font-size: 14px;
    margin-bottom: 2px;
}

p.bio {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

textarea.bio {
    max-height: 100px;
    overflow-y: auto
}

.user-summation {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0;
}

.user-summation .background {
    height: 150px;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    background-size: cover;
}

.background img {
    width: 100%;
    height: 100%;
}

.user-summation .avatar {
    width: 100px;
    height: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
}

.user-summation .avatar img {
    border: 2px solid #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.user-summation .content {
    padding: 15px;
    font-size: 14px;
}

.user-summation .nickname {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
}

.user-summation .bio {
    font-size: 14px;
}

.user-summation .meta .info-link {
    color: rgba(0, 0, 0, 0.6);
}

.user-summation .meta a {
   margin-right: 20px;
}

.user-summation .meta .number {
    margin-right: 2px;
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

.img-container, .img-preview {
    background-color: #000;
    text-align: center;
    width: 100%;
}

.img-container > img {
    max-width: 100%;
    height: auto;
}
