ul, ol {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

p {
    font-size: 16px;
    color: #333;
}

code, kbd, pre, samp {
    font-size: 16px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -webkit-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

form {
    font-size: 16px;
}

input, select, textarea {
    font-size: 16px;
}

.mui-bottom-bar {
    bottom: 0;
    -webkit-box-shadow: 0 1px 6px #ccc;
    box-shadow: 0 1px 6px #ccc;
}

.mui-bottom-bar .write-comment {
    padding: 10px 0 10px 5px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.mui-input-group:first-child {
    margin-top: 10px;
}

.mui-input-group label {
    width: 22%;
}

.mui-input-row label ~ input,
.mui-input-row label ~ select,
.mui-input-row label ~ textarea {
    width: 78%;
}

.mui-table-view {
    margin-top: 20px;
    font-size: 16px;
}

form .mui-table-view:before {
    left: 15px;
}

form .mui-table-view:after {
    left: 15px;
}

.mui-content-padded {
    margin-top: 25px;
}

.mui-btn {
    padding: 10px;
}

.mui-btn-block {
    font-size: 16px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.mui-bar ~ .mui-content .mui-fullscreen {
    top: 44px;
    height: auto;
}

.mui-pull-top-tips {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -25px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 2;
}

.mui-bar ~ .mui-pull-top-tips {
    top: 24px;
}

.mui-pull-top-wrapper {
    width: 42px;
    height: 42px;
    display: block;
    text-align: center;
    background-color: #efeff4;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-clip: padding-box;
    box-shadow: 0 4px 10px #bbb;
    overflow: hidden;
}

.mui-pull-top-tips.mui-transitioning {
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.mui-pull-top-tips .mui-pull-loading {
    margin: 0;
}

.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
    margin-top: 7px;
}

.mui-pull-bottom-tips {
    text-align: center;
    background-color: #efeff4;
    font-size: 15px;
    line-height: 40px;
    color: #777;
}

.mui-pull-top-canvas {
    overflow: hidden;
    background-color: #fafafa;
    border-radius: 40px;
    box-shadow: 0 4px 10px #bbb;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.mui-pull-top-canvas canvas {
    width: 40px;
}

.mui-slider-indicator.mui-segmented-control {
    background-color: #fff;
}

.mui-off-canvas-left, .mui-off-canvas-right {
    width: 60%;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item {
    border-top: 0;
    border-bottom: 0;
}

.mui-toast-container {
    bottom: 40% !important;
}

.mui-toast-message {
    width: 250px;
    padding: 15px 10px;
}

.mui-preview-image.mui-fullscreen {
    position: fixed;
    z-index: 20;
    background-color: #000;
}

.mui-preview-header,
.mui-preview-footer {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
}

.mui-preview-header {
    height: 44px;
    top: 0;
}

.mui-preview-footer {
    height: 50px;
    bottom: 0;
}

.mui-preview-header .mui-preview-indicator {
    display: block;
    line-height: 25px;
    color: #fff;
    text-align: center;
    margin: 20px 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    font-size: 16px;
}

.mui-preview-image {
    display: none;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.mui-preview-image.mui-preview-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.mui-preview-image.mui-preview-out {
    background: none;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
    display: none;
}

.mui-zoom-scroller {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-backface-visibility: hidden;
    background-color: #000;
}

.mui-zoom {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.mui-slider .mui-slider-group .mui-slider-item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
    display: inline-table;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
    display: table-cell;
    vertical-align: middle;
}

.mui-preview-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.mui-preview-loading.mui-active {
    display: block;
}

.mui-preview-loading .mui-spinner-white {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    height: 50px;
    width: 50px;
}

.mui-preview-image img.mui-transitioning {
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

p img {
    max-width: 100%;
    height: auto;
}

.mui-zoom-scroller img {
    max-width: 100%;
    max-height: 100%;
}

.background-white {
    background-color: #fff;
}

header .avatar {
    margin: 6px 0;
    width: 32px;
    height: 32px;
}

.aside-menu {
    list-style: none;
    padding-top: 36px;
    padding-left: 0;
    text-align: center;
    font-size: 16px;
}

.aside-menu li.aside-menu-item a {
    display: block;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.aside-menu li.aside-menu-item a.active {
    background: lightskyblue;;
}

.aside-menu .aside-menu-item a span {
    color: #000;
}

.separate-line {
    width: 20%;
    border: 2px solid #000;
    margin: 10px 0;
}

.separate-line-15 {
    margin-top: 15px;
}

.separate-title {
    margin-top: 10px;
    color: #333;
}

.article-container {
    padding: 10px 0;
}

.article-list {
    margin: 0;
    padding: 0;
}

.article-list li {
    width: 100%;
    position: relative;
    padding: 15px;
    margin-bottom: 12px;
    background: #fff;
}

.article-list li .img-container {
    width: 100%;
    max-height: 30%;
    margin-bottom: 10px;
}

.article-list li .img-container img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.article-list li .title {
    font-size: 18px;
    color: #000;
}

.article-list li .abstract {
    margin-top: 10px;
}

.article-list li .meta {
    position: relative;
    margin-top: 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.article-list li .meta span + span:before {
    padding: 0 8px;
    content: "/\00a0";
}

.avatar {
    display: block;
    width: 40px;
    height: 40px;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    vertical-align: middle;
}

.text-time {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.no-more-text {
    display: none;
    font-size: 14px;
    color: #777;
    text-align: center;
}

.check-more-link {
    display: none;
    font-size: 14px;
    text-align: center;
}

.comment-box {
    position: relative;
}

.comment-box textarea {
    display: block;
    width: 100%;
    height: 108px;
    padding-right: 55px;
    margin-bottom: 0;
    font-size: 16px;
    border: 0;
    border-radius: 0;
}

.comment-box #send-text {
    position: absolute;
    bottom: 22px;
    font-size: 46px;
    line-height: 55px;
    width: 55px;
    height: 55px;
    text-align: center;
    vertical-align: middle;
    right: 0;
}

.ul-select span {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.ul-select .mui-table-view-cell > a:not(.mui-btn) {
    color: #000;
}
