a, body {
    color: #333;
}

.index .main {
    min-height: 500px;
}

.note-list .author a {
    color: #333;
}

.author-info {
    margin: 0 auto 40px;
    padding: 25px 30px;
    border: 1px solid #f0f0f0;
    background-color: #fff;
    overflow: hidden;
}

.author-info .avatar, .author-info .info {
    display: inline-block;
    vertical-align: top;
}

.author-info .avatar {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.author-info .info {
    margin-top: 6px;
}

.author-info .info .nickname {
    display: block;
    font-size: 18px;
}

.author-info .info span {
    font-size: 13px;
    color: #969696;
    margin-top: 6px;
}

.author-info .info a {
    text-decoration: none;
}

.author-info .meta  {
    margin-top: 32px;
    padding-right: 0 !important;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px
}

.author-info .meta a {
    margin-right: 16px;
    color: #b4b4b4;
    text-decoration: none;
    vertical-align: middle;
}

.author-info .meta a, .author-info .meta a:hover {
    transition: .1s ease-in;
    -webkit-transition: .1s ease-in;
    -moz-transition: .1s ease-in;
    -o-transition: .1s ease-in;
    -ms-transition: .1s ease-in
}

.author-info .meta a:hover {
    color: #787878
}

.author-info .meta i {
    vertical-align: middle;
}

.author-info .meta span {
    display: inline-block;
    margin-right: 16px;
    color: #b4b4b4
}

.note-list {
    margin: 0;
    padding: 0;
    list-style: none
}

.note-list li {
    position: relative;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: -1px;
    word-wrap: break-word
}

.note-list li:first-child {
    border-top: 1px solid #f0f0f0;
}

.note-list li .with-img {
    position: relative;
    padding-right: 160px;
    min-height: 112px
}

.note-list li .with-img .wrap-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 112px;
}

.note-list li .with-img .wrap-img img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding: 10px 0 10px 10px;
    border: 1px solid transparent;
}

@media (max-width: 1080px) {
    .note-list li .with-img {
        min-height: 94px;
        padding-right: 135px;
    }

    .note-list li .with-img .wrap-img {
        width: 125px;
        height: 94px;
    }
}

.note-list .content .cancel {
    display: none
}

.note-list .content:hover .cancel {
    display: inline
}

.note-list .author {
    position: relative;
    margin-bottom: 14px;
    font-size: 13px
}

.note-list .author .avatar {
    position: absolute;
    top: 0;
    left: 0;
}

.note-list .author .info {
    display: block;
    width: 100%;
    padding: 0 50px;
}

.note-list .author .info .nickname {
    display: block;
    margin-top: 4px;
    vertical-align: middle
}

.note-list .author .info .badge-icon {
    width: 15px;
    height: 15px
}

.note-list .author .info span {
    display: block;
    color: #969696;
    vertical-align: middle;
    margin-top: 4px;
}

.note-list .author .info a {
    text-decoration: none;
}

.note-list .author .dropdown {
    position: absolute;
    top: 0;
    right: 0;
}

.note-list .author .dropdown-menu {
    min-width: 100%;
}

.note-list .author .dropdown-menu li {
    text-align: center;
    border: none;
    margin: 4px 0;
    padding: 4px 0;
}

.note-list .author .dropdown-menu i {
    margin-right: 10px;
    vertical-align: middle;
}

.note-list .author a {
    color: #333
}

.note-list .author a:hover {
    color: #2f2f2f
}

.note-list .author .time {
    color: #969696
}

.note-list .title {
    margin-bottom: 10px;
    display: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 2;
}

.note-list .title:hover {
    text-decoration: underline
}

.note-list .title:visited {
    color: #969696
}

.note-list .comment {
    font-size: 15px;
    line-height: 1.7
}

.note-list .comment a {
    color: #3194d0
}

.note-list .abstract {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px
}

.note-list .collection-tag {
    display: inline-block;
    padding: 3px 6px;
    margin-top: -1px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
    vertical-align: middle;
    color: #ea6f5a !important;
    height: 20px;
    border: 1px solid rgba(236, 97, 73, .7);
    border-radius: 10px;
}

.note-list .collection-tag, .note-list .collection-tag:hover {
    transition: .1s ease-in;
    -webkit-transition: .1s ease-in;
    -moz-transition: .1s ease-in;
    -o-transition: .1s ease-in;
    -ms-transition: .1s ease-in
}

.note-list .collection-tag:hover {
    color: #ec6149 !important;
    background-color: rgba(236, 97, 73, .05);
    border-color: #ec6149
}

.note-list .meta {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px
}

.note-list .meta a {
    margin-right: 10px;
    color: #b4b4b4;
    text-decoration: none;
    vertical-align: middle;
}

.note-list .meta a, .note-list .meta a:hover {
    transition: .1s ease-in;
    -webkit-transition: .1s ease-in;
    -moz-transition: .1s ease-in;
    -o-transition: .1s ease-in;
    -ms-transition: .1s ease-in
}

.note-list .meta a:hover {
    color: #787878
}

.note-list .meta i {
    vertical-align: middle;
    margin-right: 2px;
}

.note-list .meta span {
    margin-right: 10px;
    color: #b4b4b4
}

.index .main .split-line {
    margin: -5px 0 15px;
    border-top: 1px solid #f0f0f0
}

.index .main .load-more {
    width: 100%;
    border-radius: 20px;
    background-color: #a5a5a5
}

.index .main .load-more:hover {
    background-color: #9b9b9b
}

.sidebar-box {
    max-width: 165px;
}

.users-container {
    width: 100%;
    padding: 0;
    margin: 10px 0;
}

.users-list {
    padding: 0;
    margin: 0;
}

.user-item {
    position: relative;
    padding: 15px;
}

.user-item:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 88px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}

.user-item .avatar {
    position: absolute;
    top: 15px;
    left: 15px;
}

.user-item .avatar {
    width: 60px;
    height: 60px;
}

.user-item .user-info {
    position: relative;
    margin-left: 74px;
}

.user-item .user-info p {
    margin: 2px 0;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.user-item .user-info p:last-child {
    margin-bottom: 0;
}

.user-item .user-info .nickname {
    font-size: 16px;
    color: #333;
}

.user-item .user-info .bio {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
