/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body,
html {
  background-color: #F5FFFA;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-size: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

*, :after, :before {
    box-sizing: border-box;
}

.header {
  padding-top:20px;
  padding-bottom:20px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding-top:120px;
}

code {
  font-size: 80%;
}

nav .container {
    min-height: 62px;
}

.navbar .nav > li .dropdown-menu {
    min-width: 100%;
}

.navbar .nav > li:hover .dropdown-menu {
    display: block;
}

.navbar .nav > li .dropdown-menu a {
    text-align: center;
    margin: 8px 0 8px;
}

.navbar .nav > li .dropdown-menu i {
    margin-right: 10px;
    vertical-align: middle;
}

.sidebar-box .list-group-item{
    font-size: 14px;
    padding: 8px 14px;
}

.sidebar-box .list-group-item i {
    margin-right: 10px;
    vertical-align: middle;
}

.navbar-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.avatar {
    width: 42px;
    height: 42px;
    display: block;
    cursor: pointer;
}

.avatar img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
}

button {
    outline: none;
}

form {
    font-size: 14px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group button {
    margin-right: 20px;
}

.form-group i {
    margin-right: 6px;
    vertical-align: middle;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

.bs-docs-footer{
  padding-top:50px;
  padding-bottom:50px;
  margin-top:20px;
  color:#99979c;
  text-align:center;
  background-color: #222;
  border-color: #080808;
}
.bs-docs-footer ul{
  list-style-type: none
}

.bs-docs-footer a{
  color:#878B91;
  text-decoration:none;
}

.bs-docs-footer a:hover{
  color: #fff;
}

.bs-docs-footer .weibo-qrcode {
    width: 100px;
    height: 100px;
}

.bs-docs-footer .footer-message{
    margin-top: 20px;
    color:#878B91;
    font-size: 14px;
    line-height: 1.5em;
}

.bs-docs-footer .footer-message .on-file-img {
    margin-right: 5px;
    border: 0;
    vertical-align: middle;
}

.bs-docs-footer .footer-message .authorities {
    padding-left: 15px;
    padding-right: 15px;
}

.bs-docs-footer .footer-message .authorities>a+a:before {
    padding: 0 10px;
    color:#878B91;
    content: "|";
}

.bs-docs-footer-links{
  padding-left:0;
  margin-bottom:20px
}

.bs-docs-footer-links li{
  display:inline-block
}
.bs-docs-footer-links li+li{
  margin-left:15px
}

@media (min-width:768px){
  .bs-docs-footer{
    text-align:left
  }
  .bs-docs-footer p{
    margin-bottom:0
  }
}

.fixed-btn {
    position: fixed;
    right: 1%;
    bottom: 5%;
    font-size: 24px;
    z-index: 999;
}

@media (max-width: 1080px) {
    .fixed-btn {
        right: 2.5%;
    }
}

.fixed-btn a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #c2ccd1;
    border-radius: 50%;
    color: #2f2f2f;
    text-decoration: none;
    text-align: center;
}

.fixed-btn .back-to-top {
    display: none;
    margin-bottom: 10px;
}

.fixed-btn a:hover {
    color: #2f2f2f;
}

.fixed-btn a i {
    font-size: 16px;
    vertical-align: middle;
}

.iconfont {
    font-family:"iconfont" !important;
    font-size: 18px;
}

.read-more {
    margin-top: 20px;
    margin-bottom: 50px;
}

.read-more button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
}

.read-more .not-more-content {
    color: #8b8b8b;
    display: none;
    font-size: 90%;
}